<% content_for(:page_title, "Edits: #{@entity.name}") %>
<%= render partial: 'entities/header', locals: { entity: @entity } %>
<%= render partial: 'entities/actions', locals: { entity: @entity } %>

<% versions = EntityHistory.new(@entity).versions(page: @page).as_presenters %>

<div class="col-sm-12 nopadding">
  <%= render partial: 'entity_version', collection: versions, as: :version %>
</div>
