<div id="tags-container">
</div>
<br/>
<span id="tags-controls"></span>

<script>
 $(function(){
   tags.init(
     <%= raw(@list.tags_for(current_user).to_json) %>,
     "<%= raw(tags_list_path(@list)) %>",
     {
       container: '#tags-container',
       control: '#tags-controls',
       edit: '#tags-edit-button'
     },
     true
   );

 });
</script>
