<div id="tags-container">
</div>
<br/>
<span id="tags-controls"></span>

<script>
 $(function(){
   LittleSis.tags().init(
     <%= raw(@list.tags_for(current_user).to_json) %>,
     "<%= raw(tags_list_path(@list)) %>",
     true
   );

 });
</script>
