<div id="list-header" class="row mt-4 mb-2">
  <div class="col">
    <h1 class="multiline-text">
      <%= list_link(list) %>
    </h1>

    <div class="mt-1" id="list-description"><%= list.short_description %></div>
    <div class="mt-1" id="list-long-description"><%= list.description %></div>

  </div>

  <% if list.tags.count.positive? %>
    <div class="col-4 d-none d-md-block">
      <%= render partial: 'lists/tags', locals: { tags: list.tags, include_title: true } %>
    </div>
  <% end %>
</div>
