<div id="list-header">
  <div id="list-name"><%= list_link(list) %></div>
  <div id="list-description"><%= list.description %></div>
</div>

<% if list.default_topic.present? %>
  <strong>Default list for topic:</strong> <%= link_to(list.default_topic.name, list.default_topic) %>
  <br>
  <br>
<% end %>
