<% if @permissions[:editable] %>
  <div class="list-actions">
    <% if @permissions[:configurable] %>
      <%= link_to('edit', edit_list_path(list), class: 'btn btn-secondary') %>
      <%= link_to('delete', list_path(list), class: 'btn btn-secondary', method: :delete, data: { confirm: 'Are you sure you want to delete this list?' }) %>
    <% end %>
    
    <% if has_legacy_permission('bulker') %>
      <%= link_to('add bulk', entities_bulk_list_path(list), class: 'btn btn-secondary') %>
    <% end %>
    
    <input id="add-entity-input" type="text" class="form-control" placeholder="add entity">
  </div>
  <br>
<% end %>
