<% content_for(:page_title, sanitize(@list.name)) %>

<%= render partial: 'header', locals: { list: @list } %>
<%= render partial: "lists/tabs", locals: { list: @list, selected_tab: :edits } %>

<h2>Recent edits:</h2>

<% versions = ListHistory.new(@list).versions(page: @page).as_presenters %>

<div class="row">
  <div class="col-sm-12">
    <div id="record-history-container">
      <%= render partial: 'edits/record_history_table', locals: { versions: versions } %>
      <%= paginate versions %>
    </div>
  </div>
</div>
