<% content_for(:page_title, raw(@list.name)) %>

<%= render partial: 'header', locals: { list: @list } %>
<%= render partial: "lists/tabs", locals: { list: @list, selected_tab: :edits } %>

<h1>edits page here</h1>
