<h1 id="bulk-add-header">
  Add entities to <%= link_to @list.name, @list %>
</h1>
<div id="bulk-add-container">
  <script>
   bulkTable.init({
     domId:        "bulk-add-container",
     resourceId:   "<%= raw(@list.id) %>",
     resourceType: "lists",
     api: {
       searchEntity:       api.searchEntity,
       createEntities:     api.createEntities,
       createAssociations: api.addEntitiesToList
     }
   });
  </script>
</div>
