<div id="bulk-add-container">
  <input type = file id="csv-upload-button" text="upload">
  <script>
   bulkTable.init({
     rootId: "bulk-add-container",
     uploadButtonId: "csv-upload-button"
   });
  </script>
</div>
