<div id="add-entities-container">
  <input type = file id="csv-upload-button" text="upload">
  <script>
   bulkTable.init({
     rootId: "add-entities-container",
     uploadButtonId: "csv-upload-button"
   });
  </script>
</div>
