<% content_for(:page_title, sanitize(@list.name)) %>
<div id="list-sources-page">
  <%= render partial: 'header', locals: { list: @list } %>
  <%= render partial: "lists/tabs", locals: { list: @list, selected_tab: :sources } %>

  <div class="row">
    <div id="list-sources">
      <% @list.documents.each do |doc| %>
        <%= link_to(doc.name.presence || doc.url, doc.url) %><br>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? && @list.user_can_edit?(current_user) %>
    <div class="row top-3em">
      <div class="col-3">
        <%= link_to 'Add a new source', "/lists/#{@list.id}/add_source", class: "btn btn-primary", id: "add-new-reference-link", data: { turbo: true, turbo_frame: 'source-modal'} %>
      </div>
    </div>
    <turbo-frame id="source-modal">
    </turbo-frame>
  <% end %>
</div>
