<%= render partial: 'header', locals: { list: @list } %>

<h3 class="section">Relationship Data</h3>

<% cache([@list.cache_key, 'relationships'], expires_in: 1.day) do %>
  <%= render partial: 'relationships/datatable', locals: { table: RelationshipsDatatable.new(@list.entities) } %>
<% end %>
