<% username = @merge_request.user.username  %>

<div class="row">
  <div id="review-description" class="col-sm-12 nopadding">
    The following merge was requested by
    <%= link_to username, "/users/#{username}"%>
    at <%= LsDate.pretty_print(@merge_request.created_at) %>.
  </div>
</div>
