<h1>Bulk Add Relationships for <%= @entity.name %></h1>

<%= render partial: 'shared/entity_info', locals: { entity: @entity } %>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
	<%= select_builder @entity.primary_ext %>
    </div>
</div>

<div id="table" class="table-editable">
    <table class="table table-bordered">
	<thead>
	    <!-- <tr>
		 <th class="col-1">Name</th>
		 <th class="col-2">Entity Type</th>
		 <th class="col-3">Blurb</th>
		 <th class="col-4">Description1</th>
		 <th class="col-5">Description2</th>
		 <th class="col-6">Is Current</th>
		 <th class="col-7">Start Date</th>
		 <th class="col-8">End Date</th>
		 <th class="col-9">Board Member?</th>
		 <th class="col-10">Amount</th>
		 <th class="col-11">Reference URL</th>
		 <th class="col-12">Reference Name</th>
		 <th class="col-13">
		 <span class="glyphicon glyphicon-plus table-add"></span>
		 </th> -->
	    </tr>
	</thead>
	<tbody>
	</tbody>
    </table>
</div>
<!-- <span class="table-add glyphicon glyphicon-plus"></span></th> -->
<button id="export-btn" class="btn btn-primary">Export Data</button>
<p id="export"></p>
<script>
$(document).ready(function(){
   bulkAdd.init();
});
</script>

