<h1>Bulk Add Relationships for <%= @entity.name %></h1>

<%= render partial: 'shared/entity_info', locals: { entity: @entity } %>

<div class="row">
    <div class="col-sm-2 col-sm-offset-2"><strong>Relationship Category: </strong></div>
    <div class="col-sm-6">
	<%= select_builder @entity.primary_ext %>
    </div>
</div>

<div id="table" class="table-editable">
    <table class="table table-bordered">
    </table>
</div>

<button id="upload-btn" class="btn btn-primary">Upload Data</button>
<p id="export"></p>
<script>
$(document).ready(function(){
   bulkAdd.init();
});
</script>

