<div class="note">
	<div class="note_image"><%= user_image(note.user) %></div>
	<div class="note_user">
		<%= user_link(note.user) %>
	</div>
	<div class="note_body">
		<%= raw(note.body) %>
	</div>
	<div class="note_timestamp">
		<%= note_timestamp_link(note) %>
	</div>
</div>