<% content_for(:page_title, "User Notes") %>

<h1>User Notes</h1>

<%= render partial: "notes/search_with_pagination", locals: { notes: @notes } %>

<div class="spacer"> </div>

<div class="left_column">

<div class="notes_list">
<% cache(Cache.key_with_params("notes/index/#{current_username}", params.slice(:q, :page)), expires_in: 10.minutes) do %>
<% @notes.each do |note| %>
	<% if note.visible_to?(current_user) %>
		<%= render partial: "notes/note", locals: { note: note } %>
	<% end %>
<% end %>
<% end %>
</div>

<div class="spacer"> </div>
<%= paginate @notes %>

</div>