<div class="left_column">

<h1>Analyst Notes</h1>

<%= render partial: "notes/search_with_pagination", locals: { notes: @notes } %>

<% @notes.each do |note| %>
	<% if note.visible_to?(current_user) %>
		<%= render partial: "notes/note", locals: { note: note } %>
	<% end %>
<% end %>

<div class="spacer"> </div>
<%= paginate @notes %>

</div>