<div class="section_header">
	Analyst Notes
</div>

<%= paginate @notes %>

<% @notes.each do |note| %>
	<% if note.visible_to?(current_user) %>
		<%= render partial: "notes/note", locals: { note: note } %>
	<% end %>
<% end %>

<div class="spacer"> </div>
<%= paginate @notes %>
