[
  {
    "data": "id",
    "searchable": false,
    "orderable": false
  },
  {
    "data": "match",
    "render": function(data, type, row, meta ) {
      if(row['matched']) {
        return "<em>Already Matched</em>"
      } else {
        return '<a href="/external_entities/' + row.external_entity_id + '">match</a>'
      }
    },
    "searchable": false,
    "orderable": false
  },
  {
    "data": "data.names[0]",
    "searchable": true,
    "orderable": false
  },
  {
    "data": "data.latest_aum",
    "render": function(data) {
      return utility.formatMoney(data)
    },
    "searchable": false,
    "orderable": true
  },
  {
    "data": "data.latest_date_submitted"
  }
]
