[
  {
    "data": "id",
    "orderable": false,
    "render": function(data, type, row, meta ) {
      var html = '<a href="/external_entities/' + row.external_entity_id + '">' + row.data.names[0] + '</a>';

      if(row['matched']) {
        html += " ✔"
      }

      return html;
    }
  },
  {
    "data": "data.latest_aum",
    "render": function(data) {
      return utility.formatMoney(data)
    },
    "orderable": true
  },
  {
    "data": "data.crd_number",
    "orderable": false,
    "render": function(data) {
      if (!data) { return '' }

      return [
        '<a target="_blank" href="https://adviserinfo.sec.gov/firm/summary/',
        data,
        '">',
        data,
        '</a>'
      ].join('')
    }
  }
]
