<% content_for(:head) do %>
  <%= javascript_include_tag "oligrapher_chart" %>
<% end  %>

<% content_for(:page_title, 'Explore Maps') %>

<div class="row oligrapher-chart-heading-row">
  <div class="col">
    <div>
      <div class="d-flex align-items-center">
        <h1>Explore Maps</h1>
        <div class="ml-auto pr-1">
          <a class="btn btn-sm btn-outline-primary"  href="/oligrapher/search">Search</a>
        </div>
      </div>
    </div>
    <h3 style="height: 30px"><small id="oligrapher-chart-subheader"></small></h3>
  </div>
</div>

<div class="row" id="oligrapher-chart-row">
  <div class="col">
    <div id="oligrapher-chart"></div>
  </div>
</div>
