<div id="oligrapher"></div>

<script>
 var oli;

 window.addEventListener('DOMContentLoaded', function() {
   oli = new Oligrapher(
     <%= JSON.generate(@configuration).html_safe %>
   )
 })
</script>
