<%= content_for(:body) do %>
  <div style="height: 600px; width: 100%" id="oligrapher"></div>

  <script>
   var oli = new Oligrapher(
     <%= JSON.generate(@configuration).html_safe %>
   )
  </script>

<% end %>
