<table class="table table-borderless" id="fec-contributions-table" data-controller="fec--contributions-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Employment</th>
      <th data-searchable="false">Amount</th>
      <th>Date</th>
      <th data-searchable="false">Type</th>
      <th>Recipient</th>
      <th data-searchable="false" data-orderable="false">Source</th>
      <th data-searchable="false" data-orderable="false" name="import button column"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'fec_contribution', collection: @contributions %>
  </tbody>
</table>
