<% content_for(:page_title, "Match FEC Contributions: #{@entity.name}") %>

<%#  render partial: 'entities/header', locals: { entity: @entity } %>

<div class="row mt-4">
  <div class="col">



  </div>
</div>


<%#= render partial: 'table' %>
