<% content_for(:page_title, "Match FEC Contributions: #{@entity.name}") %>
<%= render partial: 'entities/header', locals: { entity: @entity } %>

<div class="row">
  <div class="col">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Employment</th>
          <th>Contributions</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
