<% content_for(:page_title, "Match FEC Contributions: #{@entity.name}") %>
<%= render partial: 'entities/header', locals: { entity: @entity } %>

<div class="row">
  <div class="col">
    <h1>Donations found in FEC bulk data:</h1>
  </div>
</div>
