

<div id="external-relationships">
  <div class="header">
    <p>External Relationship: <%= @external_relationship.id %></p>
  </div>

  <div class="external-data">
    <table class="display-information">
      <tbody>
        <% @external_relationship.data_summary.each_pair do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </tbody></table>
    </table>
  </div>


  <div class="entity-matchers">
    <div class="leftSide">
    </div>

    <div class="rightSide" >
    </div>
  </div>
</div>
