<div class="row">
  <table class="table" id="dashboard-bulletins-table">
    <thead>
      <tr>
	<th>Title</th>
	<th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% DashboardBulletin.order('created_at desc').all.each do |bulletin| %>
	<tr>
	  <td><%= link_to bulletin.title, edit_dashboard_bulletin_path(bulletin)  %></td>
	  <td>
	    <%= form_for bulletin, method: :delete do |f| %>
	      <button type="submit" class="btn btn-secondary" title="delete bulletin">
                <i class="bi bi-x-lg"></i>
	      </button>
	    <% end %>
	  </td>
	</tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <h3><%= link_to 'Create new bulletin', new_dashboard_bulletin_path  %></h3>
</div>
