<p>Dear <%= @user.name %>,</p>

<p>Welcome to LittleSis!<br/>To login to the site, just follow this link: <%= link_to 'littlesis.org/login', 'https://littlesis.org/login' %>.</p>

<p>Thank you,<br />The LittleSis Team</p>
