<p>Dear <%= @user.name_first %>,</p>
<p>Congratulations, you're now a LittleSis analyst!  This means you can make edits and take part in the LittleSis community.</p>
<p>Once you log in, "edit" and "add relationship" buttons will appear next to the name on each profile page. You will also be able to add new individuals and organizations to the database.</p>
<p>To login to the site, just follow this link: <%= link_to 'littlesis.org/login', 'https://littlesis.org/login' %>.</p>
<p>Use the help pages as a reference for getting started: <%=  link_to "littlesis.org/help", "https://littlesis.org/help"  %>. You can reply to this email with any questions or if you are interested in a training.</p>

<p>Thank you,<br />the LittleSis team</p>


