Dear <%= @user.name %>,

Welcome to LittleSis!
To login to the site, just follow this link: <%= link_to 'https://littlesis.org/login', 'https://littlesis.org/login' %>.</p>

Thank you,
The LittleSis Team
