<br>
<h3>Can't find something that should be on LittleSis?</h3>

<div class="pointer_box padded">
<span class ="text_big">

<% if user_signed_in? %>
  <%= link_to('Add It', new_entity_path, class: "btn btn-primary") %>
<% else %>
  <% query_str = params.to_query %>
  <% referer = request.fullpath[0] + (query_str ? '?' + query_str : '') %>
    <strong><%= link_to('Login', new_user_session_path) %></strong> or <strong><%= link_to('sign up', new_user_registration_path) %></strong> to add it yourself!
<% end %>

</span>
</div>
