<div class="column">
  <strong>No results found.</strong>
  </br>

  <h3 class="top-1em">Can't find something that should be on LittleSis?</h3>

  <% if user_signed_in? %>
    <%= link_to('Add It', new_entity_path(:name => @q), class: "btn btn-primary") %>
  <% else %>
    <strong><%= link_to('Login', new_user_session_path) %></strong> or <strong><%= link_to('sign up', new_user_registration_path) %></strong> to add it yourself!
  <% end %>
</div>
