<div style="height: 500px;" id="<%= "oligrapher-#{map.id}" %>">
  <iframe height="100%"
          width="100%"
          scrolling="no" style="border: 0px; overflow: hidden;"
          src="<%= embedded_oligrapher_path(map) %>">
  </ifram>
</div>
