<% content_for(:page_title, 'Corporate Mapping Project - Partners' ) %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag "cmp" %>
  <%= javascript_pack_tag 'cmp' %> 
<% end %>

<div class="row border-bottom pb-2" id="cmp-header">
  <div class="col-12 mt-2">
    <%= link_to(image_tag('cmp_logo.png'),  'https://wwww.corporatemapping.ca') %>
    <h2 class="mt-2">Investigating the power of the fossil fuel industry in Western Canada</h2>
  </div>
</div>

<div class="row mt-5">
  <div class="col-8">
    <p>The Corporate Mapping Project (CMP) has partnered with LittleSis to comprehensively map Canada’s fossil fuel industry -- along with its ties to the larger corporate sector at home and abroad.</p>

    <h4>Here’s how you can explore the data:</h4>
    <ul>
      <li>The CMP has created in-depth profiles for the top 50 most powerful corporations involved in the production of fossil fuels in Western Canada -- along with key industry groups, think tanks, financiers and other promoting oil, gas and coal production. These descriptive profiles are available on the CMP website. Click here to visit corporatemapping.ca/database. Or you can check out the LittleSis profile pages for these entities - click here for the top 50 on littlesis.</li>
      <li>The full network of Canadian-based fossil fuel corporations (with assets over $50 million as of 2015). Browse the littlesis profile pages for these [##] companies here. </li>
      <li>The larger network these corporations are connected to in Canada and abroad through their senior executives and board members. This larger includes [##] people and [##] corporations, think tanks, industry groups, financial institutions and more. Click here to explore.</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-auto">
    <h4>Search the Corporate Mapping Project dataset:</h4>
  </div>
  <div class="col-sm-auto">
    <div id="cmp-tag-search">
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm">
    <h4><i>Top 50 goes here</i></h4>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm">
    <h3 class="mb-4">Explore the core sample:</h3>
    <table id="cmp-strata" class="display" width="100%"></table>
  </div>
</div>
