[
  {
    "data": "data.FullName",
    "orderable": false,
    "render": function(data, type, row, meta ) {
      var link = '<a href="/external_entities/' + row.external_entity_id + '">' + row.data.FullName + '</a>';

      if (row['matched']) {
        link += " ✔"
      }

      return link;
    }
  },
  {
    "data": "data.CouncilDistrict",
    "orderable": true,
    "render": function(district) { return district.replace('NYCC', '') }
  },
  {
    "data": "data.Party",
    "orderable": false
  }
]
