[
  {
    "data": "id",
    "orderable": false,
    "render": function(data, type, row) {
      var html = '<a href="/external_entities/' + row.external_entity_id + '">' + row.nice.name + '</a>';

      if(row['matched']) {
        html += " ✔"
      }

      return html;
    }
  },
  {
    "data": "nice.committee_type",
    "orderable": false
  },
  {
    "data": "nice.office",
    "orderable": false
  }
]
