[
  {
    "data": "id",
    "orderable": false,
    "render": function(data, type, row, meta ) {
      var html = '<a href="/external_relationships/' + row.external_relationship_id + '">' + row.nice.title + '</a>';

      if(row['matched']) {
        html += " ✔"
      }

      return html;
    },
  },
  {
    "data": "amount",
    "orderable": true,
    "render": function(data, type, row, meta) {
      return row.nice.amount;
    }
  },
  {
    "data": "date",
    "orderable": true,
    "render": function(data, type, row, meta) {
      return row.nice.date;
    }
  }
]
