<div class="d-inline-block">
  <div class="d-inline-block">
    <%= render partial: 'match_toggle' %>
  </div>

  <div class="d-inline-block">
    <select id="nys-disclosure-schedule-transaction-code" class="" name="transaction_codes[]" multiple="multiple"  style="width: 100%">
      <%= nys_disclosure_transaction_code_options %>
    </select>
  </div>
</div>

<script>
 $(document).ready(function(){
   $('#nys-disclosure-schedule-transaction-code').select2({
     width: 'style'
   });
 })
</script>
