<% content_for :page_title, "#{@dataset.titleize} - Datasets" %>
<% content_for :head, javascript_pack_tag('external_data') %>

<script>
 $(function() {
   LittleSis.start_dataset_table("<%= @dataset %>")
 })
</script>

<div class="row">
  <% if %w[nycc iapd_advisors iapd_schedule_a nys_filer].include?(@dataset) %>
    <%= render partial: 'match_toggle' %>
  <% end %>

  <% if @dataset == 'nys_disclosure' %>
    <%= render partial: 'nys_disclosure_header' %>
  <% end %>
</div>

<% raise NotImplementedError unless ExternalData::Datasets.column_names.key?(@dataset.to_sym) %>

<div class="row">
  <table id="dataset-table" class="table">
    <thead>
      <tr>
        <% ExternalData::Datasets.column_names.fetch(@dataset.to_sym).each do |column_name| %>
          <th><%= column_name %></th>
        <% end %>
      </tr>
    </thead>
  </table>
</div>
