<% content_for :page_title, "External Datasets" %>

<% cache 'external_datasets_overview', expires_in: 12.hours do %>

  <div id="datasets-overview">
    <% ExternalDataset::DATASETS.each do |dataset_name| %>
      <div class="mt-2">
        <h3>
          <small><%= link_to ExternalDataset.descriptions[dataset_name], "/datasets/#{dataset_name}", class: 'text-muted' %></small>
          <span> | </span>
          <small class="text-primary"><%= number_with_delimiter(ExternalDataset.const_get(dataset_name.to_s.classify).count) %> rows</small>
        </h3>
      </div>
    <% end %>
  </div>

<% end %>
