<% content_for :page_title, "External Datasets" %>

<div id="datasets-overview">
  <% ExternalDataset.datasets.each_pair do |dataset_name, dataset| %>
    <div class="mt-2">
      <h3>
        <%= link_to dataset_name, "/datasets/#{dataset_name}" %>

        <small class="text-muted"><%= dataset.description %></small>
        <span> | </span>
        <small class="text-primary"><%=  dataset.count %> rows</small>
      </h3>
    </div>
  <% end %>
</div>
