<h1>
  <%= link_to("Topic: #{topic.name}", topic_path(topic)) %>
  <% if has_legacy_permission('admin') %>
    <%= link_to 'edit', edit_topic_path(@topic), class: 'btn btn-default' %>
  <% end %>
</h1>
