<h1>Topics</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <% if has_legacy_permission('admin') %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td class="topics-list-name"><%= link_to(topic.name, topic_path(topic)) %></td>
        <td><%= strip_links(topic.description) %></td>
        <% if has_legacy_permission('admin') %>
        <td>
          <%= link_to 'Edit', edit_topic_path(topic) %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if has_legacy_permission('admin') %>
<br>
<%= link_to 'New Topic', new_topic_path, class: 'btn btn-primary' %>
<% end %>
