<div class="row">
  <div class="col">
    <h1>Maps</h1>

    <table data-controller="admin-maps">
      <thead>
        <tr>
          <th>Title</th>
          <th>User</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
