<div class="row">
    <div class="col-sm-4">
	<%= notice_or_alert %>
    </div>
</div>

<div class="row">
    <h1>Tags</h1>
    <div class="col-sm-12">
	<%= render partial: 'tag_table' %>
    </div>
</div>

<div class="row">
    <h1>Create a new tag</h1>
    <div class="col-sm-12">
	<%= render partial: 'new_tag_form' %>
    </div>
</div>
