    by <%= user_link(map.user) %> 

    <% if map.is_private %>
      <span class="glyphicon glyphicon-lock"></span>&nbsp;
    <% end %>

    <span class="map-date"><%= map.created_at.strftime("%B %-d, %Y") %></span>