<div id="netmap_custom_controls">
  <div id="netmap_edit_rel">
    <div class="checkbox">
      <label>
        <input id="netmap_rel_arrow" type="checkbox" /> Arrow
      </label>
    </div>
    &nbsp;<div class="checkbox">
      <label>
        <input id="netmap_rel_current" type="checkbox" /> Current
      </label>
    </div>
    &nbsp;<select id="netmap_rel_scale" class="form-control">
      <option value="1">1x</option>
      <option value="2">2x</option>
      <option value="3">3x</option>
      <option value="5">5x</option>
      <option value="10">10x</option>
    </select>
    &nbsp;<input id="netmap_rel_label" type="text" class="form-control" />
    <button id="netmap_rel_apply" class="btn btn-secondary">Apply</button>
  </div>
  <div id="netmap_edit_entity">
    <div class="checkbox">
      <label>
        <input id="netmap_entity_image" type="checkbox" /> Image
      </label>
    </div>
    &nbsp;<input id="netmap_entity_image_url" type="text" class="form-control" placeholder="image URL" />
    &nbsp;<select id="netmap_entity_scale" class="form-control">
      <option value="1">1x</option>
      <option value="1.5">1.5x</option>
      <option value="2">2x</option>
      <option value="3">3x</option>
    </select>
    &nbsp;<input id="netmap_entity_label" type="text" class="form-control" placeholder="label" />
    <button id="netmap_entity_apply" class="btn btn-secondary">Apply</button>
  </div>
  <div id="netmap_edit_text">
    <input id="netmap_text_content" type="text" class="form-control" />
    <button id="netmap_text_apply" class="btn btn-secondary">Apply</button>
  </div>
</div>

<script>
$(window).ready(function() {

  $(window).on('selection', function(e, elem) {
    var rel_div = $('#netmap_edit_rel')[0];
    var rel_label = $('#netmap_rel_label')[0];
    var rel_current = $('#netmap_rel_current')[0];
    var rel_directional = $('#netmap_rel_arrow')[0];
    var rel_scale = $('#netmap_rel_scale')[0];

    var entity_div = $('#netmap_edit_entity')[0];
    var entity_label = $('#netmap_entity_label')[0];
    var entity_scale = $('#netmap_entity_scale')[0];
    var entity_image = $('#netmap_entity_image')[0];
    var entity_image_url = $('#netmap_entity_image_url')[0];

    var text_div = $('#netmap_edit_text')[0];
    var text_content = $('#netmap_text_content')[0];

    if (elem && elem.classList && Array.prototype.slice.call(elem.classList).indexOf('selected') != -1) {
      if (Array.prototype.slice.call(elem.classList).indexOf('rel') != -1) {
        rel_label.value = netmap.get_selected_rel_label();
        rel_current.checked = netmap.selected_rel_is_current();
        rel_directional.checked = netmap.selected_rel_is_directional();
        rel_scale.value = netmap.get_selected_rel_scale();
        rel_div.style.display = 'block';
  
        entity_label.value = '';
        entity_scale.value = '';
        entity_image.checked = true;
        entity_image_url.value = '';
        entity_div.style.display = 'none';

        text_content.value = '';
        text_div.style.display = 'none';
      } else if (Array.prototype.slice.call(elem.classList).indexOf('entity') != -1) {
        entity_label.value = netmap.get_selected_entity_label();
        entity_scale.value = netmap.get_selected_entity_scale();
        entity_image.checked = !netmap.get_selected_entity().hide_image;
        entity_image_url.disabled = !entity_image.checked;
        image = netmap.get_selected_entity().image;
        if (image && !image.match(/^https?:/)) {
          image = "http:" + image;          
        }
        entity_image_url.value = image;
        entity_div.style.display = 'block';
  
        rel_label.value = '';
        rel_current.checked = false;
        rel_directional.checked = false;
        rel_scale.value = '';
        rel_div.style.display = 'none';

        text_content.value = '';
        text_div.style.display = 'none';
      } else {
        text_content.value = netmap.get_selected_text_content();
        text_div.style.display = 'block';

        entity_label.value = '';
        entity_scale.value = '';
        entity_image.checked = true;
        entity_image_url.value = '';
        entity_div.style.display = 'none';

        rel_label.value = '';
        rel_current.checked = false;
        rel_directional.checked = false;
        rel_scale.value = '';
        rel_div.style.display = 'none';        
      }
    } else {
      rel_label.value = '';
      rel_current.checked = false;
      rel_directional.checked = false;
      rel_div.style.display = 'none';

      entity_label.value = '';
      entity_scale.value = '';
      entity_image.checked = true;
      entity_image_url.value = '';
      entity_div.style.display = 'none';

      text_content.value = '';
      text_div.style.display = 'none';
    }
  });

  $('#netmap_rel_label').on('focus', function() {
    netmap.editing_rel = true
  });

  $('#netmap_rel_label').on('blur', function() {
    netmap.editing_rel = false
  });

  $('#netmap_rel_apply').on('click', function() {
    var label = $('#netmap_rel_label')[0].value;
    var current = +$('#netmap_rel_current')[0].checked;
    var directional = $('#netmap_rel_arrow')[0].checked;
    var scale = +$('#netmap_rel_scale')[0].value;

    if (label) {
      netmap.set_selected_rel_label(label);
    }

    netmap.set_selected_rel_is_current(current);
    netmap.set_selected_rel_is_directional(directional);
    netmap.set_selected_rel_scale(scale);
  });

  $('#netmap_entity_label').on('focus', function() {
    netmap.editing_entity = true
  });

  $('#netmap_entity_label').on('blur', function() {
    netmap.editing_entity = false
  });

  $('#netmap_entity_image').on('change', function() { 
    $('#netmap_entity_image_url').prop('disabled', !this.checked);
  });

  $('#netmap_entity_apply').on('click', function() {
    var label = $('#netmap_entity_label')[0].value;
    var scale = +$('#netmap_entity_scale')[0].value;
    var hide_image = !$('#netmap_entity_image')[0].checked;
    var image = $('#netmap_entity_image_url')[0].value;

    if (label) {
      netmap.set_selected_entity_label(label);
    }

    if (scale) {
      netmap.set_selected_entity_scale(scale);
    }

    netmap.set_selected_entity_hide_image(hide_image);

    if (!hide_image) {
      if (image.match(/pai-littlesis/)) {
        image = image.replace(/https?:/, "");
      }
      netmap.set_selected_entity_image(image);
    }
  });

  $('#netmap_text_content').on('focus', function() {
    netmap.editing_text = true
  });

  $('#netmap_text_content').on('blur', function() {
    netmap.editing_text = false
  });

  $('#netmap_text_apply').on('click', function() {
    var input = $('#netmap_text_content')[0];

    if (input.value) {
      netmap.set_selected_text_content(input.value);
    }
  });
});
</script>