<div id="edit-meta">

  <div class="field">
    <label for="map_description">Description</label>
    <textarea class="wysiwyg form-control bootsy_text_area" id="map-description" name="description"><%= map.description %></textarea>
  </div>

</div>