<div id="netmap-edit-guide">

<h3>Editing Guide</h3>
<br>

<strong>Sidebar</strong><br>
<br>
Type a name in the "add entity" box to search for a LittleSis entity; click a result to add it to the map; all relationships between it and entities already on the map will be added too<br>
<br>
"wheel" button arranges nodes in a circle<br>
"force" button arranges nodes using physics<br>
"recenter" moves nodes so that they are centered around the map's zero coordinates; this will not change the layout of nodes relative to to each other<br>
<br>
Click on any number of "Categories" to limit edges to those categories<br>
<br>
Select "Current" to hide non-current edges<br>
<br>
Changes to map will not be saved until you click "save"<br>
<br>

<strong>Shortcut Keys</strong><br>
<br>
CLICK a node or edge to select or deselect it<br>
<br>
CTRL+D deletes a selected node or edge<br>
CTRL+N adds a custom node<br>
CTRL+E adds a custom edge<br>
CTRL+T adds a custom text block<br>
CTRL+I adds interlocks (only when the selected node is a LittleSis entity)<br>
<br>
CTRL+R adds entities related to a selected entity<br>
<br>
CTRL+"=" zooms in<br>
CTRL+"-" zooms out<br>
CTRL+0 resets zoom<br>
<br>
If CTRL keys interfere with your browser or operating system shortcuts, all of the above shortcuts will work with ALT instead of CTRL<br>
<br>

<strong>Editing Nodes and Edges</strong><br>
<br>
Select a node or edge to view an editing form in the top-right corner of the map; click "Apply" to apply changes to the map<br>
<br>

<strong>Zooming</strong><br>
<br>
Use mouse scrolling, the buttons in the upper-left corner of the map, or shortcut keys to zoom in or out<br>
<br>
Current zoom level will be preserved when saving a map

</div>