<div id="oligrapher-update-notice">
  <span>⚠️Upcoming changes to Oligrapher</span>
</div>

<template id="oligrapher-update-notice-content">
  <div>
    <p>
      On <b>September 15</b> a new version of oligrapher will be released, with a number of new enhancements:
      <ul>
        <li>Drag'n'drop edge creation</li>
        <li>Easier editing experience</li>
        <li>Collaboration tools</li>
      </ul>
    </p>
    <p>
      <%= link_to 'Click here', oligrapher_path(@map), target: '_blank' %> to preview this map in the new version
    </p>
  </div>
</template>

<script>
 $(function () {
   $('#oligrapher-update-notice > span').popover({
     "html": true,
     "content": function() {
       return $('#oligrapher-update-notice-content').html()
     },
     "title": "We're updating Oligrapher",
     "placement": 'bottom'
   })
 })
</script>
