<% content_for(:page_title, 'Network Maps') %>

<%= render partial: 'header'  %>

<div class="row">
  <div class="col">
    <%= render partial: 'maps/table', locals: { maps: @maps } %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= paginate @maps %>
  </div>
</div>
