<% unless person.birthplace.blank? %>
    <p class="text-center"><strong>Birthplace:</strong> <%= person.birthplace  %></p>
<% end %>
<% unless person.gender_id.blank? %>
    <p class="text-center"><strong>Gender:</strong> <%= person.gender  %></p>
<% end %>
