<div class="form-horizontal top-1em">

    <!-- Url -->
    <div class="form-group">
	<label for="reference-url" class="col-sm-2 control-label">Url*</label>
	<div class="col-sm-10">
	    <input type="url" class="form-control text-left" id="reference-url">
	</div>
    </div>

    <!-- Name -->
    <div class="form-group">
	<label for="reference-name" class="col-sm-2 control-label">Name*</label>
	<div class="col-sm-10">
	    <input type="text" class="form-control text-left" id="reference-name">
	</div>
    </div>
    
    <div class="form-group">
	<div class="col-sm-4 col-sm-offset-2">
	    <a class="" data-toggle="collapse" href="#collapseReference" aria-expanded="false" aria-controls="collapseReference" id="ref-show-more">
		<span class="collapse-toggle">More  <span class="glyphicon glyphicon-menu-down icon-link" aria-hidden="true"></span></span>
		<span class="collapse-toggle" style="display: none;">Less  <span class="glyphicon glyphicon-menu-up icon-link" aria-hidden="true"></span></span>
	    </a>
	</div>
    </div>
    
    <script>
     // Switch between the 'more' and 'less' text
     $('#ref-show-more').click(function(){
       $(this).find('span.collapse-toggle').toggle();
     });
    </script>

    <div class="collapse" id="collapseReference">

	<!-- Date -->
	<div class="form-group">
	    <label for="reference-date" class="col-sm-2 control-label">Publication Date</label>
	    <div class="col-sm-10">
		<input type="text" class="form-control" id="reference-date">
	    </div>
	</div> 

	<!--Type  -->
	<div class="form-group">
	    <label for="reference-type" class="col-sm-2 control-label">Type</label>
	    <div class="col-sm-6">
		<select class="form-control" id="reference-type">
		    <% Reference.ref_type_options.each do |ref_type| %>
			<%= content_tag('option', ref_type[0], value: ref_type[1]) %>
		    <% end  %>
		</select>
	    </div>
	</div>
	
	<!-- Excerpt -->
	<div class="form-group">
	    <label for="reference-excerpt" class="col-sm-2 control-label">Excerpt</label>
	    <div class="col-sm-10">
		<%= text_area_tag 'reference-excerpt', nil, size: "35x6", class: 'form-control'  %>
	    </div>
	</div>
	
    </div>
    <!-- Submit Button -->
    <div class="form-group" >
	<div class="col-sm-2"></div>
	<div class="col-sm-4 top-1em">
	    <button type="button" class="btn btn-primary" id="create-relationship-btn">Create Relationship</button>
	</div>
    </div>
    
    <div class="form-group" >
	<div class="col-sm-10 top-1em col-sm-offset-2"  style="height: 20px;">
	    <span id="similar-relationships"
		 class="hidden cursor-pointer"
		 data-toggle="popover"
		 data-placement="right">
		<span class="glyphicon glyphicon-warning-sign"></span><span class="text-danger">  Similar relationships exist!</span>
	    </span>
	</div>
    </div>

</div>
