<div id="editable-blurb" data-action="mouseover->entity-page#showPencil mouseout->entity-page#hidePencil">
  <span id="entity-blurb-text" data-entity-page-target="blurbText"><%= entity.blurb %></span>
  <span id="entity-blurb-pencil" style="display: none;" data-entity-page-target="blurbPencil" data-action="click->entity-page#editBlurb">
    <i class="bi bi-pencil-fill" aria-hidden="true"></i>
  </span>
</div>
