<div class="modal fade" tabindex="-1" role="dialog" id="explain-categories-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<h4 class="modal-title">Relationship Categories</h4>
	<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      </div>
      <div class="modal-body">
	<p>There are ten categories of relationships in LittleSis. They help us organize relationships on profile pages and create more advanced views, such as "Schools attended by major donors to this candidate".</p>

	<ul>
	  <li>
	    <strong>Position:</strong> when a person has a place in an organizational heirarchy, usually carrying a title. Positions can be paid or unpaid. For example: CEO, Director, Manager, Chief Counsel, Assistant Professor, etc. When a person has multiple concurrent positions ("Chairman and CEO") in the same organization, they should be entered separately.
	  </li>
	  <li>
	    <strong>Membership:</strong> when a person generically belongs to a membership organization, like a union or an automobile club, or when an organization belongs to a larger coalition or association, like the National Association of Manufacturers or AFL-CIO. Memberships usually don't carry any responsibilities other than paying dues. Sometimes people/groups who pay more dues have a different title, but everyone who pays the same amount usually has the same title. Note: people can have positions (Executive Director, Intern, etc) in membership organizations.
	  </li>
	  <li>
	    <strong>Education:</strong> when a person attends a school or other educational program (as a student).
	  </li>
	  <li>
	    <strong>Ownership:</strong> when a person or organization has full or partial ownership of a business or other organization. For example: sole proprietor, limited partners, corporate shareholders.
	  </li>
	  <li>
	    <strong>Donation/Grant:</strong> a gift transfer of money, goods, or services in one direction. Nothing is required to be given in return. For example: political funding, contributions to charities, government grants, prizes.
	  </li>
	  <li>
	    <strong>Service/Transaction:</strong> an exchange of money, goods, or services, generally of equal value. For example: purchases, consulting, contract work, accounting, trades.
	  </li>
	  <li>
	    <strong>Lobbying:</strong> when a person or organization directly lobbies a government agency or official. (When a lobbying firm is hired by a company to lobby a government agency, there are at least two relationships involved: a service/transaction between the company and firm, and a lobbying relationship between the firm and the agency.)
	  </li>
	  <li>
	    <strong>Family:</strong> when two people are part of the same family. For example: children, spouses, step-siblings, cousins.
	  </li>
	  <li>
	    <strong>Social:</strong> when two people are socially acquainted. For example: friends, rivals, lovers, running partners.
	  </li>
	  <li>
	    <strong>Professional:</strong> when two people have a personal working or business relationship. For example: co-writers, business partners, mentors.
	  </li>
	  <li>
	    <strong>Hierarchy:</strong> when an org is a subdivision of another org. For example: subsidiaries, departments, subcommittees.
	  </li>
	  <li>
	    <strong>Generic:</strong> when a relationship is vague or doesn't fit into any of the above categories.
	  </li>
	</ul>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
