<div class="position-relative">
  <div class="position-absolute">
    <td>
      <%= button_to(
        relationship_path(relationship),
        method: :patch,
        params: {
          relationship: {
            is_featured: !relationship.is_featured
          },
          reference: {just_cleaning_up: true}
        },
        class: 'star-button',
        title: (relationship.is_featured ? 'unfeature relationship' : 'feature relationship')
      ) do %>
        <span class="<%= !relationship.is_featured ? 'star' : 'not-star' %>">
      <% end %>
    </td>
  </div>
</div>
