<div id="entity-header">
  <div id="entity-name"><%= entity_link(entity) %></div>
  <div id="entity-blurb-wrapper">
    <% if user_signed_in? && controller.controller_name == 'entities' && controller.action_name == 'show' %>
      <%= render partial: 'editable_blurb', locals: { entity: entity } %>
    <% else %>
      <span id="entity-blurb-text"><%= entity.blurb %></span>
    <% end %>
  </div>
</div>
