<div class='relationship-section'>
    <div class='related_entity'>
        <div class='related_entity_entity'>
            <span class='related_entity_name'><%= link_to link[0].related.name, entity_path(link[0].related) %></span>
            <span class='related_entity_blurb'><%= link[0].related.blurb %></span>
        </div>
        <ul>
            <% link.each do |l| %>
                <div class='related_entity_relationship'>
                    <li><%= link_to "#{l.description} #{l.relationship.display_date_range}", relationship_path(l.relationship) %></li>
                </div>
            <% end %>
        </ul>
    </div>
</div>