<div id="entity-without-relationships-message">
  <p>This is a stub profile page – there are no relationships in the database for this <%= entity_primary_ext_display(@entity) %>.</p>
  <% if user_signed_in? %>
    <p><%= link_to 'Click here', concretize_add_relationship_entity_path(@entity) %> to add a relationship</p>
  <% end %>
</div>
