<div id="entity-without-relationships-message">
  <p>This is a stub profile page – there are no relationships in the database for this entity. Be the first to add one!</p>
  <p><%= link_to 'Click here', add_relationship_entity_path(@entity) %> to add a relationship</p>
</div>
