<div id="entity-without-relationships-message">
  <p><%= t('pages.stub_profile') %></p>
  <% if user_signed_in? %>
    <p><%= link_to t('phrases.click_to_add'), concretize_add_relationship_entity_path(@entity) %> <%= t('phrases.add_a_relationship') %></p>
  <% end %>
</div>
