<div class="entity_update">
  <% if entity.person? && entity.has_featured_image %>
  <div class="entity_update_image">
    <%= link_to(image_tag(entity.featured_image_url("small")), entity) %>
  </div>
  <% end %>

  <div class="entity_update_name"><%= entity_link(entity) %></div>

  <div class="entity_update_user">
	  &nbsp; &nbsp; updated by <%= user_link(entity.last_user) %>
	  <%= time_ago_in_words(entity.updated_at) %> ago
	 </div>
</div>
