<div class='related_entity'>
    <div class='related_entity_entity'>
        <span class='related_entity_name'><%= link_to rel.related.name, entity_path(rel.related) %></span>
        <span class='related_entity_blurb'><%= rel.related.blurb %></span>
    </div>
    <div class='related_entity_relationship'>
        <ul>
            <li><%= link_to "#{rel.description1} (#{rel.start_date || '?'}—#{rel.end_date || '?'})", relationship_path(rel) %></li>
        </ul>
    </div>
</div>