<div class='related_entity'>
    <div class='related_entity_entity'>
        <span class='related_entity_name'><%= link_to related.name, entity_path(related) %></span>
        <span class='related_entity_blurb'><%= related.blurb %></span>
    </div>
    <div class='related_entity_relationship'>
        <ul>
            <li><%= link_to "#{description} (#{relationship.start_date || '?'}—#{relationship.end_date || '?'})", relationship_path(relationship) %></li>
        </ul>
    </div>
</div>
