<div class="col-12">
  <h3 class="profile-page-sidebar-heading">
    <%= t('littlesis.external_links').titleize %>
  </h3>
</div>
<div class="col-12">
  <%= render partial: 'entities/sidebar/external_links' %>
</div>
