<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
	<%= render partial: 'entities/sidebar/image' %>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
	<%= sidebar_title('Source Links') %>
    </div>
    <div class="col-sm-12 sidebar-references-container">
	<% entity_references = @entity.all_references %>
	<%= sidebar_reference_count(entity_references.count)%>
	<%= sidebar_references(entity_references.take(10))%>
    </div>
</div>
