<div class="entity_small">
  <div class="entity_small_image" style="background-image: url('<%= image_path(entity.featured_image_url("profile")) %>');">
  </div>

  <div class="entity_small_text">
    <div class="entity_small_name"><%= entity_link(entity) %></div>

    <% if entity.blurb.present? %>  
      <div class="entity_small_description"><%= entity.blurb %></div>
    <% end %>
  
    <% if entity.person? %>
      <span class="entity_small_count">Key affiliations:</span>
    <% else %>
      <span class="entity_small_count">Key people: </span>
    <% end %>

    <% connection_links = [] %>
    <% entity.relateds_by_count(5, entity.other_ext).each do |related| %>
      <% connection_links << entity_link(related) %>
    <% end %>
    <% connection_links << "<nobr><strong>" + link_to(raw("More &raquo;"), entity) + "</nobr></strong>" %>

    <%= raw(connection_links.join(", ")) %>
  </div>
</div>
