<div class="row bottom-1em">
    <div class="row m-left-1em">
	<div class="col-sm-3">
	    <strong>Types:</strong>
	</div>
    </div>
</div>

<div id="entity-types">

    <div class="row bottom-1em m-left-1em">
	<div id="tier-two" class="collapse in">
	    <%= org_boxes_tier2 %>
	</div>
    </div>

    <div class="row bottom-1em m-left-1em">
	<div class="col-sm-3">
	    <a class="collapsed entity-type-toggle" role="button" data-toggle="collapse" href="#tier-three" aria-expanded="false" aria-controls="tier-three">
		<strong>More:  </strong><span class="glyphicon glyphicon-expand" aria-hidden="true" id="type-collapse-icon"></span>
	    </a>
	</div>
    </div>


    <div class="row bottom-3em m-left-1em">
	<div id="tier-three" class="collapse">
	    <%= org_boxes_tier3 %>
	</div>
    </div>


</div>

<%= f.hidden_field(:extension_def_ids, value: @entity.extension_ids_without_primary_stringified) %>

<script>
 $(function(){

   // toggle icon //
   $('#tier-three').on('shown.bs.collapse', function () {
     $('#type-collapse-icon').removeClass('glyphicon-expand');
     $('#type-collapse-icon').addClass('glyphicon-collapse-down');
   })

   $('#tier-three').on('hidden.bs.collapse', function () {
     $('#type-collapse-icon').removeClass('glyphicon-collapse-down');
     $('#type-collapse-icon').addClass('glyphicon-expand');
   })

 });
</script>

