<div class="row bottom-1em">
  <div class="col-sm-3">
    <strong>Types:</strong>
  </div>
</div>

<div id="tier-two">
  <div class="row">
    <%= org_boxes_tier2 %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <a class="collapsed entity-type-toggle" role="button" data-toggle="collapse" data-action="entity-edit#toggleTypesIcon" href="#tier-three" aria-expanded="false" aria-controls="tier-three">
      <strong>More:  </strong><span class="glyphicon glyphicon-expand" aria-hidden="true" id="type-collapse-icon"></span>
    </a>
  </div>
</div>

<div id="tier-three" class="collapse mb-4">
  <div class="row">
    <%= org_boxes_tier3 %>
  </div>
</div>

<br />

<%= f.hidden_field(:extension_def_ids, value: @entity.extension_ids_without_primary_stringified) %>
