<div class="row bottom-1em">
    <div class="col-sm-3">
	<a class="collapsed entity-type-toggle" role="button" data-toggle="collapse" href="#person-entity-types" aria-expanded="false" aria-controls="person-entity-types">
	    <strong>Types:</strong><span>  <span class="glyphicon glyphicon-collapse-down" aria-hidden="true" id="type-collapse-icon"></span>
	</a>
    </div>
</div>

<div id="entity-types">

    <div class="row bottom-3em m-left-1em">
	<div id="person-entity-types" class="collapse in">
	    <%= type_select_boxes_person %>
	</div>
    </div>


</div>

<%= f.hidden_field(:extension_def_ids, value: @entity.extension_ids_without_primary_stringified) %>

<script>
 $(function(){

   // toggle icon //
   $('#entity-types').on('shown.bs.collapse', function () {
     $('#type-collapse-icon').removeClass('glyphicon-expand');
     $('#type-collapse-icon').addClass('glyphicon-collapse-down');
   })

   $('#entity-types').on('hidden.bs.collapse', function () {
     $('#type-collapse-icon').removeClass('glyphicon-collapse-down');
     $('#type-collapse-icon').addClass('glyphicon-expand');
   })

 });
</script>
