<% content_for(:page_title, "#{@entity.name} - relationships".html_safe) %>
<%= render partial: 'header', locals: { entity: @entity } %>

<h3 class="section mt-3">Relationships</h3>

<%= content_tag :div, nil,
  {
    id: "relationships-datatable-container",
    data: {
      controller: "relationships-datatable-legacy",
      relationships_datatable_legacy_entity_id_value: @entity.id
    }
  } %>
