<% content_for(:page_title, raw(@entity.name + ' - relationships')) %>
<%= render partial: 'header', locals: { entity: @entity } %>

<h3 class="section mt-3">Relationships</h3>

<div id="relationships-datatable-container">
</div>

<script>
 window.onload = function() {
   LittleSis.RelationshipsDatatable().start(<%= @entity.id %>);
 }
</script>
