<% content_for(:page_title, raw(@entity.name + ' - relationships')) %>
<%= render partial: 'header', locals: { entity: @entity } %>

<% content_for :head do %>
  <%= javascript_include_tag 'relationships_datatable' %>
<% end %>

<h3 class="section">Relationships</h3>


<div id="relationships-datatable-container">
</div>

<script>
 window.onload = function() {
   RelationshipsDatatable.start(<%= @entity.id %>);
 }
</script>


<%# cache( [@entity.cache_key, 'relationships_datatable'], expires_in: 1.day) do %>
<%#= render partial: 'relationships/datatable', locals: { table: RelationshipsDatatable.new(@entity) } %>

<%# end %>
