<% content_for(:page_title, raw(@entity.name + ' - images')) %>

<%= render partial: 'header', locals: { entity: @entity } %>

<h3>
  Images
  &nbsp;<%= link_to('add', concretize_new_image_entity_path(@entity), class: "btn btn-secondary btn-sm") %>
</h3>

<table class="table entity-images-table">
  <% @entity.images.each do |image| %>
    <%= render partial: 'image_table_row', locals: { image: image } %>
  <% end %>
</table>
