<% content_for(:page_title, "#{@entity.name} - Political") %>
<%= render partial: 'header', locals: { entity: @entity } %>

<% if user_signed_in? %>
  <%= render partial: 'actions', locals: { entity: @entity, current_user: current_user } %>
<% end  %>

<div class="row top-1em">
  <div class="col-md-8 col-sm-8 nopadding">
    <%= render partial: 'summary', locals: { entity: @entity } %>
    <%= entity_tabs(@entity, 'political') %>
  </div>
</div>
