<%= render partial: 'header2', locals: { hide_summary: true }  %>

<div class="row mt-1">
  <div class="col">
    <div>
      <h2 class="d-inline-block">Source documents</h2>
      <% if user_signed_in? %>
        <%= link_to 'Create new reference', "/entities/#{@entity.id}/add_source", class: "ps-2 d-inline-block", id: "add-new-reference-link", data: { turbo: true, turbo_frame: 'modal' } %>
      <% end %>
    </div>

    <div data-controller="entity-references-table"
         data-entity-references-table-entityid-value="<%= @entity.id %>"
         data-entity-references-table-signedin-value="<%= user_signed_in? %>">
      <table data-entity-references-table-target="table">
      </table>
    </div>
  </div>
</div>
