<% content_for(:page_title, raw(@entity.name + ' - relationships')) %>
<%= render partial: 'header', locals: { entity: @entity } %>

<h3 class="section">Relationships</h3>

<% cache(@entity.cache_key('relationships'), expires_in: 1.day) do %>
  <%= render partial: 'relationships/datatable', locals: { table: RelationshipsDatatable.new(@entity) } %>
<% end %>