<div id="entity-header">
  <div id="entity-name"><%= entity_link(@entity) %></div>
  <div id="entity-blurb"><%= @entity.blurb %></div>
</div>

<h3 class="section">Relationships</h3>

<% cache(@entity.cache_key('relationships'), expires_in: 1.day) do %>
  <%= render partial: 'relationships/datatable', locals: { table: @table } %>
<% end %>