<%= render partial: 'header', locals: { entity: @entity } %>

<h3 class="section">Relationship Data</h3>

<% cache(@entity.cache_key('relationships'), expires_in: 1.day) do %>
  <%= render partial: 'relationships/datatable', locals: { table: RelationshipsDatatable.new(@entity) } %>
<% end %>