<%= render partial: 'header', locals: { entity: @entity } %>
<%= render partial: 'actions', locals: { entity: @entity, current_user: current_user } %>
<div class="row mt-3 mb-3">
  <div class="col-12">
    <h2>Review Donations From OpenSecrets.org</h2>
  </div>
</div>

<div class="row top-1em">
  <div class="col-md-4 col-sm-4">
    <a href="http://opensecrets.org"><img style="border: 0; padding-right: 0.5em;" src="//s3.amazonaws.com/pai-littlesis/images/system/opensecrets-logo-225.gif" alt="Opensecrets-logo-225" align="left"></a>
    
  </div>
  <div class="col-md-6 col-sm-6">
    <p>Below are donor records from <a href="http://opensecrets.org">OpenSecrets</a> that have been matched by LittleSis analysts.</p>
    <p>If any of the matches have been matched in error, select them and click on the 'unmatch donation' button.</p>
  </div>
  <div class="col-md-2 col-sm-2"></div>
</div>

<div class="row top-1em">
  <div class="col-md-10 col-sm-10">
    <div id="match-donations" data-entityid="<%= @entity.id %>" data-controller="donation-matcher" data-donation-matcher-mode-value="review">
      <table id="donations-table" class="display" width="100%"></table>
    </div>
  </div>
  <div class="col-md-2 col-sm-2">
    <!-- side bar -->
  </div>
</div>

</div>
