<div class="container-fluid">
    <%= render partial: 'header', locals: { entity: @entity } %>
    <%= render partial: 'actions', locals: { entity: @entity, last_user: @last_user, current_user: @current_user } %>
    <div class="row top-1em">
        <%= render partial: 'summary', locals: { entity: @entity } %>
        <h1>Entity Page...</h1>
    </div>
</div>
