<%= render partial: 'header', locals: { entity: @entity } %>
<%= render partial: 'actions', locals: { entity: @entity, last_user: @last_user, current_user: @current_user } %>

<h1>ENTITIES PAGES</h1>
