<div id="relationship-action-buttons" class="col-md-8 col-sm-6">
  <%= link_to "edit", edit_relationship_path(@relationship), class: 'action-button', title: 'Edit this relationship'  %>
  <%= link_to "flag", flag_path, class: 'action-button', title: 'Report an issue'  %>

  <% if @relationship.permissions_for(current_user).fetch(:deleteable) %>
    <%= button_to "remove", relationship_path(@relationship),
     class: 'action-button',
     method: :delete,
     form: { onsubmit: "return confirm('Are you sure you want to remove this relationship?')" },
     form_class: 'd-inline',
     title: 'Delete this relationship'
    %>
  <% end %>

  <% if current_user.role.include?(:star_relationship) %>
    <%= button_to(
      ( @relationship.is_featured ? 'unfeature' : 'feature' ),
      relationship_path(@relationship),
      method: :patch,
      class: 'action-button',
      params: {
        relationship: {
          is_featured: !@relationship.is_featured
        },
        reference: {just_cleaning_up: true}
      },
      form_class: 'd-inline',
      title: "#{@relationship.is_featured ? 'Unfeature' : 'Feature'} this relationship"
    ) %>
  <% end %>
</div>
