<div id="relationship-edit-description-fields-display">
  <% first_entity, second_entity = description_fields_titles_and_entites(@relationship) %>
  
  <%= render partial: 'description_fields_entity_row', locals: { relationship_entity: first_entity }  %>

  <% if @relationship.reversible? %>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2" style="padding-bottom: 7px">
	<div style="padding-left: 8px">
	  <%= reverse_link %>
	</div>
      </div>
    </div>
  <% end  %>

  <%= render partial: 'description_fields_entity_row', locals: { relationship_entity: second_entity }  %>
</div>
