<table class="table table-hover table-borderless table-condensed">
  <!-- <caption>Details</caption> -->
  <!-- <thead></thead> -->
  <tbody>
    <% details.each do |detail| %>
      <tr>
        <td><strong><%= detail[0] %></strong></td>
        <td><%= detail[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
