<div class="row">
  <% cache ['name', @relationship] do %>
    <div class="col">
      <h1 class="relationship-title-link" ><%=  link_to @relationship.name, relationship_path(@relationship), class: "link-blue" %></h1>
    </div>
  <% end %>
</div>

<div class="mb-3 row">
  <% if user_signed_in? %>
    <%= render partial: 'actions', locals: {signed_in: true } %>
  <% else %>
    <% cache ['action_buttons_no_user', @relationship ] do %>
      <%# updated Thu 12 Apr 2018 %>
      <%= render partial: 'actions', locals: {signed_in: false }%>
    <% end %>
  <% end %>
</div>

<div class="thin-grey-line"></div>
