<h4>
  Tags
  <% if user_signed_in? %>    
    <span id="tags-controls" class="ms-2">
      <%= link_to '', "/relationships/#{@relationship.id}/edit_tags", id: "tags-edit-button", class: "tags-edit-glyph", data: { turbo: true, turbo_frame: 'modal'} %>
    </span>
  <% end %>
</h4>

<%= tag.div display_tags(@relationship.tags),
 data: {
   controller: "tags",
   tags_data_value: (@relationship.tags_for(current_user) || {}).to_json,
   tags_endpoint_value: tags_relationship_path(@relationship)
 } %>
