  <h4>
    Source Links
    <% if user_signed_in? && current_user.editor? %>
      <%= link_to '', "/relationships/#{@relationship.id}/add_source", class: "bi bi-plus", data: { turbo: true, turbo_frame: 'modal'} %>
    <% end %>
  </h4>

<div class="row">
  <%= render partial: 'sources', locals: {relationship: @relationship } %>
</div>
