<div class="row">
  <div class="relationship-updated-at-text">
    <em><%= "Updated #{time_ago_in_words(@relationship.updated_at)} ago" %></em>
  </div>
</div>

<%# Sources %>
<div class="row mt-2">
    <%= render partial: 'sidebar_source' %>
</div>

<div class="row">
  <%= render partial: 'sources', locals: {relationship: @relationship } %>
</div>

<%# TAGS %>
<% if @relationship.tags.present? || current_user&.editor? %>
  <div class="row mt-1">
    <%= render partial: 'sidebar_tags' %>
  </div>
<% end %>
