<% if user_signed_in? %>
  <%= render partial: 'shared/reference_new', locals: {model: @relationship, reference: @reference } %>
<% end %>

<div class="row">
  <div class="relationship-updated-at-text">
    <em><%= "Updated #{time_ago_in_words(@relationship.updated_at)} ago" %></em>
  </div>
</div>

<div class="row mt-2">
  <h4>
    Source Links
    <% if user_signed_in? && current_user.editor? %>
      <a href="#add-reference-modal" data-bs-toggle="modal" >
        <i class="bi bi-plus" title="Add a source" aira-hidden="true"></i>
      </a>
    <% end %>
  </h4>
</div>

<div class="row">
  <%= render partial: 'sources', locals: {relationship: @relationship } %>
</div>

<%# TAGS %>
<% if @relationship.tags.present? || current_user&.editor? %>
  <div class="row mt-1">
    <%= render partial: 'sidebar_tags' %>
  </div>
<% end %>
