<table class="table table-sm" id="source-links-table">
  <tbody>
    <% relationship.documents.each do |doc|  %>
      <tr>
        <td>
          <%= link_to excerpt( (doc.name.blank? ? doc.url : doc.name) ), doc.url, 'target' => '_blank' %>
          <% if user_signed_in? %>
            <turbo-frame id="edit-document">
              <%= link_to '', "/documents/#{doc.id}/edit_document", class: "bi bi-pencil-square ml-l hvr-pop" %>
            </turbo-frame>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
