<h4><%= link_to relationship.entity.name,  relationship.entity.url %><%=  relationship.description_sentence[0] %><%= link_to relationship.related.name, relationship.related.url %><%= relationship.description_sentence[1]%></h4> 
