<h4><%= link_to relationship.entity.name,  entity_path(relationship.entity) %> has a position <%= title_in_parens(relationship)%> at <%= link_to relationship.related.name, entity_path(relationship.related) %></h4>
