<style>
 tbody td {
     cursor: pointer;
 }
</style>
<div class="row">
    <div class="col-md-8">
        <h5><%= entity_search_title %></h5>
        <form class="form-inline" id="entity-search-form" data-controller="nys-entity-search" data-nys-entity-search-primary-ext-value="<%= primary_ext %>">
            <div class="form-group">
                <input type=text class="form-control" id="entity-search">
            </div>
            <button id="entity-search-submit" type="submit" class="btn btn-secondary">Search</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-10 hidden" id="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Blurb</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
