<div class="row">
  <div class="col-6">
    <table class="table table-borderless table-hover">
      <% @nys_filer.presentation_attributes.each do |(name, value)| %>
        <tr>
          <td><%= name %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>




<div class="row">
  <div class="col">

  </div>
</div>
