<div class="container-fluid">
    
    <div class="row top-1em">
        <h2>Match Political Contributions from New York State</h2>
        <div class="col-md-6 col-sm-6">
            <p>Below are donor records from <a href="http://NYS">NYS Board of Elections</a> with the same or similar name.
                Using the info already in LittleSis to identify which of these donor records belong to this person, select them, and then click the button "match donations".</p>
        </div>
        <div class="col-md-2 col-sm-2"></div>
    </div>
    
</div>
