<h1> Match NYS Filers</h1>

<table id="entity-match-table"></table>

<script>
  <%= render partial: 'datatable.js' %>
</script>



<!--
     Name
     Filer id
     Potential Match Name W/ link
     Match buttons | match, ummatch, 
     <%# Datatable::Javascript[:NyFiler] %>
-->
