<h1> Match NYS Filers</h1>

<table id="entity-match-table"></table>

<script>
 var columns = [
    { "data": 'name', "title": 'Name'},
    { "data": 'filer_id', "title": 'Filer ID' }
  ];

  var dt = new EntityMatcher({
    "rootElement": '#entity-match-table',
    "columns": columns,
    "endpoint": '/nys/datatable'
  });

  dt.init();
</script>



<!--
     Name
     Filer id
     Potential Match Name W/ link
     Match buttons | match, ummatch, 
     <%# Datatable::Javascript[:NyFiler] %>
-->
