<% content_for(:page_title, "NYS Candidates and Committees") %>
<div class="row">
    <h2>Find NYS Candidates and Committees for <%= entity_link(@entity) %></h2>
</div>
<div class="row">
    
</div>


