<table class="table table-sm table-hover table-borderless basic-info-table">
  <tbody>
    <% basic_info.each_pair do |key, val| %>
      <tr>
        <td><strong><%= key.to_s.capitalize.tr('_', ' ') %></strong></td>
        <% if key == :website %>
          <td><%= sanitize link_to val, val, 'target' => '_blank' %></td>
        <% else %>
          <td><%= val.to_s %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
