<%# locals: entity %>

<%= profile_page_sidebar('sidebar-data-partner-container', 'Data Partner') do %>
  <%= link_to(image_tag('cmp_logo.png', class: 'mt-2'),  'https://www.corporatemapping.ca') %>
  <p class="em-07 mt-2"><%= entity.name %> is part of the Corporate Mapping Project dataset, a research project investigating Canada's carbon-extractive sector</p>
<% end %>
