<p><strong>New User Signup:</strong> <%= @user.username %> (<%= @user.id %>)</p>

<p><strong>Name:</strong> <%= @profile.name_first + ' ' +  @profile.name_last%></p>
<p><strong>Why they joined:</strong><br><%= @profile.reason %></p>    
