<turbo-frame id="add-relationship-page">
  <div class="row">
    <div class="col col-md-auto">
      <h3 class="text-center">Creating a new relationship between<br/><%=  entity_link(@entity1) %><br/>and<br/><%=  entity_link(@entity2) %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <div class="btn-group-vertical" role="group" aria-label="relationship categories">
        <button type="button" class="category-select-button btn btn-light border" data-categoryid="1">Position</button>
        <button type="button" class="category-select-button btn btn-light border" data-categoryid="1">Position</button>
      </div>
    </div>
  </div>

</turbo-frame>
