<% content_for :body do %>


<%= render partial: "groups/header_small", locals: { group: @group } %>


<%= centered_content do %>

<h3>Admin Links</h3>

<%= link_to "edit this group", edit_group_path(@group) %><br />
<%= link_to "manage users", users_group_path(@group) %><br />

<% end %>


<% end %>