<% content_for(:page_title, "Research Groups") %>

<h1>Research Groups</h1>

<%= groups_alert %>

<% cache( [ 'groups/index', params.slice(:page) ], expires_in: 1.day) do %>
	<%= render partial: "groups/table", locals: { groups: @groups } %>
<% end %>
