<% content_for(:page_title, @group.name + " - Research Groups") %>

<h1>Research Groups</h1>

<%= groups_alert %>

<% cache(Cache.key_with_params('groups/index', params.slice(:page))) do %>
	<%= render partial: "groups/table", locals: { groups: @groups } %>
<% end %>