<% content_for(:page_title, "Request New Research Group") %>

<div class="row">
  <div class="col-sm-6">
    <p>We are in the process of replacing groups with an improved way to collaborate on projects using LittleSis. If you have any questions about this please <%= link_to 'contact us', '/contact' %>.</p>
  </div>
</div>
