<%= turbo_frame_tag "action_network" do %>
  <div id="user-action-network" data-controller="user-action-network" class="mt-2">
    <div class="form-check form-switch d-inline-block">
      <label class="form-check-label" for="action-network-subscribed">Newsletter Subscriptions</label>
      <input class="form-check-input" type="checkbox" role="switch" data-action="change->user-action-network#changeSubscription" id="action-network-subscribed" <%= @activist.subscribed? ? 'checked' : ''%>>
    </div>

    <div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="newsletter" data-action="change->user-action-network#changeTag" id="action-network-tags-newsletter" <%= @activist.tags.include?(:newsletter) ? 'checked' : '' %>>
        <label class="form-check-label" for="action-network-tags-newsletter">LittleSis</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="tech" data-action="change->user-action-network#changeTag" id="action-network-tags-tech" <%= @activist.tags.include?(:tech) ? 'checked' : '' %> >
        <label class="form-check-label" for="action-network-tags-tech">Technology</label>
      </div>
    </div>
  </div>
<% end %>
