<%# Table of network maps for user page. Assumes presence of @user where @user is a UserPresenter %>
<!-- class="table table-condensed" -->

<table class="user-page-table" id="user-page-network-maps-table">
  <% @user.maps.each do |map|  %>
    <tr>
      <td><%= network_map_link(map) %> &nbsp;<em>updated <%= time_ago_in_words(map.updated_at) %> ago</em></td>
    </tr>
  <% end %>
</table>
