<div class="row">
  <div class="col">
    <h1>
      <%= @user.username %>
      <small style="font-size: 12px">
        <%= "member since #{@user.created_at.strftime('%B %Y')}" %>
      </small>
    </h1>
    <% if @user.about_me.present? %>
      <p><%= @user.about_me %></p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= render partial: 'edits/dashboard_recent_edits', locals: { page: 1, user_id: @user.id } %>
  </div>
</div>
