<div class="row">
    <div class="col-sm-8">
        <h2>Welcome to LittleSis!</h2>
        <p>Before you can starting editing you must confirm your email address.</p>
        <p>You should have recieved an email with a confirmation link. If the email never arrives or if you are having any problems with the registration process please contact us at: <%=  mail_to "admin@littlesis.org" %></p>
    </div>
</div>
