<%# locals: request: UserRequest %>

<% username = request.user.username %>

<div class="row">
  <div id="user-request-description" class="col-sm-12">
    <strong>The following <%= request.description %> was requested by
      <%= link_to username, "/users/#{username}"%>
      at <%= l request.created_at %>:
    </strong>
    <p><strong>Justification:</strong> <%= request.justification %></p>
  </div>
</div>
