@font-face {
  font-family: Roboto;
  src: font-url('roboto-v29-latin-regular.woff2') format('woff2'),
       font-url('roboto-v29-latin-regular.woff') format('woff'),
       font-url('Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'Alfa Slab One';
  src: url('AlfaSlabOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
}
