@use "sass:map";
@use "globals";
@use "bootstrap/scss/bootstrap";

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  // height: auto;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#littlesis-scroll-wrapper {
  /* catches scroll so sticky navbar stays propertly */
  overflow: auto;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

#littlesis-body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: globals.$link_blue;

  &:hover {
    text-decoration: underline;
    color: globals.$link_blue_hover;
  }
}

nav.navbar  {
  font-size: 16px;

  @media (min-width: map.get(globals.$grid-breakpoints, "lg")) {
    font-size: 18px;
  }

  background-color: globals.$header_color;

  // Logo
  img {
    //background-color: globals.$header_color;
    max-width: 180px;
  }

  // menu text
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28229, 230, 241, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
  }
  .nav-link {
    color: #E5E6F1;

    &:hover {
      color: #B2B4D7;
    }
  }

  .dropdown-toggle::after {
    display:none;
  }

  .navbar-right-menu-item {
    @media (min-width: map.get(globals.$grid-breakpoints, "sm")) {
       display: none;
    }

    @media (min-width: map.get(globals.$grid-breakpoints, "lg")) {
      display: inherit;
    }
  }

  form#navbar-search {
    input {
      max-width: 200px;
    }
  }

  #top_donate_link {
    a {
      background-color: globals.$red;
      color: #fff;

      &:hover {
	background-color: globals.$red_light;
	color: black;
	box-shadow: -3px 3px 3px #737373;
      }
    }
  }

  h6 {
    margin-top:.5rem;
    color: white;
    a {
      color: #cc5454;
    }
  }
}

div.spacer {
  height: 1em;
}

#footer {
  border-top: 1px dotted #ccc;
  font-size: 0.9em;
  /* padding: 0.6em; */
  color: #444;
}

.section_header {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}

div.pagination {
  ul.pagination {
    li {
      @extend .page-item;
    }

    a {
      @extend .page-link;
    }
  }

}

// .input-group  { margin-bottom: 5px; }

.alert {
  img {
    margin-right: 0.8em;
    height: 16px;
  }

  a { font-weight: 500; }

  button.close { margin-top: -1px; }
}

blockquote {
  color: #888;
  font-size: 1em;
  font-weight: normal;

  p {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0.5em;
  }
}

h3.section {
  margin-bottom: 10px;
}

.interlocks-table th:nth-child(1) {
  width: 250px;
}

.interlocks-table th:nth-child(2) {
}

div.form-group .btn {
  vertical-align: initial;
}
