$page_width: 995px;
$logo_blue: rgb(28, 71, 103);
$logo_blue_light: rgb(41, 105, 153);
$logo_blue_lighter: rgb(55, 139, 204);
$user_image_size: 48px;
$link_blue: #008;
$link_blue_hover: #2a6496;
$left_column_width: 640px;
$right_column_width: 310px;
$small_column_width: $right_column_width;
$big_column_width: $left_column_width;
$border_grey: #e7e7e7;
$small_header_image_size: 80px;
$red: #CC5454;
$red_light: #CC8585;
$red_lighter: rgba(204,133,133,0.4);
$gray: #555;
$light_gray: #f4f4f4;
$light_gray2: #f8f9fa;
$tiny_image_size: 35px;
$small_image_size: 50px;
$old_blue: rgb(51, 122, 183);

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee

// customize bootstrap variables:
//$primary: $old_blue !default;
$primary: $logo_blue_light;

//$font-size-base: 0.9rem;
// $navbar_height: 55px;
$header_color: $light_gray2;

$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, system-ui, -apple-system;

@font-face {
    font-family: Roboto;
    src: font-url('Roboto-Regular.ttf') format('truetype');
}
