$page_width: 970px;
$logo_blue: rgb(28, 71, 103);
$logo_blue_light: rgb(41, 105, 153);
$logo_blue_lighter: rgb(55, 139, 204);
$user_image_size: 48px;
$link_blue: #008;
$link_blue_hover: #2a6496;
$left_column_width: 640px;
$big_column_width: $left_column_width;
$right_column_width: 310px;
$small_column_width: $right_column_width;
$navbar_height: 51px;
$border_grey: #e7e7e7;
$small_header_image_size: 80px;
$red: #CC5454;
$red_light: #CC8585;
$red_lighter: rgba(204,133,133,0.4);