/* helper css utilities */
@import "base/globals";

.link-blue {
  color: $link_blue;
}

.top-1em {
  padding-top: 1em;
}

.top-3em {
  padding-top: 3em;
}

.bottom-1em {
  padding-bottom: 1em;
}

.bottom-3em {
  padding-bottom: 3em;
}

.m-left-1em {
  margin-left: 1em;
}

.pad-right-1em {
  padding-right: 1em;
}

.pad-left-1em {
  padding-left: 1em;
}

.pad-right-08em {
  padding-right: 0.8em;
}

.thin-grey-bottom-border {
  border-bottom: 1px solid #e7e7e7;
}

.gray-img-border {
  border: 1px solid #ddd;
}

.big-text {
  font-size: 42px;
}

.small-text {
    font-size: 10px;
} 

.borderless {
   th, td { 
    border-top: none !important; 
  }
}

.icon-link {
    color: black;
    text-decoration: none;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.double-left-padding {
    padding-left: 30px;
}

.position-relative {
  position: relative;
}

.position-absolute {
    position: absolute;
}


.animate-glyphicon {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}