/* helper css utilities */
// Padding and margins

// icons are loaded in sperate css file, bootstrap-icon.scss,
// however this is also copied over so that we can use "@extend bootstrap-icon" in styles.
.bootstrap-icon {
    &::before {
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -.125em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}


.top-1em {
  padding-top: 1em;
}

.top-3em {
  padding-top: 3em;
}

.bottom-1em {
  padding-bottom: 1em;
}

.bottom-3em {
  padding-bottom: 3em;
}

.m-left-1em {
  margin-left: 1em;
}

.m-right-1em {
  margin-right: 1em;
}

.m-bottom-1em {
    margin-bottom: 1em;
}

.m-bottom-3em {
    margin-bottom: 3em;
}

.m-tb-1em {
    margin-top: 1em;
    margin-bottom: 1em;
}

.pad-right-1em {
  padding-right: 1em;
}

.pad-left-1em {
  padding-left: 1em;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

// font size and typography

.big-text {
  font-size: 42px;
}

.small-text {
    font-size: 10px;
}

.em-07 {
    font-size: 0.7em;
}

// link helpers

.link-blue {
  color: $link_blue;
}

.icon-link {
    color: black;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}


.bg-info {
    background-color: rgb(217, 237, 247) !important;
}


// Position

// .hidden {
//     @extend .d-none;
// }


.position-relative {
  position: relative;
}

.position-absolute {
    position: absolute;
}

// buttons

.red-button {
    /* background-color: #A04040; */
    background-color: $red;
    color: #fff;
}


.empty-button {
    background: none;
    border: none;
    padding: 0;
}


.btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}

.btn-red {
    // @extend .btn-secondary;
    background-color: $red;

    &:hover {
	background-color: $red_light;
    }
}

.btn-clear {
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
    }

    &:focus, &.focus {
	box-shadow: 0 0 0 $btn-focus-width rgba(#333, .5);
    }

    &.disabled, &:disabled {
	color: #333;
	background-color: transparent;
    }
}




// Borders and boxes

.light-gray-box {
    background-color: $light_gray;
    padding: 0.3em;
}

.light-gray-box-rounded {
    @extend .light-gray-box;
    border-radius: 3px;
}

.grey-bottom-border {
    border-bottom: 1.2px solid $gray;
}

.thin-grey-bottom-border {
  border-bottom: 1px solid #e7e7e7;
}

.thin-grey-line {
    @extend .row;
    @extend .thin-grey-bottom-border;
    @extend .w-100;
    margin-left: 0;
}

.gray-img-border {
  border: 1px solid #ddd;
}

.borderless {
   th, td {
    border-top: none !important;
  }
}


.pencil-icon {
    &::before {
        content: "\f4cb";
    }
}
