/* helper css utilities */
// Padding and margins

.top-1em {
  padding-top: 1em;
}

.top-3em {
  padding-top: 3em;
}

.bottom-1em {
  padding-bottom: 1em;
}

.bottom-3em {
  padding-bottom: 3em;
}

.m-left-1em {
  margin-left: 1em;
}

.m-right-1em {
  margin-right: 1em;
}

.m-right-3em {
  margin-right: 3em;
}

.m-bottom-1em {
    margin-bottom: 1em;
}

.m-bottom-3em {
    margin-bottom: 3em;
}

.m-tb-1em {
    margin-top: 1em;
    margin-bottom: 1em;
}

.pad-right-1em {
  padding-right: 1em;
}

.pad-left-1em {
  padding-left: 1em;
}

.no-border-top {
    border-top: 0;
}

.nopadding {
   // padding: 0 !important;
   // margin: 0 !important;
}

.double-left-padding {
    // padding-left: 30px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

// font size and typography

.big-text {
  font-size: 42px;
}

.small-text {
    font-size: 10px;
}

.em-07 {
    font-size: 0.7em;
}

// Colors

.grey-text {
    color: $gray;
}


// link helpers

.link-blue {
  color: $link_blue;
}


.icon-link {
    color: black;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}


// Position

.position-relative {
  position: relative;
}

.position-absolute {
    position: absolute;
}

// buttons

.red-button {
    /* background-color: #A04040; */
    background-color: $red;
    color: #fff;
}


.empty-button {
    background: none;
    border: none;
    padding: 0;
}

// Borders and boxes

.light-gray-box {
    background-color: $light_gray;
    padding: 0.3em;
}

.light-gray-box-rounded {
    @extend .light-gray-box;
    border-radius: 3px;
}

.grey-bottom-border {
    border-bottom: 1.2px solid $gray;
}

.thin-grey-bottom-border {
  border-bottom: 1px solid #e7e7e7;
}

.thin-grey-line {
    @extend .row;
    @extend .thin-grey-bottom-border;
    @extend .w-100;
    margin-left: 0;
}

.gray-img-border {
  border: 1px solid #ddd;
}

.borderless {
   th, td {
    border-top: none !important;
  }
}


.pencil-icon {
    @extend .bootstrap-icon;

    &::before {
        content: "\f4cb";
    }
}
