html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  // height: auto;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#littlesis-scroll-wrapper {
  /* catches scroll so sticky navbar stays propertly */
  overflow: auto;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

#littlesis-body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: $link_blue;

  &:hover {
    text-decoration: underline;
    color: $link_blue_hover;
  }
}

nav.navbar  {
  font-size: 14px;

  background-color: $header_color;

  img {
    background-color: $header_color;
    max-width: 180px;
  }

  .nav-link {
    color: #777;

    &:hover {
      color: #333;
    }
  }

  .dropdown-toggle::after {
    display:none;
  }

  .navbar-right-menu-item {
    @include media-breakpoint-up(sm) {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      display: inherit;
    }
  }


  form#navbar-search {
    input {
      max-width: 200px;
    }
  }

  #top_donate_link {
    a {
      background-color: $red;
      color: #fff;

      &:hover {
	background-color: $red_light;
	color: black;
	box-shadow: -3px 3px 3px #737373;
      }
    }
  }
}

div.spacer {
  height: 1em;
}

#footer {
  border-top: 1px dotted #ccc;
  font-size: 0.9em;
  /* padding: 0.6em; */
  color: #444;
}

.section_header {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}

div.pagination {
  ul.pagination {
    li {
      @extend .page-item;
    }

    a {
      @extend .page-link;
    }
  }

}

// .input-group  { margin-bottom: 5px; }

.alert {
  img {
    margin-right: 0.8em;
    height: 16px;
  }

  a { font-weight: 500; }

  button.close { margin-top: -1px; }
}

blockquote {
  color: #888;
  font-size: 1em;
  font-weight: normal;

  p {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0.5em;
  }
}

h3.section {
  margin-bottom: 10px;
}

.interlocks-table th:nth-child(1) {
  width: 250px;
}

.interlocks-table th:nth-child(2) {
}

div.form-group .btn {
  vertical-align: initial;
}
