#container-wrapper {
    max-width: $page_width;
    margin: 0 auto;
}

#container {
    @extend .container-fluid;
    min-height: 500px;
    margin-top: 1em;
}

.fullscreen {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  /* font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; */
  /* needed for bootstrap's fixed navbar */
  padding-top: $navbar_height;

  &.static {
    padding-top: 0;
  }
}

  a {
      text-decoration: none;
      color: $link_blue;

      &:hover {
	  text-decoration: underline;
	  color: $link_blue_hover;
      }
}

/*
#top
  nav#main-navbar-container.navbar
    div#navbar-content-wrapper
      div#navbar-content
        div.brand --> image
        div.collapse.navbar-collapse
          div                 --> bootstrap menu
          div#navbar-notice   --> optional notice
          div#top_donate_link --> donate button
          div                 --> search box
            form#navbar-search
*/

#top {
    .navbar, #navbar-content-wrapper {
	height: $navbar_height;
    }

    #donation-banner-wrapper, #navbar-content-wrapper {
	width: $page_width;
	margin: 0 auto;
	display: inherit;
	padding-left: 0px;
	padding-right: 0px;

	@include media-breakpoint-up(md) {
	    padding-left: 15px;
	}

    }

    // change above style when full width
    #navbar-content-wrapper.navbar-full-width {
	width: 100%;
	padding-left: 0;
	padding-right: 2px;
    }

    #navbar-content {
	width: 100%;
	display: inherit;

	font-size: 14px;

	img {
	    margin-top: 12px;
	    max-width: 180px;
	}
    }

    .nav-link {
	color: #777;

	&:hover {
	    color: #333;
	}
    }

    .dropdown-toggle::after {
	display:none;
    }



    .navbar-right-menu-item {
        @include media-breakpoint-up(sm) {
	    display: none;
	}

	@include media-breakpoint-up(lg) {
	    display: inherit;
	}
    }


    #navbar-search {
	@extend .form-inline;

	input {
	    max-width: 200px;
	}
	margin-top: 6px;
    }


    #top_donate_link {
	margin-right: 0.6em;

	a {
	    @extend .btn;
	    @extend .red-button;
	    &:hover {
		background-color: $red_light;
		color: black;
		box-shadow: -3px 3px 3px #737373;
	    }
	}



    }

    //   .highlighted { font-weight: 500; }
}

#top_content_full {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}


#brand {
  margin-top: 12px;
  margin-right: 1em;
  img {
    width: 180px;
    cursor: pointer;
  }
}

// #menu {
//   float: left;
//   padding-top: 0.2em;

//   .dropdown {
//     display: inline-block;
//   }

//   .menu_dropdown_name {
//     color: white;
//     cursor: pointer;
//     padding-left: 1em;
//     margin-left: 0.2em;

//     &:hover { text-decoration: none; }

//     &.highlighted {
//       color: #ffc;
//     }
//   }

//   li a {
//     color: $link_blue;
//   }
// }

#session_info {
  padding-top: 4px;
  font-size: 0.8em;
  float: right;
  a { color: rgb(192, 192, 255); }
}

#header {
  background-color: #eee;
}

#header_content {
  width: $page_width;
  margin: 0 auto;
}

#title {
  font-size: 2em;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.field label {
  display: block;
  margin-top: 0.5em;
  font-weight: bold;
}

.helper {
  padding: 1.3em;
  background-color: #eee;
  font-size: 1em;
  border-radius: 8px;
  a { font-weight: 500; }
  margin-bottom: 2em;
}

.centered_content {
  width: $page_width;
  margin: 0 auto;
}

.more_link {
  font-size: 1em;
  font-weight: 600;
}

.field {
  input[type=text] {
    width: 500px;
  }

  textarea {
    width: 500px;
    height: 50px;
  }

  textarea.textarea_medium {
    width: 500px;
    height: 200px;
  }
}

.header_action {
  margin-left: 5px;
  font-size: 12px;
}

nav.pagination {
  margin: 0;

  .page.current {
    font-weight: bold;
  }
}

table.list_table {
  border-collapse: collapse;

  tr:hover td {
    background-color: #f8f8f8;
  }

  th {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
  }

  td, th {
    vertical-align: top;
    padding-left: 14px;
    padding-right: 14px;
  }
}

div.spacer {
  height: 1em;
}

#footer_clear {
  clear:both;
  margin-bottom: 2em;
}

#footer {
  width: $page_width;
  margin: 0 auto;
  clear: both;
  border-top: 1px dotted #ccc;
  padding: 0.6em;
  font-size: 0.9em;
  color: #444;
}

.section_header {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}

.pagination {
  margin: 0;
}

.left_column {
  float: left;
  width: $left_column_width - 30px;

  h1, h2, h3 { margin-top: 0; }
}

.right_column {
  margin-left: $left_column_width;
  width: $right_column_width;

  h1, h2, h3 { margin-top: 0; }
}

.small_left_column {
  float: left;
  width: $small_column_width;

  h1, h2, h3 { margin-top: 0; }
}

.big_right_column {
  margin-left: $small_column_width + 30px;
  width: $big_column_width;

  h1, h2, h3 { margin-top: 0; }
}

.clear_columns {
  clear: both;
}

// form .alert {
//   width: 500px;
// }

.small_caps {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #bbb;
}

.pagination {
  height: 34px;
}

.input-group  { margin-bottom: 5px; }

body.bootsy_text_area.form-control {
  padding: 0;
}

.alert {
  img {
    margin-right: 0.8em;
    height: 16px;
  }

  a { font-weight: 500; }

  button.close { margin-top: -1px; }
}

blockquote {
  color: #888;
  font-size: 1em;
  font-weight: normal;

  p {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0.5em;
  }
}

.bigger_text {
  font-size: 1.3em;
}

h3.section {
  margin-bottom: 10px;
}

.interlocks-table th:nth-child(1) {
  width: 250px;
}

.interlocks-table th:nth-child(2) {
}

div.form-group .btn {
    vertical-align: initial;
}
