#donation-banner-container {
    background-color: #ffe773;
    height: 25px;

    a {
        text-decoration: underline;
        &:hover {
            color: #8a73ff;
        }
    }
}

#donation-banner-wrapper p {
    width: 100%;
    text-align: center;
    margin-top: -6px;
}


#container-wrapper.donation-banner {
    margin-top: 38px;
}

#main-navbar-container.donation-banner {
    top: 30px;
}
