@use "../base/globals";
@use "../base/helpers";

div.tri-boolean-container {
  label {
    margin-left: 5px;
    margin-right: 5px;
  }
}

div.entity-extension-checkbox-wrapper {
  span {
    margin-left: 3px;
    cursor: default;

    &:hover {
      background-color: globals.$red_lightest;
    }
  }

  i {
    cursor: pointer;
  }
}

span.alias-remove {
  color: black;
}

span.alias-remove:hover {
  color: globals.$link_blue;
}

form.alias-form {
  display: inline;
}

.entity-type-toggle {
  color: black;
}

// record history pages

#record-history-container {
  padding-top: 1em;

  table {
    cursor: default;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.3em;

    td {
      border-top: 0;
      padding-left: 0;
    }

  }

  .pagination {
    padding-top: 0.2em;
  }
}


#recent-edits-table {

  tr td:first-child {
    white-space: nowrap;
  }

  tbody {
    font-size: 0.75rem;
  }
}

.star-empty::before {
  content: "\f588";
}

.star-full::before {
  content: "\f586";
}

.star-button {
  @extend .empty-button;

  > span {
    @extend .bootstrap-icon;
    font-size: 15px;
  }

  &:hover > span {
    color: globals.$link_blue_hover;
  }

  .star {
    @extend .star-full;

    &:hover {
      @extend .star-empty;
    }
  }

  .not-star {
    @extend .star-empty;

    &:hover {
      @extend .star-empty;
    }
  }
}

.delete-button {
  color: black;
  background: none;
  border: none;
  padding: 0;

  &:hover > span {
    color: globals.$link_blue_hover;
  }
}

$reference_widget_width: 300px;

#reference-widget-container {
  width: $reference_widget_width;

  select {
    width: $reference_widget_width;
  }
}

#add-reference-modal .form-group input {
  width: 80%;
}
