@use "../base/globals";

td.lists_table_name {
  min-width: 350px;
  font-weight: bold;
}

#list-header {
  .multiline-text a {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 500;
    display: inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  a:hover {
    text-decoration: none;
  }
}

#list-description {
  font-size: 21px;
  line-height: 30px;
  font-weight: 300;
}

#list-long-description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

#list-edited-history {
  float:right;
}

.list_tabs ul.tabs {
  li a {
    background-color: globals.$red_light;
  }

  li:hover a {
    background-color: globals.$red;
  }

  li.active a {
    background-color: globals.$red;
  }
}

#list-sources {
  font-size: 16px;
  margin-left: 1em;
}

#list-config-access-buttons {
  margin-top: 1em;
  margin-bottom: 2em;

  input {
    display: none;
  }

  label {
    display: block;
    position: relative;
    cursor: pointer;
  }
}

.list-access-level-help {
  margin-top: 25px;
  color: rgba(0,0,0,.8);
  display: none;
}

#list-tab-menu {

  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    box-sizing: border-box;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    font-size: 17px;
    padding: 0.4em;
    padding-right: 0.4em;
    padding-left: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border: 0;
    margin-right: 0.5em;
    color: white;
    background-color: globals.$red_light;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-decoration: none;
  }

  li.active a, a:hover {
    background-color: globals.$red;
  }

}

#list-search-container, .list-actions {
  .select2-container .select2-selection--single {
    height: 38px !important;
  }
}


.list-sort-icon {
  &:hover {
    background-color: globals.$logo_blue_light;
    cursor: pointer;
  }
}

.edit_list {
  .row {
    margin-bottom: 1em;
  }
}
