/* BULK TABLE STYLES */

// TODO: make a colors.scss file and import from there!
$light-maroon: rgba(204,133,133,0.4);
$maroon: rgba(204, 84, 84, 1);
$primary-blue: rgba(51, 122, 183, 1);
$table-border-radius: .2em;

h1#bulk-add-header {
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

#bulk-add-container {
    #bulk-add-notifications {
        font-style: italic;
        color: gray;
    }
    table {
        width: 100%;
        border-collapse: separate !important;
        border-spacing: 0;
        td, th {
            border: 1px solid gray;
            padding: .5em;
        }
        th {
            background-color: $maroon;
            color: white;
            font-size: larger;
        }
        thead {
            th {
                border-left: 0;
            }
            th:first-child {
                border-top-left-radius: $table-border-radius;
                border-left: 1px solid grey;
            }
            th:last-child {
                border-top-right-radius: $table-border-radius;
            }
        }
        tbody {
            td {
                border-top: 0;
                border-left: 0;
            }
            td:first-child {
                border-left: 1px solid gray;
            }
            tr:last-child {
                td:first-child {
                    border-bottom-left-radius: $table-border-radius;
                }
                td:last-child {
                    border-bottom-right-radius: $table-border-radius;
                }
            }
            .resolver-anchor {
                margin-left: -3em;
                margin-top: -1.5em;
                width: 1em;
                cursor: pointer;
            }
            .alert-icon{
                @extend .glyphicon;
	        @extend .glyphicon-alert;
                color: $maroon;
            }
            .arrow {
                top: calc(0% + 5em) !important;
            }
            .popover-title {
                font-weight: bold;
            }
            .resolver-popover {
                .goto-link-icon{
                    @extend .glyphicon;
	            @extend .glyphicon-new-window;
                    color: $primary-blue;
                }
                .btn {
                    width: 100%;
                }
                .btn-danger {
                    background-color: $maroon;
                }
                .resolver-picker-btn {
                    margin: 1em 0 1em 0; // TRBL
                }
                .resolver-picker-result-container {
                    width: 19em;
                }
                .resolver-picker-result {
                    padding: 1em 0 0 .5em; // TRBL
                    a {
                        margin-right: .5em;  
                    }
                }
            }
        }
    }
}
