/* entity datatable */

#relationships-table {
    span.entity-blurb {
	margin-left: 10px;
    }
}

#relationships-table {  
  border-bottom-color: rgb(221, 221, 221);

  tbody, thead th {
    border-bottom-color: rgb(221, 221, 221);
  }

  .entity-link {
    font-weight: 500;
  }
}

#relationships-filters {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 5px;
}

#relationships-filters-line2 {
  margin-top: 5px;
}

#relationships-search {
  width: 200px;
}

#relationships-amount {
  width: 75px;
}

.buttons {
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  display: inline-block;

  a {
    margin-right: 5px;
  }
}

#relationships-filters select {
  max-width: 280px;
}

html #relationships-table_info {
  clear: none;
  margin-top: 3px;
}





////////////////////////
// List Members Page //
//////////////////////

#datatable-filters {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 5px;
}

#datatable-filters-line2 {
  margin-top: 5px;
}

#datatable-search {
  width: 200px;
}

#datatable-amount {
  width: 75px;
}

.buttons {
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  display: inline-block;

  a {
    margin-right: 5px;
  }
}

#datatable-filters select {
  max-width: 280px;
}

html #datatable-table_info {
  clear: none;
  margin-top: 3px;
}


// DataTable tweaks for lists and entity datatable page
#datatable-table, #relationships-table {  
  border-bottom-color: rgb(221, 221, 221);

  tbody, thead th {
    border-bottom-color: rgb(221, 221, 221);
  }

  .entity-link {
    font-weight: 500;
  }

  // Fix spacing issue
  thead tr {
      th.sorting_asc, th.sorting {
	  padding-left: 17px;
      }
  }
}

// DataTable style tweaks
#datatable-table {
    glyphicon-remove {
	@extend .hvr-pop;
	color: #aaa;
    }
    .glyphicon-remove:hover {
	color: #666666;
    }
}
