/* entity datatable */

#relationships-table {
  border-bottom-color: rgb(221, 221, 221);
  
  width: 100%;


  tbody, thead th {
    border-bottom-color: rgb(221, 221, 221);
  }

  .entity-link {
    font-weight: 500;
  }

  span.entity-blurb {
      margin-left: 10px;
  }
}

#relationships-filters {
  select {
      min-width: 200px;
      max-width: 280px;
  }

  input, select {
      @extend .form-control;
      @extend .mr-2;
  }

  #relationships-filters-checkboxes {
      @extend .form-check;
      @extend .form-check-inline;

      input {
	  margin-left: 5px !important;
	  margin-right: 5px !important;
      }
  }
  
  #relationships-filters-line2, #relationships-filters-line1 {
      @extend .form-inline;
  }

  #relationships-filters-line2 {
      margin-top: 5px;

      label:hover {
	  text-decoration: underline;
      }
  }

  #relationships-search {
      width: 200px !important;
  }

  #relationships-amount {
      width: 125px;
  }

  .buttons {
      float: left;
      margin-right: 10px;
      margin-top: 7px;
      display: inline-block;

      a {
	  margin-right: 5px;
      }
  }
  
}

// allows <div.buttons> to nicely fix to the left of it
#relationships-table_info {
  clear: none;
  margin-top: 3px;
}

///////////////////////
// shared styles    //
/////////////////////

// DataTable tweaks for lists and entity datatable page
#datatable-table, #relationships-table {  
  border-bottom-color: rgb(221, 221, 221);

  tbody, thead th {
    border-bottom-color: rgb(221, 221, 221);
  }

  .entity-link {
    font-weight: 500;
  }

  // Fix spacing issue
  thead tr {
      th.sorting_asc, th.sorting {
	  padding-left: 17px;
      }
  }
}

// filters

#relationships-filters, #datatable-filters {
     background-color: #eee;
     padding: 10px;
     margin-bottom: 5px;
}

////////////////////////
// List Members Page //
//////////////////////

#datatable-filters-line2 {
  margin-top: 5px;
}

#datatable-search {
  width: 200px;
}

#datatable-amount {
  width: 75px;
}

.buttons {
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  display: inline-block;

  a {
    margin-right: 5px;
  }
}

#datatable-filters select {
  max-width: 280px;
}

html #datatable-table_info {
  clear: none;
  margin-top: 3px;
}


// Delete Entity From List style
#datatable-table {
    .glyphicon-remove {
	@extend .hvr-pop;
	color: #aaa;
    }
    .glyphicon-remove:hover {
	color: #666666;
    }
}


// fix spacing issue with paginate button

html .dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
  margin: 0;
  border: 0;

  &:hover {
    border: 0;
    background: none;
  }
}


html table.dataTable thead {
    .sorting_asc {
	background: asset-url('sort_asc.png') no-repeat center left;
    }

    .sorting_desc {
	background: asset-url('sort_desc.png') no-repeat center left;
    }

    .sorting {
	background: asset-url('sort_both.png') no-repeat center left;
    }

    .sorting_asc_disabled {
	background: asset-url('sort_asc_disabled.png') no-repeat center left;
    }

    .sorting_desc_disabled {
	background: asset-url('sort_desc_disabled.png') no-repeat center left;
    }
}
