#donation-banner-container {
    background-color: #ffe773;
    height: 25px;

    a {
	text-decoration: underline;
    }
}

#donation-banner-wrapper p {
    padding-bottom: 5px;
}    


#container-wrapper.donation-banner {
    margin-top: 38px;
}

#main-navbar-container.donation-banner {
    top: 30px;
}

