// Place all the styles related to the edits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#entity-types {

    span.glyphicon {
	cursor: pointer;
    }
    
    span.entity-type-name {
	cursor: default;
    }
    span.entity-type-checkbox-wrapper:hover {
	background-color: rgba(255,255,153, 0.4);
    }

}