@import "base/globals";

$tiny_image_size: 35px;

.entity_update {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid $border_grey;
}

.entity_update_image {
	float: left;
	margin-right: 0.5em;
	height: $tiny_image_size;
	width: $tiny_image_size;
  border-radius: $tiny_image_size/10;
	background-size: cover;
	background-position: center center;
}

.entity_update_name {
	margin-top: -4px;
	font-size: 1.2em;
	font-weight: 500;
}

.entity_update_user {
    font-size: 0.8em;
    
    a {
	font-weight: 500;
    }
}

/* TABS */

.button-tabs {
  border-bottom: 1px solid $red;
  padding-top: 7px;
  padding-bottom: 5px;
  height: 24px;
  margin-top: 0.8em;
  margin-bottom: 1em;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;  
}

.button-tabs span {
  margin-right: 5px;
  text-align: center;
}

.button-tabs span a {
  padding: 12px;
  padding-top: 8px;
  padding-bottom: 7px;
  font-size: 17px;
  color: white;
  text-decoration: none;
  background-color: $red-light;
  border-bottom: 1px solid $red;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.button-tabs span a:hover {
  background-color: $red;
}

.button-tabs span.active a{
  background-color: $red;
  border: 1px solid $red;
  border-bottom: 1px solid $red;
}


/* ENTITY PAGE ACTIONS */

#entity-edited-history {
  color: #444;
  font-size: 12px;
  padding-left: 15px;
}

#actions {
    /* margin-top: 1.2em; */
    /* display: inline; */
}

div.actions-row {
    padding-bottom: 11px;
}

#action-buttons {
    display: inline-block;

    a {
	font-size: 14px;
	top: -6px;
	color: #444;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 3px;
	-moz-border-radius:10px;
	border-radius: 10px;
    }

    a:hover {
	color: #000;
	background-color: #ddf;
	text-decoration: none;
    }
    
    a.disabled_action {
	color: #888;
	background-color: #f8f8f8;
    }
 
   a.disabled_action:hover {
       cursor: default;
   }
}

/* summary toggle */
#entity-summary {
  line-height: 1.3em;
}


/* entity/small */

$small_image_size: 50px;

.entity_small
{
  border-bottom: 1px solid #eee;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 12px;
  line-height: 15px;
}

.entity_small_image
{
  float: left;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center center;
  border-radius: 0.5em;
}

.entity_small_text
{
	margin-left: 60px;
  width: 240px;
}

.entity_small_name
{
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.entity_small_description
{
  font-style: italic;
  color: #666;
  margin-bottom: 0.5em;
}

.entity_small_count
{
  clear: both;
  font-weight: bold;
}

.entity_small ul
{
  margin: 0;
}

.entities_table_name {
  width: 250px;
}

.entity_tiny_image {
  height: $tiny_image_size;
  width: $tiny_image_size;
  border-radius: $tiny_image_size/10;
  background-size: cover;
  background-position: center center;  
}


/* entity datatable */

#entity-header {
  margin-top: -14px;
  margin-bottom: 20px;
}

#entity-name {
  font-size: 42px; 
  line-height: 60px;
  font-weight: 500;

  a:hover {
    text-decoration: none;
  }
}

#entity-blurb {
  font-size: 21px;
  line-height: 30px;
  font-weight: 300;
}

.entity-blurb {
  font-size: 12px;
  color: #888;
}

#relationships-table {  
  border-bottom-color: rgb(221, 221, 221);

  tbody, thead th {
    border-bottom-color: rgb(221, 221, 221);
  }

  .entity-link {
    font-weight: 500;
  }
}

#relationships-filters {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 5px;
}

#relationships-filters-line2 {
  margin-top: 5px;
}

#relationships-search {
  width: 200px;
}

#relationships-amount {
  width: 75px;
}

.buttons {
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  display: inline-block;

  a {
    margin-right: 5px;
  }
}

#relationships-filters select {
  max-width: 280px;
}

html #relationships-table_info {
  clear: none;
  margin-top: 3px;
}

/* DataTables sorting */
html .dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
  margin: 0;
  border: 0;

  &:hover {
    border: 0;
    background: none;
  }

  &:active {
    background-color: white;
  }
}

html .dataTables_filter label {
  width: 300px;

  input[type="search"] {
    width: 247px;
  }
}

html table.dataTable thead {
  .sorting_asc {
    background: asset-url('sort_asc.png') no-repeat center left;
  }
   
  .sorting_desc {
    background: asset-url('sort_desc.png') no-repeat center left;
  }
   
  .sorting {
    background: asset-url('sort_both.png') no-repeat center left;
  }
   
  .sorting_asc_disabled {
    background: asset-url('sort_asc_disabled.png') no-repeat center left;
  }
   
  .sorting_desc_disabled {
    background: asset-url('sort_desc_disabled.png') no-repeat center left;
  }
}

/* fields */

.fields-table {
  width: 600px;

  td.name {
    width: 200px;
    font-size: 16px;
    line-height: 34px;
  }

  td.value {
    width: 400px;
  }

  td.actions {
    line-height: 36px;

    .delete-field {
      color: #ccc;
      cursor: pointer;

      &:hover {
        color: #888;
      }
    }
  }

  td.fields-helper {
    color: #aaa;
    font-size: 12px;
    line-height: 30px;
    font-style: italic;

    em { 
      font-style: normal; 
      font-weight: 500;
    }
  }
}

/* news articles */

.news-article-checkbox {
  font-size: 1.3em;  
}

.news-article-title {
  font-size: 1.3em;
  font-weight: 500;
}

/* find merges */

.warning {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 4px solid red;
  padding: 20px;

  strong {
    color: red;
  }
}

#other-types, #person-types, #org-types {
  display: none;
}

.entity-type {
  display: inline-block;
  margin-right: 10px;
}

/* political page */

#political-pie-chart canvas {
  margin-top: e1m;
}

#pie-info p {
  line-height: 0.6em;
  font-size: 0.8em;
}

#pie-info .text-info {
  padding-left: 1em;
}

/* match donations */

#donations-table {
  font-size: 11px;
}

#donations-table tbody td {
  cursor: pointer;
}

#match-donations .toolbar {
    float: left;
}

#match-donations .loading {
  width: 30px;
  display: inline-block;
  margin-left: 1em;
}

#about-sidebar p {
  font-size: 11px;
}

#page-length-select {
  margin-left: 0.5em;
}

.spin-icon {
  -webkit-animation: spin-icon .8s infinite linear;
  -moz-animation: spin-icon .8s infinite linear;
  -o-animation: spin-icon .8s infinite linear;
  animation: spin-icon .8s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin-icon {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-icon {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* add relationship page */

#results-table tbody tr:hover {
    background-color: $red_lighter;
}

#reference {
    
    label {
	font-size: 0.8em;
	 font-weight: normal;
    }

}