/*  Is is still in use? */

.entity_small
{
  border-bottom: 1px solid #eee;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 12px;
  line-height: 15px;
}

.entity_small_image
{
  float: left;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center center;
  border-radius: 0.5em;
}

.entity_small_text
{
	margin-left: 60px;
  width: 240px;
}

.entity_small_name
{
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.entity_small_description
{
  font-style: italic;
  color: #666;
  margin-bottom: 0.5em;
}

.entity_small_count
{
  clear: both;
  font-weight: bold;
}

.entity_small ul
{
  margin: 0;
}

.entity_tiny_image {
  height: $tiny_image_size;
  width: $tiny_image_size;
  border-radius: $tiny_image_size/10;
  background-size: cover;
  background-position: center center;  
}
