.entity_update {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid $border_grey;
}

.entity_update_image {
	float: left;
	margin-right: 0.5em;
	height: $tiny_image_size;
	width: $tiny_image_size;
  border-radius: $tiny_image_size/10;
	background-size: cover;
	background-position: center center;
}

.entity_update_name {
	margin-top: -4px;
	font-size: 1.2em;
	font-weight: 500;
}

.entity_update_user {
    font-size: 0.8em;

    a {
	font-weight: 500;
    }
}

/* TABS */

.button-tabs {
  border-bottom: 1px solid $red;
  padding-top: 7px;
  padding-bottom: 5px;
  height: 24px;
  margin-top: 0.8em;
  margin-bottom: 1em;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.button-tabs span {
  margin-right: 5px;
  text-align: center;
}

.button-tabs span a {
  padding: 12px;
  padding-top: 8px;
  padding-bottom: 7px;
  font-size: 17px;
  color: white;
  text-decoration: none;
  background-color: $red-light;
  border-bottom: 1px solid $red;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

/* TAB CONTENTS */

#entity-connections-container {
    #entity-connections-header {
        #entity-connections-title {
            padding-left: .5em;
            font-size: large;
            border-bottom: 1px solid lightgrey !important;
            font-weight: bold;
        }
        #entity-connections-subtitle {
            padding-left: .5em;
            color: grey;
            font-style: italic;
        }
    }
    #entity-connections-table {
        margin-top: .5em;
        th {
            border-bottom: 1px solid lightgrey !important;
	    font-size: larger;
        }
        #connected-entity-header, .connected-entity-cell {
	    width: 30%;
        }
    }
}

.button-tabs span a:hover {
  background-color: $red;
}

.button-tabs span.active a{
  background-color: $red;
  border: 1px solid $red;
  border-bottom: 1px solid $red;
}

#entity-without-relationships-message {
    @include media-breakpoint-up(sm) {
	width: 80%;
    }

    p {
	color: $gray;
	font-size: 0.8em;
    }
}


/* ENTITY PAGE ACTIONS */

#entity-edited-history {
    color: #444;
    font-size: 12px;
    padding-top: 7px;
    margin-top: 0.25em;
}

#actions {
    /* margin-top: 1.2em; */
    /* display: inline; */
}

div.actions-row {
    padding-bottom: 11px;
}

#action-buttons {
    display: inline-block;
    height: 27px;

    form {
	display: inline;
	height: 27px;
    }

    input, a {
	cursor: pointer;
	font-size: 14px;
	top: -6px;
	color: #444;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 3px;
	-moz-border-radius:10px;
	border-radius: 10px;
    }

    input {
	padding: 2px;
    }

    input:hover, a:hover {
	color: #000;
	background-color: #ddf;
	text-decoration: none;

    }

    a.disabled_action {
	color: #888;
	background-color: #f8f8f8;
    }

   a.disabled_action:hover {
       cursor: default;
   }

  .twitter-share-button {
    vertical-align:top
}
}

/* summary toggle */
#entity-summary {
  line-height: 1.3em;
}


.entities_table_name {
  width: 250px;
}

#entity-name {
    font-size: 42px;
    line-height: 60px;
    font-weight: 500;

    a:hover {
	text-decoration: none;
    }
}

#entity-blurb-wrapper {
    #entity-blurb-text {
	font-size: 21px;
	line-height: 30px;
	font-weight: 300;
    }

}

#editable-blurb {
    min-height: 30px;

    #entity-blurb-pencil {
	cursor: pointer;
	margin-left: 2px;
    }
}

.entity-blurb {
  font-size: 12px;
  color: #888;
}


/* fields */

.fields-table {
  width: 600px;

  td.name {
    width: 200px;
    font-size: 16px;
    line-height: 34px;
  }

  td.value {
    width: 400px;
  }

  td.actions {
    line-height: 36px;

    .delete-field {
      color: #ccc;
      cursor: pointer;

      &:hover {
        color: #888;
      }
    }
  }

  td.fields-helper {
    color: #aaa;
    font-size: 12px;
    line-height: 30px;
    font-style: italic;

    em {
      font-style: normal;
      font-weight: 500;
    }
  }
}

/* news articles */

.news-article-checkbox {
  font-size: 1.3em;
}

.news-article-title {
  font-size: 1.3em;
  font-weight: 500;
}

/* find merges */

.warning {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 4px solid red;
  padding: 20px;

  strong {
    color: red;
  }
}

#other-types, #person-types, #org-types {
  display: none;
}

.entity-type {
  display: inline-block;
  margin-right: 10px;
}

/* political page */

#political-pie-chart canvas {
  margin-top: e1m;
}

#pie-info p {
  line-height: 0.6em;
  font-size: 0.8em;
}

#pie-info .text-info {
  padding-left: 1em;
}

/* match donations */

#donations-table {
  font-size: 11px;
}

#donations-table tbody td {
  cursor: pointer;
}

#match-donations .toolbar {
    float: left;
}

#match-donations .loading {
  width: 30px;
  display: inline-block;
  margin-left: 1em;
}

#about-sidebar{
    padding-left: 25px;

    p {
	font-size: 11px;
    }

}

#page-length-select {
  margin-left: 0.5em;
}

.spin-icon {
  -webkit-animation: spin-icon .8s infinite linear;
  -moz-animation: spin-icon .8s infinite linear;
  -o-animation: spin-icon .8s infinite linear;
  animation: spin-icon .8s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin-icon {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-icon {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* add relationship page */

.category-select-button {
    @extend .btn;
    @extend .btn-light;
    @extend .border;
}

#results-table tbody tr:hover {
    background-color: $red_lighter;
}

#reference {
    label {
	font-size: 0.8em;
	 font-weight: normal;
    }
}

div.popover-content {
    font-size: 12px;
}

/* IMAGE UPLOAD */

.image-upload-alert {
    @extend .alert;
    @extend .alert-warning;
    width: 100%;
}

.image-upload-file-url-box {
    background-color: #eee;
    padding: 1em;
    border-radius: 8px;
}


//--------------------//
// Edit entity page   //
//--------------------//



#edit-references-panel {
    div.card {
	width: 25rem;
    }

    .card-title {
	// font-size: 1em;
	// font-weight: bolder;
    }

    #use-existing-reference-btn, #create-new-reference-btn {
	@extend .btn;
	@extend .btn-primary;
	@extend .btn-sm;
    }

    #new-reference-form {
	label {
	    font-size: 0.8em;
	}
    }
}


div.entity-form-group {
    @extend .form-group;
    @extend .row;
}

.entity-edit-label {
    @extend .col-2;
    // padding: 0 !important;
    font-size: 14px;
    font-weight: 650;
}

// entity images

table.entity-images-table {
    p.image-caption > span {
        &:hover {
            cursor: pointer;
            background-color: rgba(55, 139, 204, 0.8)
        }
    }
}

.image-modal-dialog {
    max-width: 500px;
}

.image-modal-body {
    input {
	min-width: 350px;
    }

    button {
	background-color: $red;
    }

    button:hover {
	background-color: $red_light;
    }
}

.entity-profile-image {
    max-width: 100%;
    height: auto;
}

.add-relationship-content-row {

}

.add-relationship-entity-search-input-group {
    max-width: 330px;
}
