#giving-tuesday-container {
    background-color: #ffe773;
    height: 25px;

    a {
	text-decoration: underline;
    }
}

#main-navbar-container {
    top: 30px;
}

    
#giving-tuesday-wrapper p {
    padding-bottom: 5px;
}    
