@import "base/globals";
$logo_size: 50px;

#group_header_cover {
	padding-top: 1em;
	padding-bottom: 2em;
	margin-bottom: 2em;
}

#group_header_cover_content {
	width: $page_width;
	margin: 0 auto;
	color: black;
}

.group_campaign_small {
	font-weight: 300;
	font-size: 1em;

	a { font-weight: 400; }
}

#group_campaign {
	border-top: 0px solid #ccc;
	color: #999;
	padding-top: 0;
	padding-bottom: 0em;
	border-bottom: 0px solid #ccc;

	a { color: #999; }
}

#group_campaign_content {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;	
}

#group_campaign_logo img {
	width: $logo_size - 10;
	height: $logo_size - 10;
	border-radius: 5px;
	float: left;
	opacity: 1;
}

#group_campaign_name {
	margin-left: $logo_size;
	font-size: 23px;
	line-height: 1.3em;
	font-weight: 400;
}

#group_campaign_tagline {
	margin-left: $logo_size;	
	font-size: 0.8em;
	font-weight: 300;
	font-style: italic;
}

#group_header {
	margin-top: 1em;

	#group_stats {
		font-size: 1em;
		color: #444;
		margin-top: 1em;
	}

	#group_helper {
		display: inline-block;
		margin-top: 1em;
		background-color: rgba(240, 240, 255, 0.8);
		border-radius: 0.5em;
		font-size: 0.9em;
		padding: 1em;
		margin-bottom: 0;

		a {
			font-weight: bold;
		}
	}

	#group_logo {
		padding-top: 0;
		margin-left: 0;
		background-color: #f8f8f8;
		border-radius: 10px;
		width: $small_column_width;
		height: $small_column_width;
		overflow: hidden;

		img {
			width: $small_column_width;
		}
	}

	#group_logo_small {
		float: left;
		margin-right: 15px;

		img {
			width: 80px;
			border-radius: 8px;
		}
	}

	#group_logo_credit {
		font-size: 11px;
		font-style: italic;
		padding-left: 5px;
	}
}

#group_carousel_header {
	margin-bottom: 1em;	
}

#group_watching_header {
	margin-bottom: 0;
}

#group_carousel {
	margin-top: 1em;
	margin-bottom: 1em;
}

.group_mini {
	padding-top: 0.7em;
	padding-bottom: 0.7em;

	.group_mini_name {
		margin-left: $logo_size + 10px;
		font-size: 1.2em;
		font-weight: 500;
	}

	.group_mini_tagline {
		margin-left: $logo_size + 10px;
		font-size: 0.8em;
		font-weight: 300;
		font-style: italic;
	}
}

.group_mini_logo {
	float: left;

	img {
		width: $logo_size;
		border-radius: 5px;
	}
}

.group_tabs {
}

.group_list_name {
	font-size: 1em;
	margin-top: 0.5em;
	a { font-weight: bold; }
}

.group_list_description {
	font-style: italic;
}

.group_edits_table {
	margin-top: 1em;
}

.group_edits_user {
	a { font-weight: bold; }
}

.group_edits_name {
	font-weight: bold;
}

.group_edits_details {
	max-width: 448px;
}

.group_list_actions {
	margin-bottom: 1em;
	font-size: 0.9em;
}

.group_users_name {
	font-weight: bold;
}

.group_users_image .user_image {
	width: 30px;
	height: 30px;
}

tr.group_users_row td {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	vertical-align: middle !important;
}

.groups_table_logo img {
	width: 30px;
	border-radius: 3px;
}

.groups_table_name {
	font-weight: bold;
	min-width: 300px;

	.group_campaign_small {
		font-size: 0.9em;
	}
}

.field textarea.wysiwyg {
	width: 800px; 
	height: 500px;
}

.group_logo_thumb {
	width: 100px;
	height: 100px;
}

#group_request_description {
	height: 200px;
}