#dashboard-bulletins {
    .card  {
	margin-bottom: 1.5em;
    }
}

#dashboard-search-form {
    input[type=text] {
	@extend .form-control;
    }
}

.dashboard-entity {
  margin-bottom: 0.4em;
  line-height: 17px;
}

.dashboard-entity-link {
  font-size: 14px;
  font-weight: bold;
}

#dashboard-maps-container {
    display: flex;
    flex-wrap: wrap;

    .dashboard-map {
        width: 33.33%;
        box-sizing: border-box;


        .dashboard-map-thumbnail {
            height: 161px;
            width: 282px;

            box-shadow:0 0 1px 1px lightgray;

            &:hover {
                box-shadow:0 0 1px 1px darkgray;
            }

            svg {
                pointer-events: none;
            }

            img {
                display: block;
                margin: auto;
            }
        }

        .dashboard-map-text {
            display: inline-block;
            width: 100%;
            text-align: center;
            p {
                max-width: 240px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.dashboard-title-link {
    a {
	color: rgb(33, 37, 41);
	&:hover {
	    color: $link_blue;
	}
    }
}

#dashboard-your-lists {
    #dashboard-lists-links {
	a {
	    font-weight: bold;
	}
    }
}

#first-homepage-row {
    h1 {
	font-size: 40px;
    }
}

#homepage-lists {
  /* float: right;  */
  /* width: 280px;  */
  font-size: 18px;
  line-height: 38px;
}

#homepage-lists a {
  text-decoration: underline;
  color: $link_blue;
}

.homepage-counter {
  display: inline;
  background: linear-gradient(to bottom, #fff, #bbb);
  color: #000;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 24px;
  font-weight: bold;
}

#homepage-splash-subheader {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 27px;
    margin-top: 1em;
    margin-bottom: 1em;
}

#homepage-oligrapher-images {
    display: inherit;
    div {
	text-align: center;
    }
    img {
	@extend .img-fluid;
    }
}


#data-summary-table {
  td {
    vertical-align: bottom;
    font-size: 1em;
  }
  tr td:first-child {
    text-align: right;
    padding-right: 1em;
    font-size: 0.8em;
    font-family: "Courier New", Courier, monospace;
  }

  tr td:nth-child(2) {
    text-align: left;
  }

}

div.social-media-buttons {
    margin-top: 5px;
}

div.social-media-buttons > div {
    display: inline-block;
    height: 25px;
}

div#donate-button-container  {
    display: inline-block;
    a {
	color: white;
	background-color: #cc5454;
	text-decoration: none;
	height: 22px;

    }
    .btn-sm {
	font-size: 11px;
    	line-height: 10px;
    }
}

.littlesis_carousel a.buttons img {
    cursor: pointer;
}

#join-page-get-involved p {
    text-align: justify;
}

#donation-header {

    h1 {
	display: inline-block;
    }

    p {
	font-size: 1.1em;
	line-height: 1.1;
    }

    #donation-header-text {
	padding: 0.3em;
	border-radius: 0.15em;
	box-shadow: -4px 4px 10px #888888;
	background-color: $gray-dark;
	color: $gray-lighter;
    }

    #donation-header-text-small {
	padding-left: 0.8em;
    }
}

#explore-row {
    @extend .d-none;
    @extend .d-sm-flex;
    @extend .row;
    @extend .text-center;

    padding-bottom: 1em;

    .explore-col {
	@extend .col-sm-4;
	height: 180px;
    }

    .oligrapher-link {
	color: black;
	&:hover {
	    color: $link_blue;
	    text-decoration: none;

	}
    }

    .oligrapher {
	@extend .big-text;
	position: relative;
	top: 71px;
	left: -14px;
    }

    #eyes-on-ties-homepage-img {
	@extend .img-responsive;
	padding-left: 0.7em;
	display: inline-block;
	position: relative;
	top: 100px;
    }
}

#newsletter-thankyou {
    padding: 0.8em;
    background-color: #eee;
    border-radius: 5px;
}


#contact-us-form {
    label {
	font-weight: 700;
    }
}
