@import "base/globals";

#dashboard_user_image .user_image {
	width: 75px;
	height: 75px;
	float: left;
	margin-right: 10px;
}

#dashboard_user_name {
	padding-top: 1em;
	line-height: 0.8em;
	font-size: 2em;
	font-weight: 500;
}

#dashboard_user_network {
	font-size: 0.5em;
	font-weight: normal;
	a { color: #888; }
}

.dashboard-entity {
  margin-bottom: 0.2em;
  line-height: 17px;
}

.dashboard-entity-link {
  font-size: 15px;
  font-weight: bold;
}

.dashboard-map {
	display: inline-block;
	width: 280px;
	text-align: center;
	margin-right: 30px;
	margin-bottom: 30px;
}

.dashboard-map-thumbnail {
	width: 280px;
	height: 161px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	cursor: pointer;
}

.dashboard-private-map-thumbnail {
	width: 280px;
	height: 161px;
	background-image: asset-url('lock-128.png');
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}

#homepage-lists {
  /* float: right;  */
  /* width: 280px;  */
  font-size: 18px; 
  line-height: 38px;
  margin-top: 0.5em;
}

#homepage-lists a {
  text-decoration: underline;
  color: $link_blue;
}

.homepage-counter {
  display: inline;
  background-color: #fff;
  background: -webkit-gradient(linear, top, bottom, from(#fff), to(#bbb));
  background: -webkit-linear-gradient(top, #fff, #bbb);
  background: -moz-linear-gradient(top,  #fff,  #bbb);
  background: -ms-linear-gradient(top, #fff, #bbb);
  color: #000;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 24px;
  font-weight: bold;
}

#homepage-splash-subheader {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 27px;
    margin-top: 1em;
    margin-bottom: 1em;
}

#dots-connected-search {
  margin-top: 1.5em;
  
  button {
    margin-top: 3px;
  }
  button:hover {
    background-color: $red
  }

}

#homepage-oligrapher-images {
  img {
    height: 220px;
  }
}


#data-summary-table {
  td {
    vertical-align: bottom;
    font-size: 1em;
  }
  tr td:first-child {
    text-align: right;
    padding-right: 1em;
    font-size: 0.8em;
    font-family: "Courier New", Courier, monospace;
  }

  tr td:nth-child(2) {
    text-align: left;
  }
  
}

div.social-media-buttons {
    margin-top: 5px;
}

div.social-media-buttons > div {
    display: inline-block;
    height: 25px;
}

div#donate  {
    a {
	color: white;
	background-color: #cc5454;
	text-decoration: none;
	height: 22px;
	
    }
    .btn-sm {
	font-size: 11px;
    	line-height: 10px;
    }
}

.twitter-follow-button { 
    vertical-align:top 
}

.littlesis_carousel a.buttons img {
    cursor: pointer;
}

#join-page-get-involved p {
    text-align: justify;
}

#donation-header {

    h1 {
	display: inline-block;
    } 

    p {
	font-size: 1.1em;
	line-height: 1.1;
    }

    #donation-header-text {
	padding: 0.3em;
	border-radius: 0.15em;
	box-shadow: -4px 4px 10px #888888;
	background-color: $gray-dark;
	color: $gray-lighter;
    }

    #donation-header-text-small {
	padding-left: 0.8em;
    }
}
    


