@import "base/globals";

td.lists_table_name {
	min-width: 350px;
	font-weight: bold;
}

#list-header {
  margin-top: -14px;
  margin-bottom: 20px;
}

#list-name {
    .multiline-text { }
    .multiline-text a {
	font-size: 42px;
     	line-height: 1.2;
    	font-weight: 500;
    	display: inline;
	padding: 0.45rem;
	/* Needs prefixing */
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
    }

    a:hover {
	text-decoration: none;
    }

    .list-tags-container {
	display: inline;
	position: relative;
	bottom: 0.4em;
	ul {
	    display: inline;
	}
    }

}

#list-description {
  font-size: 21px;
  line-height: 30px;
  font-weight: 300;
}

#list-long-description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.list-actions .twitter-typeahead {
  width: 400px;
  top: -6px;
}

#add-entity-input {
  width: 200px;
}

.add-entity-blurb {
  font-size: 12px;
  color: #888;
}

#list-search {
  width: 400px;
}

.list_tabs ul.tabs {
  li a {
    background-color: $red_light;
  }

  li:hover a {
    background-color: $red;
  }

  li.active a {
    background-color: $red;
  }
}

#list-sources {
    font-size: 16px;
    margin-left: 1em;
}

#list-config-access-buttons {
    margin-top: 1em;
    margin-bottom: 2em;
}


.list-access-level-help {
    margin-top: 25px;
    color: rgba(0,0,0,.8);
}
