td.lists_table_name {
  min-width: 350px;
  font-weight: bold;
}

#list-header {
  margin-top: -14px;
  margin-bottom: 20px;
}

#list-index-header {
  margin-bottom: 20px;
}

#list-name {
  .multiline-text { }
  .multiline-text a {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 500;
    display: inline;
    // padding: 0.45rem;
    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  a:hover {
    text-decoration: none;
  }

  .list-tags-container {
    display: inline;
    position: relative;
    bottom: 0.4em;
    ul {
      display: inline;
    }
  }

}

#list-description {
  font-size: 21px;
  line-height: 30px;
  font-weight: 300;
}

#list-long-description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.list-actions .twitter-typeahead {
  width: 400px;
}

#list-search {
  width: 400px;
}

.list_tabs ul.tabs {
  li a {
    background-color: $red_light;
  }

  li:hover a {
    background-color: $red;
  }

  li.active a {
    background-color: $red;
  }
}

#list-sources {
  font-size: 16px;
  margin-left: 1em;
}

#list-config-access-buttons {
  margin-top: 1em;
  margin-bottom: 2em;

  input {
    display: none;
  }

  label {
    display: block;
    position: relative;
    cursor: pointer;
  }
}

.list-access-level-help {
  margin-top: 25px;
  color: rgba(0,0,0,.8);
  display: none;
}

#list-tab-menu {

  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    box-sizing: border-box;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    font-size: 17px;
    padding: 0.4em;
    padding-right: 0.4em;
    padding-left: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border: 0;
    margin-right: 0.5em;
    color: white;
    background-color: $red_light;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-decoration: none;
  }

  li.active a, a:hover {
    background-color: $red;
  }

}

.list-tab-alert {
  @extend .alert-info;
}

#search-lists, div.list-actions  {
    .select2-container .select2-selection--single {
        height: 38px !important;
        border: 1px solid #ced4da;

    };
}
