#merge-report-action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
    .merge-entities-form {
        margin: .5em;
    }
    :nth-child(3) {
        margin-left: .5em;
    }
}
