@import "base/globals";

.note {
	padding: 14px;	
	border-bottom: 1px solid $border_grey;
	min-height: $user_image_size + 28px;
	position: relative;
}

.note.reply {
	border-left: 5px solid #e7e7e7;
}

.note_reply {
	display: none;
}

.note:hover .note_reply {
	display: inline-block;
}

.note_image {
	float: left;
}

.note_user {
	margin-top: -4px;
	margin-left: $user_image_size + 10px;
	font-size: 1em;
	font-weight: 600;

	img {
		margin-top: -5px;
	}
}

.note_body {
	margin-left: $user_image_size + 10px;
	line-height: 18px;

	a {
		color: $logo_blue_lighter;
	}
}

.note_timestamp {
	margin-left: $user_image_size + 10px;
	margin-top: 0.3em;
	font-size: 0.8em;
	font-style: italic;
	height: 16px;

	a {
		color: #888;		
	}
}

.big_note_user_image {
	display: inline-block;
	margin-right: 0.5em;
}

.big_note_user_name {
	display: inline-block;
	height: $user_image_size;
	font-size: 2em;
	font-weight: bold;
	margin-right: 0.5em;
}

.big_note_private {
	color: #888;
	font-weight: bold;
	margin-top: 0.5em;
}

.big_note_reply {
	position: absolute;
	right: 1em;
	top: 1em;
}

.big_note_body {
	clear: both;
	margin-top: 1em;
	padding: 1.5em;
	font-size: 1.2em;
	line-height: 1.2em;
	width: 600px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #e7e7e7;
	position: relative;
}

.big_note_timestamp {
	font-style: italic;
	font-size: 0.4em !important;
	font-weight: normal !important;
	margin-top: -0.5em;

	a {
		color: #888;		
	}	
}

#entity_search {
	float: left;
	font-size: 2em;
	margin-top: 1em;
}

.note_form {
}

.note_form_body textarea {
	width: 100%;
	height: 250px;
	font-size: 1.2em;
	border: 1px solid #ccc;
}

.note_form_bottom {
	float: right;
	margin-top: 1em;
}

.note_form_button {
	display: inline-block;
	font-size: 1.1em;
}

.note_form_checkbox {
	margin-right: 1em;
	display: inline-block;
}

.user_notes {
	width: 600px;
}

#entity_search {
	font-size: 1em;

	#entity_text {
		font-weight: bold;		
		width: 300px;
		background-color: #f8f8f8;
		cursor: text;
	}

	#entity_text_group {
		display: none;
		position: relative;
		top: -1px;
	}

	#entity_text_link {
		width: 110px;
	}

	#entity_text_link_wrapper {
		display: inline-block;
		width: 110px;
	}

	input {
		font-size: 1em;
		line-height: 1.2em;
	}
}

.input-group.notes_search {
	max-width: 300px;
}

.notes_list {
	border: 1px solid #e7e7e7;
	border-bottom: 0;
	border-radius: 5px;
}

.big_note, .note {
	p { margin-bottom: 1em; }
	p:last-of-type { margin-bottom: 0; }
}

.notes_search_with_pagination {
	.input-group {
		display: inline-table;
		float: left;
		margin-right: 1em;
	}

	.pagination {
		display: inline-table;
	}
}