#permission-pass-form {
  margin-bottom: 1em;

  h3 {
    margin-top: 1em;
  }

  .abilities {
    margin-bottom: 1em;

    label {
      margin-left: 1em;
    }
  }
}

table#permission-passes {
  .pass-url {
    width: 0;
    opacity: 0;
  }
  .copy-button {
    padding: 0;
    border: none;
  }
}
