.entity-profile-image {
    a > img {
	cursor: pointer;
    }
}

.sidebar-title-container {
    margin-top: 2em;
}
.sidebar-title-text {}

.sidebar-references-container {
    li {
	font-size: 11px;
	cursor: pointer;
    }
}

.basic-info-table {
    th, td {
	border-top: none !important; 
    }
}
     