.entity-profile-image {
    a > img {
	cursor: pointer;
    }
}

.sidebar-title-container {
    margin-top: 2em;
}

.sidebar-title-text {}

#source-links-container {
    display: block;
    /* list-style-type: square; */
    
    li:before {
	/*
         Using a Bootstrap glyphicon as the bullet point
         thank you to: http://stackoverflow.com/questions/31196980/using-a-glyphicon-as-an-li-bullet-point-bootstrap-3#31196981
       */
	/* content: "\e092"; */
	/* font-family: 'Glyphicons Halflings'; */
	/* font-size: 9px; */
	/* float: left; */
	/* margin-top: 4px; */
	/* margin-left: -17px; */
	/* color: #CCCCCC; */
    }
    
    li {
	font-size: 11px;
	cursor: pointer;
    }
}

.basic-info-table {
    th, td {
	border-top: none !important; 
    }
}

#profile-page-sidebar {}

#sidebar-source-links {
    
    span.glyphicon {
	cursor: pointer;
    }
}