
.entity-profile-image {
    a > img {
	cursor: pointer;
    }
}

.sidebar-title-container {
    margin-top: 2em;
}

.sidebar-title-text {}

#source-links-container {
    /* display: block; */
    /* height: 150px; */

    li {
	font-size: 11px;
	cursor: pointer;
    }
}

.basic-info-table {
    th, td {
	border-top: none !important; 
    }
}

#profile-page-sidebar {}

#sidebar-source-links {

    .link-arrow {
	cursor: pointer;
	font-size: 19px;
    }

    .link-arrow:hover {
	color: $link_blue;
    }

    .link-count {
	font-size: 12px;
    }

    span.glyphicon-new-window {
	color: #333333;
	font-size: 11px;
	padding-left: 2px;
	padding-right: 2px;
	cursor: pointer;
    }
}

.links-loading {
    padding-left: 1em;
}

.section-pointer {
    color: #aaa;
    font-size: 12px;
    padding-top: 3px;
}