form.edit_relationship {
    
    .form-group {
	padding-top: 1em;
    }

    #description-fields input {
	margin-top: 1em;
    }
 
    label.control-label, div.col-sm-10 {
	margin-top: 0.5em;
    }
   
    input[type="radio"] {
	margin-left: 0.2em;
	margin-right: 0.2em;
    }

    small {
	padding-left: 0.8em;
    }
}

#source-links-table td {
  font-size: 1em;
}

#relationship_tabs_content {
    border: 0px solid #ccc;
    border-top: 0;

    .subsection {
        font-size: 18px;
        font-weight: 500;
        color: black;
        padding: 0.4em;
        padding-bottom: 0.2em;
        padding-left: 0.2em;
    }

    .section_meta {
      font-size: 12px;
      margin: 0;
      padding: 0.2em;
      padding-top: 0.3em;
      padding-left: 0.3em;
      background-color: #fff;
      border-bottom: 0px solid #fafafa;
      overflow: hidden;
    }

    .relationship-section {
        border: 0px solid #ddd;
        border-top: 0;

        .related_entity {
            ul {
                margin-bottom: 0;
            }
            
            color: #444;
            font-size: 14px;
            line-height: 1.3em;
            border-top: 1px solid #ddd;
            padding: 0.5em;
            padding-bottom: 0.4em;
            padding-left: 0.3em;
        }

        .related_entity:hover {
            background-color: #f8f8f8;
        }

        .related_entity_entity {
            height: 20px;
            overflow: hidden;

            .related_entity_name {
                font-weight: bold;
                font-size: 16px;
                line-height: 1.2em;
            }

            .related_entity_blurb {
                color: #444;
                margin-left: 5px;
            }
        }

        .related_entity_relationship {
            font-size: 12px;
            padding-top: 0.2em;
            padding-left: 0.5em;

            .toggle {
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }

}