//------------------------//
// Edit Relationship Page //
//------------------------//

form.edit-relationship-form {

    #relationship-edit-description-fields-display {
	margin-top: 0.5em;
	margin-left: 15px;
	p {
	    display: table-cell;
	}

	p.reference-link {
	    padding: 0;
	    margin: 0.2em;
	}

	tr {
	    vertical-align: middle;
	}
    }

    .form-row {
	@extend .form-group;
	@extend .row;
	margin-left: 15px;
    }

    .form-label {
	@extend .col-sm-2;
	@extend .col-form-label;
	font-weight: 700;
    }

    .form-input-wrapper {
	@extend .col-sm-8;
    }

    .form-label, .form-input-wrapper {
	padding-top: 0;
	padding-left: 0;
    }

    .relationship-radio-buttons {
	@extend .form-check;
	@extend .form-check-inline;
	@extend .align-bottom;

	input {
	    @extend .form-check-input;
	}

	label {
	    @extend .form-check-label;
	    margin-right: 0.3em;
	}
    }

    #description-fields {
	// font-size: 0.9em;

	.description-fields-break {
	    @extend .w-100;
	    height: 5px;
	}
	a {
	    margin-top: 1em;
	}

	input {
	    display: inline-block;
	    max-width: 130px;
	}
    }

}

#source-links-table {
    @extend .table;
    @extend .table-sm;
    @extend .table-hover;

    td {
	font-size: 0.8em;
    }
}

#relationship_tabs_content {
    border: 0px solid #ccc;
    border-top: 0;

    .subsection {
        font-size: 18px;
        font-weight: 500;
        color: black;
        padding: 0.4em;
        padding-bottom: 0.2em;
        padding-left: 0.2em;
    }

    .section_meta {
      font-size: 12px;
      margin: 0;
      padding: 0.2em;
      padding-top: 0.3em;
      padding-left: 0.3em;
      background-color: #fff;
      border-bottom: 0px solid #fafafa;
      overflow: hidden;
    }

    .relationship-section {
        border: {
          top: 1px solid #ddd;
          bottom: none;
        }

        .related_entity {
            ul {
                margin-bottom: 0;
            }
            color: #444;
            font-size: 14px;
            line-height: 1.3em;
            padding: 0.5em;
            padding-bottom: 0.4em;
            padding-left: 0.3em;
        }

        .related_entity:hover {
            background-color: #f8f8f8;
        }
        .related_entity_entity {
            height: 20px;
            overflow: hidden;
            .related_entity_name {
                font-weight: bold;
                font-size: 16px;
                line-height: 1.2em;
            }
            .related_entity_blurb {
                color: #444;
                margin-left: 5px;
            }
        }
        .related_entity_relationship {
            font-size: 12px;
            padding-top: 0.2em;
            padding-left: 0.5em;
            .toggle {
                margin-left: 10px;
                cursor: pointer;
            }
        }

        .related_entity_feature_relationship_button {
            margin-left: -20px;
        }


    } // end relationship-section

    .relationship-links {

	> div.relationship-section:nth-child(1) {
	    padding-top: 1em;

	    > .related_entity {
		border-top: 0;
	    }
	}

	> div.relationship-section:last-child {
	    padding-bottom: 1em;
	}
    }
}

.relationship-sidebar-title {
    display: inline-block;
    padding-right: 6px;
}

.table-editable {
  position: relative;

  .glyphicon {
      font-size: 20px;
      cursor: pointer;
  }

  .reset-name {
      padding-left: 5px;
      font-size: 14px;
  }

  td.tri-boolean {
      min-width: 110px;
  }

  .similar-relationships-alert {
      font-size: 18px;
      width: 25px;
      color: $red;
      position: absolute;
      top: 10px;
      right: 0;
      left: -40px;
      bottom: 0;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;
  &:hover {
    color: #f00;
  }
}

.table-add {
  &:hover {
    color: #0b0;
  }
  span.glyphicon {
      color: #070;
  }
}

#table caption {
    input[type=file] {
	display: inline;
	margin-left: 2em;
    }
}


/* Jquery UI Automcomplete Styling */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.entity-search-blurb, .entity-search-name {
    border: none !important;
}

.entity-search-blurb {
  font-size: 12px;
  color: #888;
}

div.entity-match-box {
    table {
        font-size: 12px;
    }

    td {
        cursor: pointer;
    }
}
