div.search-results {

    h3, .search-result-wrapper {
	@extend .w-100;
    }

    .entity-search-result {
	margin-bottom: 0.9em;
	line-height: 16px;
    }

    .search-result-link {
	font-size: 15px;
	font-weight: 800;
    }

}

.entity-search-result-summary {
  font-size: 11px;
  line-height: 11px;
}


.search-results mark {
  font-weight: 800;
  background-color: white;
}

.search-results .pagination {
  margin-bottom: 0.5em;
}

.entity-search-result-weight {
  color: #888;
  font-weight: bold;
}


.entity-search-container {
    position:relative;

    input {
	&:focus {
	    outline: 0;
	}
    }
}

.entity-search-input-group {
    @extend .input-group;
    margin-bottom: 0;
}

.entity-search-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ebebeb;
    border-top: 0;
}

.entity-search-dataset {
    display: block;

}
select2-container--default .select2-results__option--highlighted[aria-selected]

.entity-search-suggestion {
    // display: block;
    // margin: 10px 0;
    // cursor: pointer;
    // line-height: normal;
    // font-size: 1em;
    // padding-left: 0.4em;
    // padding-right: 0.4em;
    // &:hover {
    //     background-color: #ffff66;
    // }
}

.entity-search-suggestion-name {}

.entity-search-suggestion-name-text {
}

.entity-search-suggestion-name-link {
    color: black;
    margin-left: 5px;
}
.entity-search-suggestion-blurb {
    font-size: 0.8em;
    color: #666;
}
