/* TAGS */

// SHARED

$light-maroon: rgba(204,133,133,0.4);
$maroon: rgba(204, 84, 84, 1);
$tag_margin: 0.4em;

.tag-like {
    border: 1px solid $red;
    background-color: $light-maroon;
    color: $maroon;
    &:hover { color: $maroon; }
}

.tag {
    @extend .tag-like;
    border-radius: .2em;
    margin-right: $tag_margin;
    margin-top: $tag_margin;
    padding: .3em;
    display: inline-block;
    list-style: none; 
}

.big-tag {
    @extend .tag-like;
    border-radius: .2em;
    margin-right: $tag_margin;
    margin-top: $tag_margin;
    padding: .2em;
}

.gray-description-text {
    font-size: 1em;
    font-style: italic;
    color: gray;
}

// TAG SIDEBAR STYLES

#tags-edit-list, #tags-list {

    @extend .list-unstyled;
    
    margin-top: 1em;

    li.tag {
        @extend .tag;
    }

    li.tag-disabled{
        @extend li.tag;
        background-color: gray;
        border: 1px solid black;
    }

    .tag-remove-icon {
	@extend .glyphicon;
	@extend .glyphicon-remove;
	@extend .hvr-pop;
	color: $red;
	cursor: pointer;
	font-size: 0.7em;
	margin-left: 0.5em;
    }

    .tag-lock-icon {
	@extend .glyphicon;
	@extend .glyphicon-lock;
	color: black;
	font-size: 0.7em;
	margin-left: 0.5em;
    }
}

#tags-save-button, #tags-cancel-button {
    @extend .btn;
    @extend .btn-xs;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

#tags-save-button {
    @extend .btn-primary;
}

#tags-cancel-button {
    @extend .btn-default;
}

.tag-button-glyph {
    @extend .glyphicon;
}

.tags-edit-glyph {
    @extend .glyphicon;
    @extend .glyphicon-pencil;
    padding-left: 1em;
    margin-bottom: 0.5em;
    cursor: pointer;
    &:hover { color: $red; }
}


input#tag_name {
    max-width: 250px;
}

// TAGS INDEX STYLES

#tags-index-container {
    #tags-index-list {
        margin-top: 2em;
        ul {
            padding: 0;
        }
        .item {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            .tag-container {
                padding-right: .5em;
                margin-right: .5em;
                border-right: 1px solid gray;
                width: 10em;
                text-align: right;
                .tag {
                    @extend .tag;
                }
            }
            .description {
                @extend .gray-description-text;
            }
        }
    }
}

// TAG HOMEPAGE STYLES

#tag-show-container {
    #tag-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        #tag-title {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            #tag-name {
                font-size: 2em;
            }
            #tag-description {
                @extend .gray-description-text;
                margin: 0 0 .4em .4em; // TRBL
            }
        }
        #tag-overview-link {
            margin: 0 .4em .4em 0; // TRBL
            align-self: flex-end;
        }
    }
    .tagable-list{
        margin: 1em 0 1em 0; // TRBL
        .tagable-list-header {
            background-color: $maroon;
            color: white;
            padding: .2em 0 .2em .4em; // TRBL
            border-radius: 0.2em;
            font-size: 1.5em;
        }
        .tagable-list-empty-message {
            margin: 1em;
            font-style: italic;
        }
        .tagable-list-items {
            display: flex;
            flex-direction: column;
            margin: 1em 0 1em -2em; // TRBL
            .tagable-list-item {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                align-content: flex-start;
                lign-height: 1.5em;
                .tagable-list-item-name {
                    white-space: nowrap;
                }
                .tagable-list-item-description {
                    text-align: left;
                    margin-left: .5em;
                    font-size: .8em;
                    color: gray;
                    font-style: italic;
                }
                .tagable-list-item-date {
                    margin-left: 1em;
                    padding: .1em .5em .1em .5em;
                    font-size: .6em;
                    background-color: lightgray;
                    border-radius: .2em;
                    color: white;
                }
            }
        }
        .tagable-list-pagination {
            padding-left: 1em;
        }
    }
}
