.table-editable {
  position: relative;
  
  .glyphicon {
      font-size: 20px;
      cursor: pointer;
  }

  .reset-name {
      padding-left: 5px;
      font-size: 14px;
  }

  td.tri-boolean {
      min-width: 110px;
  }

  tr {
      position: relative !important;
  }

  .similar-relationships-alert {
      font-size: 18px;
      width: 25px;
      color: $red;
      position: absolute;
      top: 10px;
      right: 0;
      left: -30px;
      bottom: 0;
  }
  
}

.table-remove {
  color: #700;
  cursor: pointer;
  
  &:hover {
    color: #f00;
  }
}

.table-add {
  &:hover {
    color: #0b0;
  } 
  
  span.glyphicon {
      color: #070;
  } 
}

#table caption {
    input[type=file] {
	display: inline;
	margin-left: 2em;
    }
}


/* Jquery UI Automcomplete Styling */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
  
}

.entity-search-blurb, .entity-search-name {
    border: none !important;
}

.entity-search-blurb {
  font-size: 12px;
  color: #888;
}

div.entity-match-box {
    table {
	font-size: 12px;
    }
    td {
	cursor: pointer;
    }
}

#merge-report-action-buttons {
    form, input.btn, a {
	display: inline-block;
    }
   
}
