$reference_widget_width: 315px;

#reference-widget-container {

    .reference-typeahead {
	@extend .form-control;
	width: $reference_widget_width;
    }

    .reference-suggestion {
	position: relative;
	width: $reference_widget_width;
	font-size: 12px;
	cursor: pointer;
	padding-left: 0.3em;
	padding-right: 15px;

	.reference-suggestion-name {
	    z-index: 80;
	}

	.reference-suggestion-url {
	    @extend .text-muted;
	    padding-top: 0.2em;
	    padding-bottom: 0.2em;
	    z-index: 80;
	}
    }

    .reference-visit-link {
	position: absolute;
	z-index: 100;
	top: 5px;
	left: ($reference_widget_width - 15px);

	a {
	    color: black;

	    &:hover {
		color: $link_blue;
	    }
	}
    }
}

/*  Styles for add entity on list page: */

.tt-menu {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
}

.add-entity-suggestion {
    padding: 0.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    cursor: pointer;
}

.tt-suggestion {
    &:hover {
	background: $red_lighter;
    }
}

#add-entity-input {
    width: 200px;
}

.add-entity-blurb {
    padding-top: 0.1em;
    font-size: 12px;
    color: #888;
}

.tt-hint {
    display: none;
}
