$reference_widget_width: 300px;

#reference-widget-container {
    width: $reference_widget_width;

    select {
        width: $reference_widget_width;
    }
}

/*  Styles for add entity on list page: */

.tt-menu {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
}

.add-entity-suggestion {
    padding: 0.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    cursor: pointer;
}

.tt-suggestion {
    &:hover {
	background: $red_lighter;
    }
}

#add-entity-input {
    width: 200px;
}

.add-entity-blurb {
    padding-top: 0.1em;
    font-size: 12px;
    color: #888;
}

.tt-hint {
    display: none;
}
