.user-request-action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
    form {
        margin: .5em;
    }
    :nth-child(3) {
        margin-left: .5em;
    }
}

#user-request-description {
    @extend .col-sm-12;
    @extend .nopadding;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: .3em;
    padding: 1em !important;
    
    strong {
	font-size: 14px;
    }
    
    p {
	font-size: 12px;
	padding-top: 1em;
    }
}
