
<% 
items = {}

if user_signed_in?
  items[current_user.username] = {
    highlighted: true,
    items: {
      Maps: home_maps_path,
      Lists: home_lists_path,
      Groups: home_groups_path,
      Edits: "/home/modifications",
      'divider2' => 'divider',
      Settings: edit_user_registration_path,
      Logout: destroy_user_session_path
    }
  }

  if current_user.sf_guard_user_profile.try(:enable_recent_views)
    results = LegacyAuthenticatable.recent_views_from_legacy_cookie(cookies)
    entity_ids = results[:entity_ids]
    
    if entity_ids.present?
      entities = Entity.where(id: entity_ids)
      hash = {}
      entities.each { |e| hash[e.name] = e.legacy_url }

      if entities.present?
        items['Recent'] = { highlighted: true, items: hash }
      end
    end
  end
else
  items['Login'] = { url: new_user_session_path }
  items['Sign Up'] = { url: new_user_registration_path }
end

items['Explore'] = {
  items: {
    Maps: "/maps",
    Lists: "/lists",
    Groups: "/groups",
    Users: users_path,
    Edits:"/edits"
  }
}

if user_signed_in?
  items['Add'] = {
    items: {
      Entity: "/entities/new",
      List: "/lists/new",
      Map: "/maps/new"
    }
  }
end

items['Help'] = {
  items: {
    'Toolkit' => "/toolkit",
    'Search Help Pages' => "/help",
    Beginners: "/beginnerhelp",
    Advanced: "/advancedhelp",
    'Report a bug' => '/bug_report'
  }
}

items['About'] = {
  items: {
    LittleSis: "/about",
    Features: "/features",
    'Our Team' => "/team",
    Blog: "https://news.littlesis.org",
    'Data API' => "/api",
    'Source Code' => "https://github.com/public-accountability/littlesis-rails",
    Disclaimer: "/disclaimer",
    'Contact Us' => contact_path,
    'Jobs' => "https://public-accountability.org/about/jobs/",
    'Donate' => "http://public-accountability.org/donate/"
  }
}

unless user_signed_in?
  items['About'][:items].delete('Blog')
  items['Blog'] = { url: "http://blog.littlesis.org" }
  end

  items['Chat'] = { url: APP_CONFIG['chat']['chat_url'] } if user_signed_in?

%>

<% if items.count > 0 %>
    <ul class="nav navbar-nav">
  	<% items.each do |text, data| %>
	    <% if data[:items].blank? and data[:url] %>
      	        <li><%= link_to text, data[:url] %></li>
	    <% else %>
	        <li class="dropdown">
	            <%= content_tag("a", text, { class: "dropdown-toggle" + (data[:highlighted].present? ? " highlighted" : ""), 'data-toggle' => "dropdown", href: data[:url] }) %>
	            <ul class="dropdown-menu">
	                <% data[:items].each do |item_text, url| %>
                            <% if url == 'divider' %>
                                <li class="divider"></li>
                            <% else %>
                                <li><%= link_to(item_text, url) %></li>
                            <% end %>
	                <% end %>
	            </ul>
	        </li>
	    <% end %>
        <% end %>
    </ul>
<% end %>
