<div class="littlesis_carousel" data-controller="carousel" data-carousel-target="carousel">
  <a class="buttons prev" href="#"><%= image_tag("carousel_left_semi.png"); %></a>
  <div class="viewport">
    <ul class="overview">
      <% entities.shuffle!.each do |entity| %>
        <li>
          <% cache([entity.cache_key_with_version, 'partial/carousel']) do %>
            <%= render partial: "entities/carousel", locals: { entity: entity } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <a class="buttons next" href="#"><%= image_tag("carousel_right_semi.png") %></a>
</div>
