<div id="entity-edited-history" class="col-md-4">
    Edited by<strong>
    <%= link_to entity.last_user.user.username, legacy_user_path(entity.last_user.user) %>
    </strong>
    <%= time_ago_in_words(entity.updated_at) %> ago
    <%= link_to "History", entity.legacy_url("modifications") %>
</div>
