<div class="row mt-4">
    <div id="footer">A project of the <%= link_to('Public Accountability Initiative', 'https://public-accountability.org') %>. More <%= link_to('about LittleSis', '/about') %>. Read the <%= link_to('disclaimer', '/disclaimer') %>.</div>
</div>
