<nav class="navbar navbar-expand-md fixed-top navbar-light" id="giving-tuesday-container">
  <div id="giving-tuesday-wrapper">
    <p class="text-center">
      Today is #GivingTuesday. Please <a href="https://littlesis.org/donate/">make a tax-deductible donation</a><span class="d-sm-none d-md-inline">  to support our efforts to develop and maintain LittleSis.org
    </p>
  </div>
</nav>
