<% 
items = {}

if user_signed_in?
  items[current_user.username] = {
    highlighted: true,
    items: {
      Notes: home_notes_path,
      Groups: home_groups_path,
      Network: current_user.default_network.legacy_network_url,
      Edits: "home/modifications",
      Settings: "home/settings",
      Logout: legacy_logout_path
    }
  }

  if current_user.sf_guard_user_profile.enable_recent_views
    entity_ids = LegacyAuthenticatable.recent_views_from_legacy_cookie(cookies)
    
    if entity_ids.present?
      entities = Entity.find(entity_ids)
      hash = {}
      entities.each { |e| hash[e.name] = e.legacy_url }

      if entities.present?
        items['Recent'] = { highlighted: true, items: hash }
      end
    end
  end
else
  items['Login'] = { url: legacy_login_path }
  items['Sign Up'] = { url: legacy_signup_path }
end

items['Explore'] = {
  items: {
    Lists: "/lists",
    'Recent Updates' => "/modification/latest",
    'Analyst Notes' => "/notes",
    'Research Groups' => "/groups"
  }
}

if user_signed_in?
  items['Add'] = {
    items: {
      Person: "/entity/addPerson",
      Org: "/entity/addOrg"
    }
  }
end

items['Help'] = {
  items: {
    'Search Help Pages' => "/help",
    Beginners: "/beginnerhelp",
    Advanced: "/advancedhelp"
  }
}

items['About'] = {
  items: {
    LittleSis: "/about",
    Features: "/features",
    'Our Team' => "/team",
    Blog: "http://blog.littlesis.org",
    Press: "/press",
    'Data API' => "http://api.littlesis.org",
    'Source Code' => "https://github.com/littlesis-org/littlesis",
    Disclaimer: "/disclaimer",
    'Contact Us' => "/contact"
  }
}

unless user_signed_in?
  items['About'][:items].delete('Blog')
  items['Blog'] = { url: "http://blog.littlesis.org" }
end

%>

<% if items.count > 0 %>
  <% items.each do |text, data| %>
    <% if data[:items].blank? and data[:url] %>
      <%= link_to text, data[:url], class: "menu_dropdown_name" %>
    <% else %>
      <div class="dropdown">
        <%= content_tag("a", text, { class: "menu_dropdown_name" + (data[:highlighted].present? ? " highlighted" : ""), 'data-toggle' => "dropdown", href: data[:url] }) %>
        <ul class="dropdown-menu" role="menu">
          <% data[:items].each do |item_text, url| %>
            <li><%= link_to(item_text, url) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>