<form action="/search" method="get" role="search" id="navbar-search">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Search LittleSis" />

    <div class="input-group-append">
      <button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </div>
</form>
