<% placeholder = 'Search LittleSis' if local_assigns[:placeholder].nil? %>
<% btn_class = 'btn btn-clear' if local_assigns[:btn_class].nil? %>

<form action="/search" method="get" role="search" id="navbar-search">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="<%= placeholder %>" />
    <div class="input-group-append">
      <button type="submit" class="<%= btn_class %>" style="border-color: #ccc;">
	 <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</form>
