<%# Top Navigation Menu %>
<nav class="navbar navbar-light sticky-top navbar-expand-lg">
  <div class="container">
    <div class="me-auto navbar-brand">
      <%= link_to(image_tag("lilsis-logo-trans-200.png"), user_signed_in? ? home_dashboard_path : root_path) %>
    </div>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#littlesisNavbarContent"
            data-bs-target="#top_donate_link"
            aria-controls="littlesisNavbarContent"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="littlesisNavbarContent">
      <%= cache_unless user_signed_in?, "anonymous_user_navmenu_#{I18n.locale}" do %>
        <%= render partial: 'shared/bootstrap_nav_menu' %>
      <% end %>
    </div>

    <div id="top_donate_link" class="collapse navbar-collapse justify-content-end">
      <div class="me-1"><strong><%= link_to('Donate', '/donate', id: 'donate-link-button')%></strong></div>
      <form action="/search" method="get" role="search" id="navbar-search">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search LittleSis">
          <button class="btn btn-clear" type="submit" ><i class="bi bi-search"></i></button>
        </div>
      </form>
    </div>
  </div>
</nav>
