<div class="bottom-1em" id="dashboard-explore">
  <%= link_to("Maps", maps_path, class: "btn btn-clear") %>
  <%= link_to("Lists", lists_path, class: "btn btn-clear") %>
  <%= link_to("Tags", tags_path, class: "btn btn-clear") %>
  <%= link_to("Edits", edits_path, class: "btn btn-clear") %>
</div>
