<div id="homepage-lists">

    <div id="dots-connected-counter">
        <span>
            <% @dots_connected.each do |number| %>
                <div class="homepage-counter"><%= number %></div>
            <% end  %>
        </span>
        <span>dots connected:</span>
    </div>

    <div id="dots-connected-links">
        <% HomeController::DOTS_CONNECTED_LISTS.each do |x| %>
            <% id, title =  x %>
            ✔ <%= link_to title, List.find(id) %><br />
        <% end %>
    </div>

    <div class="row mt-3" id="dots-connected-search">
      <form action="/search" method="get" role="search" id="navbar-search">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search for a name">
          <button class="btn btn-red" type="submit" ><i class="bi bi-search"></i></button>
        </div>
      </form>
    </div>

</div>
