<div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
        <%= text_field_tag(:name, @name) %>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
        <% if user_signed_in? %>
            <p class="form-control-static"><%= current_user.email %></p>
            <%= hidden_field_tag 'email', current_user.email %>
        <% else %>
            <%= email_field_tag('email', nil, required: true) %>
        <% end %>
    </div>
</div>
