<%= dashboard_panel('Looking for a place to start?') do %>
    <span>Try filling out <%= link_to 'one of these profiles', 'https://littlesis.org/lists/1286-littlesis-wish-list/members' %></span>
<% end %>

<%= dashboard_panel("Research on Trump") do %>
    Take a look at this open <%= link_to "list of Trump's cronies and collaborators", 'https://littlesis.org/lists/1283-trump-s-cronies/members' %>
<% end %>
