<%= dashboard_panel('Sign up for a training!') do %>
  <strong>
    <%= link_to "LittleSis 201: March 19th at 6pm ET", "https://zoom.us/meeting/register/d8eead5dd2090e3e7c24e00bf0acd2b8", target: '_blank'%>
  </strong>
  <br/>
  <p>
    This training will focus on building maps using <%= link_to "Oligrapher", "https://littlesis.org/oligrapher", target: '_blank'  %>, the LittleSis data visualization tool
  </p>

  <strong>
    <%= link_to "LittleSis 101: April 16th at 6:30pm ET", "https://zoom.us/meeting/register/75c81216653eb70d7510d14dfea9e911", target: '_blank' %>
  </strong>
  <br />
  <p>
    Learn the basics of how to navigate and contribute to the LittleSis research database.</span>
  </p>
<% end %>