<%= dashboard_panel('Sign up for a training!') do %>
  <strong>
    <%= link_to "'Tracking the Billionaire Tax Barons' Project Webinar: April 3rd at 6pm ET", "https://zoom.us/meeting/register/cb12d26c1c65400834538d7d4481ef37", target: '_blank'%>
  </strong>
  <br/>
  <p>
    Launch webinar for our new research project that aims to hone our power
    research skills to deepen our understanding of the billionaires forwarding
    and benefiting from the Trump agenda.
  </p>

  <strong>
    <%= link_to "LittleSis 101: April 16th at 6:30pm ET", "https://zoom.us/meeting/register/75c81216653eb70d7510d14dfea9e911", target: '_blank' %>
  </strong>
  <br />
  <p>
    Learn the basics of how to navigate and contribute to the LittleSis research database.</span>
  </p>
<% end %>
