<%= dashboard_panel('Sign up for a training!') do %>
  <p>
    Join us on <strong>Wednesday, May 16th at 6pm ET</strong> for our next LittleSis 2.0 research tool training: Mapping Power with <%= link_to "Oligrapher", "https://littlesis.org/oligrapher" %> and Bulk Uploading Data!
  </p>
  <p>
    <%= link_to "Register here!", "https://zoom.us/meeting/register/033d356980146a34d746f627e8486654" %>
  </p>
<% end %>
