<%= form_tag('/home/newsletter_signup', id: 'newsletter-signup-form') do %>
  <%# honeypot for spam bots %>
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <%= text_field_tag 'very_important_wink_wink' %>
  </div>
  
  <div class="input-group">
    
    <%= email_field_tag 'email', nil,
      class: 'form-control',
      placeholder: 'Your email',
      required: true,
      id: 'newsletter-signup-form-email'
    %>

    <div class="input-group-append">
      <button class="btn btn-clear" type="submit">Join!</button>
    </div>

  </div>
<% end %>
