<%= form_for(@newsletter_signup, url: home_newsletter_signup_path, id: 'newsletter-signup-form') do |f| %>
  <%= render partial: '/application/honeypot', locals: {f: f} %>

  <div class="input-group">
    <%= f.email_field :email,
      class: 'form-control',
      placeholder: t('phrases.your_email'),
      required: true,
      id: 'newsletter-signup-form-email'
    %>

    <div class="input-group-append">
      <button class="btn btn-clear" type="submit"><%= t('vocab.join').capitalize %></button>
    </div>

  </div>
<% end %>
