<div id="newsletter-thankyou">
  <h4>Thank you!<br/>
    <small>You've been added to our newsletter.</small>
  </h4>
</div>

<script>
 <%# Remove the thank you query param from the url %>
 $(function(){
   window.history.pushState({}, document.title, "/");
 });
</script>