<div class="row mt-4">
  <div class="col-sm-12" style="text-align: center;">
        <h1 class="big-text">Map the power with <strong>Oligrapher</strong></h1>
        <h4><%= link_to "Oligrapher", '/oligrapher' %> is a new tool for visualizing networks of influence using LittleSis Data.</h4>
        <br>
        <%= link_to "Get started on a new map", "/maps/new", class: "btn btn-lg", role: "button", style: 'background-color: #A04040; color: #fff' %>
        <p class="top-1em">or <%= link_to "sign up", "/join" %> for a LittleSis account</p>
    </div>
</div>

<div class="row mt-2 mb-4">
  <%= render partial: 'oligrapher_image' %>
</div>
