<div class="social-media-buttons">
    <div>
	<a class="twitter-follow-button"
	   href="https://twitter.com/twittlesis"
	   data-show-count="false">
	</a>
	<script>window.twttr = (function(d, s, id) {
	   var js, fjs = d.getElementsByTagName(s)[0],
	       t = window.twttr || {};
	   if (d.getElementById(id)) return t;
	   js = d.createElement(s);
	   js.id = id;
	   js.src = "https://platform.twitter.com/widgets.js";
	   fjs.parentNode.insertBefore(js, fjs);
	   
	   t._e = [];
	   t.ready = function(f) {
	     t._e.push(f);
	   };
	   
	   return t;
	 }(document, "script", "twitter-wjs"));</script>
    </div>
    
    <div>
	<div class="fb-like" data-href="https://littlesis.org" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
    </div>

    <div>
	<div id="donate">
	    <a href="https://public-accountability.org/donate/" class="btn btn-sm"><span class="">Donate</span></a>
	</div>
    </div>
</div>
