<div class="social-media-buttons">
  <div>
    <%= link_to(image_tag('facebook-icon.jpg'), 'https://www.facebook.com/LittleSis.org') %>
    <%= link_to(image_tag('twitter-icon.jpg'), 'https://twitter.com/twittlesis') %>
    <%= link_to(image_tag('rss-icon.jpg'), 'http://feeds2.feedburner.com/EyesOnTheTies') %>
    <div id="donate-button-container">
      <a href="https://public-accountability.org/donate/" class="btn btn-sm"><span><%= t('vocab.donate').capitalize %></span></a>
    </div>
  </div>
</div>
