<%= turbo_frame_tag "modal" do %>

    <% label_class = 'col-form-label'.freeze %>
      <div class="modal" data-controller="modal" data-action="keyup@window->modal#closeWithKeyboard">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3>Analytics Opt-out</h3>
              <%= button_tag "", data: { action: "modal#close", aria_label: "Close" }, type: "button", class: "btn-close" %>
            </div>

            <div class="modal-body">
              <div id="matomo-opt-out"></div>
              <script src="https://analytics.littlesis.org/index.php?module=CoreAdminHome&action=optOutJS&divId=matomo-opt-out&language=auto&showIntro=1"></script>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop show" style="pointer-events: auto;"></div>

<% end %>
