<h1>My Groups</h1>

<div class="alert alert-info">Research groups allow LittleSis analysts to work together on research projects. Currently groups can only be created by LittleSis staff, but soon any analyst will be able to create them. In the meantime, if you want to create a group to help you organize a project on LittleSis, please contact us.</div>

<%= render partial: "groups/table", locals: { groups: @groups } %>