<% content_for(:page_title, "Your lists") %>

<%= content_tag :div,
  {
    data: {
      controller: "home-lists-datatable",
      home_lists_datatable_data_value: UserListsPresenter.new(current_user).render
    }
  } do %>

  <%= render partial: '/lists/index_header' %>

  <table data-home-lists-datatable-target="table" id="user-lists-table" class="display" style="width:100%"></table>
<% end %>
