<% content_for(:page_title, "Your lists") %>

<%= content_tag :div,
  {
    data: {
      controller: "home-datatables",
      home_datatables_data_value: UserListsPresenter.new(current_user).render,
      home_datatables_name_value: 'lists'
    }
  } do %>

  <%= render partial: '/lists/index_header' %>

  <table data-home-datatables-target="table" id="user-lists-table" class="display" style="width:100%"></table>
<% end %>
