<% content_for(:page_title, "Your lists") %>

<%= content_tag :div,
  {
    data: {
      controller: "home-lists-datatable",
      home_lists_datatable_data_value: UserListsPresenter.new(current_user).render
    }
  } do %>

  <div class="row">
    <h1>
      Your lists
      <%= link_to 'Create', new_list_path, class: 'btn btn-secondary btn-sm' %>
      <%= link_to 'Explore', lists_path, class: 'btn btn-secondary btn-sm' %>
    </h1>
  </div>

  <table data-home-lists-datatable-target="table" id="user-lists-table" class="display" style="width:100%"></table>
<% end %>
