<% content_for(:page_title, "Your maps") %>

<% @maps_user = current_user %>
<%= render partial: 'maps/header' %>

<table id="user-maps-table" class="display" style="width:100%"></table>

<script>
 var userMaps = <%= raw UserMapsPresenter.new(current_user).render %>;

 $(function(){
   $('#user-maps-table').DataTable( {
     "data": userMaps,
     "lengthChange": false,
     "pageLength": 15,
     "columns": [
       { title: "Title" },
       { title: "Updated At" },
     ]
   });
 });
</script>
