<% content_for(:page_title, "Your maps") %>

<% @maps_user = current_user %>
<%= render partial: 'maps/header' %>

<%= content_tag :div,
  {
    data: {
      controller: "home-datatables",
      home_datatables_data_value: UserMapsPresenter.new(current_user).render,
      home_datatables_name_value: 'maps'
    }
  } do %>

  <%= render partial: '/lists/index_header' %>

  <table data-home-datatables-target="table" id="user-maps-table" class="display" style="width:100%"></table>
<% end %>
