<% content_for(:page_title, "Your maps") %>

<%= content_tag :div,
  {
    data: {
      controller: "home-datatables",
      home_datatables_data_value: UserMapsPresenter.new(current_user).render,
      home_datatables_name_value: 'maps'
    }
  } do %>

  <div class="row mt-2">
    <div class="col">
      <h1>Your maps</h1>
      <%= link_to 'Explore', "/oligrapher", class: 'btn btn-clear btn-sm mr-1' %>
      <%= link_to 'Create', new_oligrapher_path, class: 'btn btn-clear btn-sm mr-1' %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <table data-home-datatables-target="table" id="user-maps-table" class="display" style="width:100%"></table>
    </div>
  </div>


<% end %>
