<% content_for(:head) do %>
  <%= javascript_include_tag "sankey_chart" %>

  <style>
   g.sankey-links {}
   g.sankehy-nodes {}

   .sankey-link {
     fill: none;
     stroke: #000;
     stroke-width: 1;
     stroke-opacity: .2;
   }

   .sankey-link:hover {
     stroke-opacity: .5;
     cursor: pointer;
   }

   .sankey-node {

   }

   #sankey-tooltip {
     position: absolute;
     padding: 8px;
     border-radius: 8px;
     background: lightsteelblue;

     pointer-events: none;
     display: flex;
     justify-content: center;
     align-items: center;

   }

   #sankey-tooltip p {
     font-size: 12px;
     margin: auto;
     /* align-self:center;
        text-align:center;
        width: 100%; */

   }

  </style>

<% end  %>



<div id="sankey-chart"></div>
