<h1><%= link_to("Industry: " + @industry.name, industry_path(@industry)) %></h1>

<br>

<% cache(@industry.cache_key('datatable')) do %>
  <%= render partial: 'datatable', locals: { table: @table } %>
<% end %>