<% content_for(:page_title, 'Bulk Data') %>

<div class="row">
  <div class="col">
    <p>LittleSis.org provides copies of our entire dataset licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike License</a>.
    <p>We also have an <a href="https://littlesis.org/api">api</a> that you can use to programatically access LittleSis.org's data.</p>
    <p>
      <table>
        <tr>
          <td>
            <a href="/database/public_data/entities.json.gz">entities.json.gz</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/database/public_data/relationships.json.gz">relationships.json.gz</a>
          </td>
        </tr>
      </table>
    </p>
  </div>
</div>
