<% content_for(:page_title, 'Donate') %>

<div id="donation-header">
  <div class="row m-bottom-1em" >
    <h1 id="donation-header-text">Donate to LittleSis.org</h1>
    <h1 id="donation-header-text-small"><small>Help us keep the heat on the powers that be</small></h1>
  </div>


  <div class="row m-bottom-1em">
    <%= image_tag "Philly-MtP-1.jpg",  class: 'img-responsive donate-photo' %>
    <p><em>130 people turned out for a Map the Power training in Philadelphia!</em></p>
  </div>
</div>

<div class="row">
  <script src='https://actionnetwork.org/widgets/v2/fundraising/support-the-public-accountability-initiative-and-littlesisorg?format=js&source=widget'></script>
  <div id='can-fundraising-area-support-the-public-accountability-initiative-and-littlesisorg' style='width: 100%'></div>
</div>
