<% content_for(:page_title, 'Donate') %>

<div id="donation-header">
  <div class="row text-center">
    <p>The need to bring transparency and accountability <br/> to powerful corporations and billionaires is stronger than ever.</p>
    <p>Join us in giving the power structure the scrutiny it deserves <br> – and creating space for real democracy.</p>
    <p style="padding: 0.3em"><strong>Make a tax-deductible gift today.</strong></h5>
    <div style="font-size: 0.9em">
      <em>If you would prefer paying by check, make check payable to: </em><br><em>Public Accountability Initiative, 89 Rhode Island St, Buffalo, NY 14213</em><em><br><br></em>
    </div>
  </div>
</div>

<div class="row">
  <script src='https://actionnetwork.org/widgets/v2/fundraising/support-the-public-accountability-initiative-and-littlesisorg?format=js&source=widget'></script>
  <div id='can-fundraising-area-support-the-public-accountability-initiative-and-littlesisorg' style='width: 100%'></div>
</div>
