<% content_for(:page_title, 'Donate') %>

<div class="row">
  <script src='https://actionnetwork.org/widgets/v2/fundraising/support-the-public-accountability-initiative-and-littlesisorg?format=js&source=widget'></script>
  <div id='can-fundraising-area-support-the-public-accountability-initiative-and-littlesisorg' style='width: 100%'></div>
</div>


<div class="row d-block text-center">
  <div style="font-size: 0.9em">
    <em>If you would prefer paying by check, make check payable to: </em><br><em>Public Accountability Initiative, 266 Elmwood Ave #191 Buffalo, NY 14222</em><em><br><br></em>
  </div>
</div>
