<% content_for(:page_title, 'Donate') %>

<div class="row text-center">
  <div cllass="col">
    <p>
      If you would prefer paying by check, make check payable to: <br>
      <em>Public Accountability Initiative, 266 Elmwood Ave #191 Buffalo, NY 14222</em>
    </p>
  </div>
</div>

<div class="row h-100 mb-2">
  <div class="col">
    <iframe
      class="h-100 w-100"
      src="https://littlesis.ourpowerbase.net/civicrm/contribute/transact?reset=1&id=1"
    </iframe>
  </div>
</div>
