<% content_for(:page_title, 'Donate') %>

<script src='https://actionnetwork.org/widgets/v2/fundraising/support-the-public-accountability-initiative-and-littlesisorg?format=js&source=widget'></script>
<div id='can-fundraising-area-support-the-public-accountability-initiative-and-littlesisorg' style='width: 100%'></div> 
