<% content_for :head do %>
  <style>
   .swamped-top {
     background-color: lightgray;
     height: 250px;
   }

   .rat-img {
     height: 21px;
   }

   .tracker {
     height: 100%;
     width: 100%;
     overflow: hidden;
   }

   .crawl-wrapper {
     height: 100%;
     display: flex;
     justify-content: center;
     perspective: 400px;
     height: 600px;
     font-size: 18x;
     font-weight: 600;
     /* letter-spacing: 6px; */
     line-height: 150%;
     text-align: justify;
   }

   .crawl {
     position: relative;
     top: -100px;
     transform-origin: 50% 100%;
     animation: crawl 240s linear;
   }

   @keyframes crawl {
     0% {
       top: 0;
       transform: rotateX(20deg) translateZ(0);
     }
     100% {
       top: -8000px;
       transform: rotateX(25deg) translateZ(-2500px);
     }
   }

   .rat-report {
     margin-top: 10px;
     max-width: 400px;
     margin: 0 auto;
   }

  </style>
<% end %>

<div class="row swamped-top">
  <div class="col align-items-center">
    <p class="text-center">swamped</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4 mt-4">
    <p class="text-center text-bold">
      As the Trump administration comes to an end, <br /> staffers are exiting via the revolving door to jobs at influential corporations. <br /> LittleSis is watching as the swamp fills up with Trump’s minions.
    </p>
    <div class="text-center">
      <p class="d-inline">Got a tip? Tell us about a Trump Rat on the loose</p>
      <div class="input-group mb-3 rat-report">
        <input type="text" class="form-control">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"><%= image_tag('rat.png', class: 'rat-img') %></button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-5 col-md-8  ml-2mr-2">
    <div class="tracker">
      <div class="crawl-wrapper">
        <div class="crawl">
          <% JSON.load_file(Rails.root.join('data/revolvers.json')).each do |rat| %>
            <p><%= link_to rat['name'], rat['url'], target: '_blank'  %> left on <%= rat['date'] %> and now works for <%= rat['company'] %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
