<%= content_tag(
  :table,
  data: {
    controller: "entity-merge",
    entity_merge_target: "table",
    entity_merge_possible_merges_value: @similar_entities.to_json,
    entity_merge_path_value: merge_path(mode: current_user.admin? ? "execute" : "request", source: @source.id)
  },
  id: "merge-entity-table",
  class: "display",
  width: "100%"
  ) do %>

  <template data-entity-merge-target="mergeButton">
    <a href="{{path}}" class="btn btn-secondary">merge</a>
  </template>

<% end %>
