defaults: &defaults
  aws_key: 
  aws_secret:
  aws_s3_base: "http://s3.amazonaws.com"
  aws_s3_bucket: lilsis
  square_image_file_type: jpg
  imagemagick_binary_path: "/usr/local/bin/convert"
  google_custom_search_engine_id: 
  google_custom_search_key: 
  default_from_email: 
  default_to_email:
  admins_only: false
  convert_new_legacy_notes: false
  verticalresponse_username:
  verticalresponse_password:
  research_from_email: research@littlesis.org
  netmap_api_key:
  netmap_default_width:
  netmap_default_height:

test:
  <<: *defaults

development:
  <<: *defaults

production:
  <<: *defaults
