defaults: &defaults
  system_user_id: 1
  smtp_address:
  smtp_user_name:
  smtp_password:
  notification_to: "admin@littlesis.org"
  default_from_email: "email.robot@littlesis.org"
  carousel_list_id: 404
  action_network_api_key: 'your-action-network-api-key-here'
  powerbase_api_key: 'your-powerbase-api-key-here'
  redis_url: "redis://redis:6379/0"
  default_image_file_type: jpg
  donation_banner_display: false # all | some
  host: littlesis.org
  asset_host: "127.0.0.1:8080"
  image_host: "https://littlesis.org"
  image_root: public/images
  protocol: https
  beta: false
  noediting: false
  firefox_binary: /opt/firefox
  oligrapher_commit: "55605f4ed2b2dfd837466edc9cd9359df51a456b"
  oligrapher_beta: "d87f09e5505eb4f591f6e6c9c19d7aedfebd2c78"

test:
  <<: *defaults
  notification_to: rspec@testing.com
  asset_host: assets.example.net
  donation_banner_display: false
  oligrapher_version: 0.0.1
  image_root: tmp
  host: 'localhost:8080'
  protocol: http
  oligrapher_commit: "v4"
  oligrapher_beta: "test-beta"

development:
  <<: *defaults
  image_host: "http://127.0.0.1:8081"
  redis_url: "redis://redis:6379/0"
  host: '127.0.0.1:8081'
  protocol: http
  opensecrets_api_key: <%= Rails.application.credentials.opensecrets_api_key %>
  action_network_api_key: <%= Rails.application.credentials.action_network_api_key %>
  powerbase_api_key: <%= Rails.application.credentials.powerbase_api_key %>
  oligrapher_commit: dev
  donation_banner_display: some

production:
  <<: *defaults
  redis_url: "redis://127.0.0.1:6379/0"
  image_host: https://littlesis.org
  image_root: public/images
  host: littlesis.org
  asset_host: littlesis.org
  protocol: https
  beta: false
  donation_banner_display: some
  carousel_list_id: 1257
  action_network_api_key: <%= Rails.application.credentials.action_network_api_key %>
  powerbase_api_key: <%= Rails.application.credentials.powerbase_api_key %>
  opensecrets_api_key: <%= Rails.application.credentials.opensecrets_api_key %>
  smtp_address: <%= Rails.application.credentials.smtp_address %>
  smtp_domain: <%= Rails.application.credentials.smtp_domain %>
  smtp_user_name: <%= Rails.application.credentials.smtp_user_name %>
  smtp_password: <%= Rails.application.credentials.smtp_password %>
  restricted_ips: <%= Rails.application.credentials.restricted_ips %>
