# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2ab6a09f92f29dcf3f4a597b0db4a306ea05316317d2582806cef50ab81a5bac1bfebabaa6a08e95f4ac8b6cbeaea9340127ebd9aaed806e5a1619628e94c234

test:
  secret_key_base: ea5bbf71173f606317c99eb91ca5359e86d60bec64a0b67d14fbc3e770d7ab5280c6a97ffd3a93a0635ce812924b64949e722a4fc4b8fb4f6381f20e21e6e66e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
