<div class="row">
    <h1>Editing Tag: <%= @tag.name %></h1>
</div>

<div class="row">
    <div class="col-sm-6">
	<%= notice_or_alert %>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
	<%= render partial: 'tag_form', locals: { tag: @tag } %>
    </div>
</div>
