<div id="tag-show-container">

  <%= render partial: 'header' %>
  
  <div id="tagable-lists">

    <% # if no subtypes exist, @tagable_subtypes will be `[nil]` %>
    <% @tagable_subtypes.each do |subtype|  %>
      <%= render partial: 'tagable_list',
                 locals: { tagables: subtype ? @tagables[subtype] : @tagables,
                           tag: @tag,
                           subheader: subtype&.pluralize,
                           item_descriptor: subtype&.pluralize&.downcase || @tagable_category } %>
    <% end %>

  </div>

</div>
