<% content_for(:page_title, "#{@tag.name.capitalize} - Tags") %>

<div id="tag-show-container">

    <%= render partial: 'header',
        locals: { tag: @tag, active_tab: @tagable_category.to_sym }
    %>
  
  <div id="tagable-lists">

    <%# if no subtypes exist, @tagable_subtypes will be `[nil]` %>
    <% @tagable_subtypes.each do |subtype|  %>
      <%= render partial: 'tagable_list',
                 locals: { tagables: subtype ? @tagables[subtype] : @tagables,
                           tag: @tag,
		           param_name: subtype.nil? ? 'page' : "#{subtype.downcase}_page",
                           subheader: subtype&.pluralize,
                           item_descriptor: subtype&.pluralize&.downcase || @tagable_category } %>
    <% end %>

  </div>

</div>
