<table id="dataset-table" class="table">
  <thead>
    <tr>
      <% if @dataset == 'nycc' %>
        <th>Name</th>
        <th>District</th>
        <th>Party</th>
      <% elsif @dataset == 'iapd_advisors' %>
        <th>Name</th>
        <th>Assets Under Management</th>
        <th>CRD Number</th>
      <% else %>
        <% raise NotImplementedError %>
      <%end %>
    </tr>
  </thead>
</table>

<script>
 $(function(){
   $('#dataset-table').DataTable({
     "processing": true,
     "serverSide": true,
     "ajax": {
       "url":  "/external_data/<%= @dataset %>",
       "dataSrc": "data"
     },
     "columns": <%= render_columns_js(@dataset) %>
   })
 })
</script>
