<table id="dataset-table" class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>match</th>
      <th>name</th>
    </tr>
  </thead>
</table>


<script>
 $(function(){
   $('#dataset-table').DataTable({
     "processing": true,
     "serverSide": true,
     "ajax": {
       "url":  "/external_data/<%= @dataset %>",
       "dataSrc": "data"
     },
     "columns": <%= render_columns_js(@dataset) %>
   })
 })
</script>
