<p>Search for a matching entity</p>

<div>
  <%= form_tag @external_entity, method: :get do %>
    <%= text_field_tag 'search', @search_term %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div>
  <%= render partial: 'potential_matches',
             locals: { matches: @external_entity.search_for_matches(@search_term) } %>
</div>
