<div id="external-entity-matcher">
  <div class="leftSide">
    <%= render partial: 'external_data' %>
  </div>

  <div class="rightSide">
    <% if @external_entity.matched? %>
      <%= render partial: 'matched_info' %>
    <% else %>
      <%= render partial: 'actions' %>
    <% end %>
  </div>
<div>
