<h1>Bad Credentials!</h1>

You're not allowed to do whatever you're trying to do. Please <strong><%= link_to 'contact us', '/contact' %></strong> if you think we're mistaken.

<div class="spacer"></div>
<div class="spacer"></div>

<%= image_tag('not_allowed.gif') %>
