<turbo-frame id="image-modal-body">
  <div class="modal-body image-modal-body bg-light" id="image_deletion_request_pending">
    <div class="p-1 mb-4 text-dark">Thank you! Request submitted.</div>
  </div>
</turbo-frame>
