<div class="container">
  <div class="row">
    <div class="col-sm-6 col-centered">
      <h2>Login to LittleSis Chat</h2>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-centered">
      <form class="form-horizontal" id="ls-auth-form">

	<div class="form-group">
	  <label for="ls-auth-email" class="col-sm-2 control-label">Email</label>
	  <div class="col-sm-10">
	    <input name="email" type="email" class="form-control" id="ls-auth-email" placeholder="Email">
	  </div>
	</div>

	<div class="form-group">
	  <label for="ls-auth-password" class="col-sm-2 control-label">Password</label>
	  <div class="col-sm-10">
	    <input name="password" type="password" class="form-control" id="ls-auth-password" placeholder="Password">
	  </div>
	</div>
	
	<div class="form-group">
	  <div class="col-sm-offset-2 col-sm-10">
	    <button type="submit" class="btn btn-default" id="ls-auth-submit">Sign in</button>
	  </div>
	</div>
      </form>
    </div>
  </div>

  <div class="row" id="ls-auth-alert-row" style="display: none;">
    <div class="col-sm-6 col-centered bg-danger">
      <p id="ls-auth-alert-text" class="text-center"></p>
    </div>
  </div>
</div>

<script>
 function lsChatLoading() {
   $("#ls-auth-submit").prop('disabled', true);
   $("#ls-auth-alert-row").hide();
   $('#ls-auth-alert-text').text('');
 }
 
 function lsChatUnAuthorized(message) {
   $("#ls-auth-submit").prop('disabled', false);
   $('#ls-auth-alert-text').text(message);
   $("#ls-auth-alert-row").show();
 }

 function lsChatAuthorized(token) {
   $("#ls-auth-submit").prop('disabled', false);
   $("#ls-auth-alert-row").hide();
   console.log(token);
   // Authorize rocket.chat
   window.parent.postMessage({
     event: 'login-with-token',
     loginToken: token,
   }, 'https://chat.littlesis.org');
 }

 $('#ls-auth-form').submit(function(event){
   event.preventDefault();
   $.ajax({
     url: "<%= chat_auth_url %>",
     type: 'POST',
     data : $(this).serialize()
   })
    .done(function(data){
      lsChatAuthorized(data.token);
    })
    .fail(function(xhr) {
      lsChatUnAuthorized(xhr.responseJSON.error)
    });
});

</script>
