<%#
locals: documents: [<Document>]

also see controllers/reference_widget_controller.js
%>

<div data-controller="reference-widget">
  <div class="card">
    <div class="card-header">
      <span class="card-title">Where is this information coming from?</span>
    </div>

    <div class="card-body existing-source" data-reference-widget-target="existingSource">
      <% if local_assigns.fetch(:show_just_cleaning_up, true) %>
        <div class="form-group">
          <label class="pr-1">
            Just Cleaning Up:
            <input type="checkbox"
                   data-action="change->reference-widget#toggleJustCleaningUp"
                   data-reference-widget-target="justCleaningUp"
                   name="reference[just_cleaning_up]"
                   class="align-middle"
                   required="required" />
          </label>
        </div>
      <% end %>

      <div class="form-group">
        <label class="pr-2">Existing Source:</label>
        <select style="width: 70%" data-reference-widget-target="select" name="reference[document_id]"  class="form-control">
          <option></option>
          <%= documents.each do |d| %>
            <%= tag.option truncate(d.name), value: d.id, title: d.url %>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <button class="btn btn-primary"
                type="button"
                data-action="reference-widget#toggleNewDocument"
                data-reference-widget-target="newReferenceButton">Create new reference</button>
      </div>
    </div>

    <div class="card-body new-document" style="display: none;" data-reference-widget-target="newDocument">
      <div>
        <label>
          url:
          <input type="url" data-reference-widget-target="newDocumentInput" />
        </label>
      </div>

      <div>
        <label>
          name:
          <input type="text"  data-reference-widget-target="newDocumentInput" />
        </label>
      </div>

      <div>
        <button class="btn btn-primary" type="button" data-action="reference-widget#toggleExistingSource">Use existing source</button>
      </div>
    </div>
  </div>
</div>
