<style>
 #newsletter_confirmation  {
   font-family: Sans-Serif;
 }
</style>

<div id="newsletter_confirmation">
  <p>Hello,</p>
  <p>Thank you for subscribing! Please <%= link_to "click here", @url %> in order to confirm your newsletter subscription(s).</p>
  <p>Sincerely,</p>
  <p>LittleSis.org</p>
</div>
