<% content_for(:page_title, "IAPD") %>

<%= stylesheet_link_tag 'entity_matcher' %>
<%= javascript_pack_tag 'entity_matcher' %>

<div class="row">
  <div class="col">
    <a class="mt-3" href="/external_datasets">«« Entity matcher home</a>
    <%= external_dataset_iapd_subtitle @flow %>
  </div>
</div>


<div class="row mt-3">
  <div class="col">
    <div id="entity-matcher"></div>
  </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
   window.entityMatcher(
     <%= {
       "flow" => @flow,
       "start" => @start,
       "queue" => @queue
     }.to_json.html_safe %>
   );
});
</script>

