<% content_for(:page_title, "IAPD") %>

<%= stylesheet_link_tag 'entity_matcher' %>
<%= javascript_pack_tag 'entity_matcher' %>

<div id="entity-matcher"></div>


<script>
document.addEventListener('DOMContentLoaded', function() {
   window.entityMatcher(
     <%= { "flow" => @flow, "start" => @start }.to_json.html_safe %>
   );
});
</script>
