<% content_for(:page_title, "External Datasets") %>

<div class="row">
  <div class="col">
    <h1>external datasets</h1>
    </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>IAPD</h2>
    <p>
      <a href="/external_datasets/iapd?flow=advisors">Match Advisors</a>
    </p>
    <p>
      <a href="/external_datasets/iapd?flow=owners">Match Executives</a>
    </p>

    <p>
      <a href="/external_datasets/iapd/search">Search for Advisors</a>
    </p>
  </div>
</div>

