<% content_for(:page_title, "External Datasets") %>

<div class="row">
  <div class="col">
    <h1>external datasets</h1>
    </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>IAPD</h2>
    <p>Match Advisors</p>
    <p>Search for Adivsor or Executive</p>
    <p>Match Executives</p>
  </div>
</div>

