<div class="jumbotron" id="toolkit-footer">
  <div class="container">
    <div class="row d-flex">
      <div class="mr-auto col-12 col-sm-4">
	<%= link_to(image_tag("littlesis-logo.svg", class: 'littlesis-logo'), root_path) %>
	<p>We're a grassroots watchdog network connecting the dots between the world's most powerful people and organizations.</p>
      </div>
      <div class="mr-auto col-12 col-sm-6">
	<h3>Join the Map the Power mailing list</h3>
	
	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
	  <form action="//public-accountability.us12.list-manage.com/subscribe/post?u=2c4abf91104beecf1c903bef4&amp;id=92e55549df" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
	    <div id="mc_embed_signup_scroll">

	      <div class="mc-field-group input-group">
		<label for="mce-EMAIL"></label>
		<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="email address">
		

		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2c4abf91104beecf1c903bef4_92e55549df" tabindex="-1" value=""></div>
		<div class="input-group-append">
		  <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-secondary">Subscribe</button>
		</div>
	      </div>
	    </div>
	  </form>
	</div>

	<!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>

