<% content_for(:page_title, 'Map the Power') %>
<% content_for(:table_of_contents, true) %>


<div class="row">
  <div class="col-sm-12">
    <%= image_tag "map_the_power.png",  class: 'img-responsive center-block' %>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-8 offset-md-2">
    <div id="index-menu">
      <%= render partial: 'links' %>
    </div>
  </div>
</div>


<div class="row toe-row">
  <div class="col-12 col-md-8 offset-md-2">
    <h2>Map the Power Toolkit</h2>
    <p>This toolkit has been designed to provide people with the tools to conduct power research and develop a research pod, or crew of folks, that have the skills to investigate local corporate bodies and organize against them. You can use this toolkit as a starting point for organizing around a common target with your neighbors and friends, or to strengthen the work of your organization!</p>
    <div>
      <%= @content %>
    </div>
  </div>
</div>
