<%= content_tag("div", { id: "campaign_header_cover", class: "cover", style: campaign.cover.present? ? "background-image: url('#{campaign.cover_url}');" : "" }) do %>

<div id="campaign_header_cover_content" class="cover_content">
<div id="campaign_header">
  <div class="cover_small_left">
    <div class="cover_small_logo">
  		<% if campaign.logo.present? %>
  			<%= image_tag(campaign.logo_url) %>
  		<% end %>
    </div>
  </div>

  <div class="cover_small_right">
  	<div class="cover_name"><%= campaign_link(campaign) %></div>

  	<% if @campaign.tagline.present? %>
  		<div class="cover_tagline"><%= campaign.tagline %></div>
  	<% end %>
  </div>

	<div class="clearfix"></div>
</div>
</div>

<% end %>