<% content_for :body do %>


<%= render partial: "campaigns/header_small", locals: { campaign: @campaign } %>


<%= centered_content do %>

<h1>Admin Links</h1>

<%= link_to "edit this campaign", edit_campaign_path(@campaign) %><br />
<%= link_to "create a new campaign", new_campaign_path %><br />

<% end %>


<% end %>