<% content_for(:page_title, @campaign.name + " - Edit") %>

<% content_for :body do %>


<%= render partial: "campaigns/header_small", locals: { campaign: @campaign } %>


<%= centered_content do %>

<h1>Editing campaign</h1>

<%= render 'form' %>

<% end %>


<% end %>



