<% content_for(:page_title, @campaign.name + " - Research Groups") %>

<% content_for :body do %>


<%= render partial: "campaigns/header_small", locals: { campaign: @campaign } %>


<%= centered_content do %>

<h1>Research Groups</h1>

<%= groups_alert(@campaign.id) %>

<% cache(@campaign.cache_key('groups/groups'), expires_in: 10.minutes) do %>
	<%= render partial: "groups/table", locals: { groups: @groups } %>	
<% end %>

<% end %>


<% end %>