<% content_for(:page_title, @campaign.name + " - Sign Up") %>

<% content_for :body do %>

<%= render partial: 'campaigns/header', locals: { campaign: @campaign, hide_signup: true } %>

<%= centered_content do %>
  <div class="cover_left_medium"></div>
  <div class="cover_right_medium">
    <h2>Get Involved</h2>
    LittleSis is partnering with the Higher Ed Not Debt campaign to facilitate campus-by-campus investigations of the role of Wall Street in higher education. Read more <%= link_to 'here', campaign_path(@campaign) %>. Sign up and we'll contact you soon about training opportunities and ways to help out with the research! 
    <br />
    <br />

    <%= render partial: 'campaigns/signup_form', locals: { campaign: @campaign, errors: @errors } %>
  </div>
<% end %>

<% end %>