<% content_for(:page_title, "#{@list.name} - Interlocks") %>

<%= render partial: 'lists/header', locals: { list: @list } %>
<%= render partial: 'lists/tabs', locals: { list: @list, selected_tab: :interlocks } %>

<% cache( [ @list.cache_key_with_version, 'other_orgs', @page] , expires_in: 1.day) do %>
  <div class="row">
    <div class="col">
      <%= render partial: 'other_orgs', locals: { others: @interlocks } %>
    </div>
  </div>
<% end %>
