@import "globals";

$logo_size: 150px;

div#campaign_cover {
	background-size: cover;
	background-color: #444;
	padding-bottom: 2em;
	margin-bottom: 1em;
	padding-top: 2em;

	#campaign_cover_content {
		color: black;
		margin: 0 auto;	
		width: $page_width;
	}

	#campaign_cover_left {
		float: left;
		width: 600px;
	}

	#campaign_cover_right {
		margin-left: 600px;
		width: 350px;
	}

	#campaign_logo {
		float: left;
		height: $logo_size;

		img {
			width: $logo_size;
			border-radius: $logo_size/2;
		}
	}

	#campaign_name {
		font-size: 3em;
		line-height: 1em;
		font-weight: bold;

		a { color: black; }
	}

	#campaign_tagline {
		clear: both;
		margin-top: 1em;
		font-size: 1.3em;
		font-style: italic;
	}

	#campaign_description {
		margin-top: 1em;

		div { 
			margin-top: 0;
			margin-bottom: 0.8em; 
			line-height: 1.4em;
		}
	}

	#campaign_groups_header {
		margin-top: 0.5em;
	}

	#campaign_groups {
		font-size: 1.5em;
		font-variant: small-caps;
		border-bottom: 1px solid #eee;
	}

	#campaign_groups_list {
		margin-top: 0.5em;
	}

	#campaign_groups_search {
		margin-top: 1em;
		background-color: white;
	}

	#campaign_start_group {
		padding: 0.5em;
	}

	#campaign_cover_clear {
		clear: both;
	}
}

#campaign_header_cover {
	background-color: #eee;
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

#campaign_header_cover_content {
	width: $page_width;
	margin: 0 auto;
	color: black;
}


#campaign_logo_small img {
	float: left;
	height: 80px;
	width: 80px;
	margin-right: 15px;
	border-radius: 8px;
}