#cmp-header {
  h1 {
    font-size: 1.5em;

    b {
      font-size: 1.75em;
    }
  }
}

.cmp-strata-entity-link {}

.cmp-strata-blurb {
  padding-top: 3px;
  font-size: 0.7em;
  font-style: italic;
}


.cmp-map-row {
  margin-top: 1em;
}
