#cmp-header {
    h1 {
	font-size: 1.5em;

	b {
	    font-size: 1.75em;
	}
    }
}

.cmp-strata-entity-link {}

.cmp-strata-blurb {
    padding-top: 3px;
    font-size: 0.7em;
    font-style: italic;
}


#cmp-tag-search {
    .entity-result {
    }

    .entity-result-img {
	width: 100px;
	height: 100px;
    }

    .entity-result-blurb {}
    .entity-results {}
    .entity-tag-search {}
    .no-entities-found {}

}


.entity-search-container {
    position:relative;

    input {}

    .entity-search-autocomplete {
	z-index: 100;
	position: absolute;
	background-color: white;
	width: 100%;
	max-height: 100px;
    }

    ul {
	list-style-type: none;
	padding-left: 0.3em;
	font-size: 0.8em;
    }

    li {
	padding: 0;
    }
}
