@import "globals";
$logo_reduction: 100px;

.cover_left {
	float: left;
	width: $small_column_width;
}

.cover_left_medium {
	float: left;
	width: $small_column_width - $logo_reduction;
}

.cover_small_left {
	float: left;
	width: $small_header_image_size;
}

.cover_right {
	margin-left: $small_column_width + 30px;
	width: $big_column_width;
}

.cover_right_medium {
	margin-left: $small_column_width + 30px - $logo_reduction;
	width: $big_column_width + $logo_reduction;
}

.cover_small_right {
	margin-left: $small_header_image_size + 15px;
}

.cover_logo {
	padding-top: 0;
	margin-left: 0;
	background-color: #f8f8f8;
	border-radius: 10px;
	width: $small_column_width;
	height: $small_column_width;
	overflow: hidden;

	img {
		width: $small_column_width;
	}
}

.cover_logo_medium {
	padding-top: 0;
	margin-left: 0;
	background-color: #f8f8f8;
	border-radius: 10px;
	width: $small_column_width - $logo_reduction;
	height: $small_column_width - $logo_reduction;
	overflow: hidden;

	img {
		width: $small_column_width - $logo_reduction;
	}
}

.cover_small_logo {
	padding-top: 0;
	margin-left: 0;
	background-color: #f8f8f8;
	border-radius: 8px;
	width: $small_header_image_size;
	height: $small_header_image_size;
	overflow: hidden;

	img {
		width: $small_header_image_size;
	}
}

.cover_logo_credit {
	font-size: 11px;
	font-style: italic;
	padding-left: 5px;
}

.cover_name {
	font-size: 3em;
	line-height: 1.2em;
	font-weight: 500;
}

.cover_tagline {
	margin-top: 0;
	font-size: 1.5em;
	font-weight: 300;
}

.cover_description {
	margin-top: 1em;
	line-height: 1.4em;
	font-size: 14px;
}

.cover_clear {
	clear: both;
}

.cover {
	background-color: #fff;

	h1, h2, h3 {
		margin-top: 0;
	}

	border-bottom: 1px solid #eee;
}