@import "globals";

.cover_left {
	width: $left_column_width - 50px;;
	float: left;	
}

.cover_right {
	margin-left: $left_column_width;
	width: $right_column_width;
}

.cover_name {
	font-size: 3em;
	line-height: 1.2em;
	font-weight: 500;
	a { color: black; }
}

.cover_tagline {
	margin-top: 0;
	font-size: 1.3em;
	font-style: italic;
	font-weight: 300;
}

.cover_description {
	margin-top: 1em;
	line-height: 1.4em;
	font-size: 14px;
}

.cover_clear {
	clear: both;
}

.cover {
	background-color: #fff;
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;

	h1, h2, h3 {
		margin-top: 0;
	}

	border-bottom: 1px solid #eee;
}