@use "sass:map";
@use "base/globals";

@font-face {
  font-family: 'AveriaBold';
  src: font-url('AveriaSerifLibre-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Averia';
  src: font-url('AveriaSerifLibre-Regular.ttf') format('truetype');
}

#dashboard {
  small.arrows {
    i {
      cursor: pointer;
    }

    .disabled {
      color: lightgray;
      cursor: default;
    }
  }
}

#dashboard-bulletins {
  margin-top: 1em;

  @media (min-width: map.get(globals.$grid-breakpoints, "md")) {
    magin-left: 3em;
    margin-top: 0;
  }

  .card  {
    margin-bottom: 1.5em;

    .trix-content {
      padding: 0;
    }
  }
}


#dashboard-search-form {

  @media (min-width: map.get(globals.$grid-breakpoints, "lg")) {
    padding-right: 6em;
  }

  // input {
  //     font-size: 0.8em;
  //     width: 100%;
  //     max-width: 275px;

  //     @include media-breakpoint-up(lg) {
  //         max-width: 350px;
  //     }
  // }
}


#dashboard-bulletins-table tr > th:nth-child(2) {
  width: 40px;
}
