#entity-matcher-ui {
    display: flex;
    height: 500px;
    width: 100%;
}
div.leftSide, div.rightSide {
    flex: 1;
    padding: 1em;
    border: 1px solid black;
}

div.leftSide {
    background-color: lightgray;
    margin-right: 0.5em;
}

div.rightSide {
    background-color: lightgreen;
    margin-left: 0.5em;
}


#dataset-item-info {
    .item-info-wrapper {
	margin-bottom: 0.5em;
    }

    .item-info-title {
	margin-right: 1em;
	font-weight: bold;
    }

    .item-info-value {}
}

#potential-matches {
    height: 100%;
}

#potential-matches-list {
    height: 70%;
    overflow: auto;
}

div.potential-match-card {
    display: flex;
    align-itmes: flex-start;
    margin-botton: 0.5em;
    margin-top: 0.5em;
    // justify-content: space-around;

    .f-item {
	margin-left: 1em;
    }

    .potential-match-entity-image-wrapper {
	width: 50px;
	height: 50px;

	img {
	    width: 100%;
	}
    }

    .potential-match-entity {
	width: 50%;

	h1 {
	    font-size: 1.2em;
	    font-weight: bold;
	}
	p {
	    font-size: 0.8em;
	}

	.potential-match-entity-blurb {}

    }

}
