$page_width: 960px;
$logo_blue: rgb(28, 71, 103);
$logo_blue_light: rgb(41, 105, 153);
$logo_blue_lighter: rgb(55, 139, 204);
$user_image_size: 48px;
$link_blue: #008;
$left_column_width: 600px;
$right_column_width: 350px;
$navbar_height: 51px;