@import "globals";
$logo_size: 50px;

#group_header_cover {
	background-color: #eee;
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
	padding-top: 1em;
	padding-bottom: 2em;
	margin-bottom: 1em;
}

#group_header_cover_content {
	width: $page_width;
	margin: 0 auto;
	color: black;
}

#group_campaign {
	border-top: 0px solid #ccc;
	color: #444;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #444;

	a { color: #444; }
}

#group_campaign_content {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;	
}

#group_campaign_logo img {
	width: $logo_size - 10;
	height: $logo_size - 10;
	border-radius: ($logo_size - 10)/2;
	float: left;
	opacity: 1;
}

#group_campaign_name {
	margin-left: $logo_size;
	font-size: 1.4em;
	line-height: 1.3em;
}

#group_campaign_tagline {
	margin-left: $logo_size;	
	font-size: 0.8em;
	font-style: italic;
}

#group_header {
	margin-top: 1em;

	#group_header_left {
		width: 550px;
		float: left;
	}

	#group_header_right {
		margin-left: 550px;
		width: 400px;
	}

	#group_header_clear {
		clear: both;
	}

	#group_name {
		font-size: 3em;
		line-height: 1em;
		font-weight: bold;
		a { 
			color: black; 
		}
	}

	#group_tagline {
		margin-top: 0.5em;
		font-size: 1.3em;
		font-style: italic;
	}

	#group_stats {
		font-size: 0.9em;
		color: #444;
		margin-top: 1em;
	}

	#group_description {
		margin-top: 1em;
		line-height: 1.4em;
	}

	#group_helper {
		display: inline-block;
		margin-top: 1em;
		/* background-color: rgba(220, 220, 255, 0.5); */
		background-color: rgba(240, 240, 255, 0.8);
		border-radius: 0.5em;
		border: 0px solid #eee;
	}

	#group_logo {
		padding-top: 1em;
		margin-left: 3em;

		img {
			width: 300px;
			border-radius: 150px;
		}
	}

	#group_logo_small {
		float: left;
		margin-right: 10px;

		img {
			width: 80px;
			border-radius: 40px;
		}
	}
}

#group_carousel_header {
	margin-bottom: 1em;	
}

.group_header, #group_carousel_header, #group_findings_header, #group_updates_header, #group_howto_header, #group_lists_header, #group_notes_header, #group_watching_header {
	margin-bottom: 0.5em;
	font-size: 1.5em;
	border-bottom: 1px solid #eee;	
}

#group_watching_header {
	margin-bottom: 0;
}

#group_carousel {
	margin-bottom: 1em;
}

#group_left_column {
	float: left;
	width: 600px;
}

#group_right_column {
	margin-left: 660px;
	width: 300px;
}

#group_clear {
	clear: both;
}

.group_mini {
	padding: 0.7em;

	.group_mini_logo {
		float: left;

		img {
			width: $logo_size;
			border-radius: $logo_size/2;
		}
	}

	.group_mini_name {
		margin-left: $logo_size + 10px;
		font-size: 1.3em;

		a {
			color: white;
		}
	}

	.group_mini_tagline {
		margin-top: 5px;
		margin-left: $logo_size + 10px;
		font-size: 0.7em;
		font-style: italic;
	}
}

.group_tabs {
}

.group_list_name {
	font-size: 1em;
	margin-top: 0.5em;
	a { font-weight: bold; }
}

.group_list_description {
	font-style: italic;
}

.group_edits_table {
	margin-top: 1em;
}

.group_edits_user {
	font-size: 0.8em;
	a { font-weight: bold; }
}

.group_edits_name {
	font-weight: bold;
}

.group_edits_details {
	max-width: 448px;
}

.group_list_actions {
	margin-bottom: 1em;
	font-size: 0.9em;
}

.group_users_name {
	font-weight: bold;
}

.group_users_image .user_image {
	width: 30px;
	height: 30px;
}

tr.group_users_row td {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	vertical-align: middle !important;
}