// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard_user_image .user_image {
	width: 75px;
	height: 75px;
	float: left;
	margin-right: 10px;
}

#dashboard_user_name {
	padding-top: 1em;
	line-height: 0.8em;
	font-size: 2em;
	font-weight: 500;
}

#dashboard_user_network {
	font-size: 0.5em;
	font-weight: normal;
	a { color: #888; }
}

.dashboard-entity {
  margin-bottom: 0.2em;
  line-height: 17px;
}

.dashboard-entity-link {
  font-size: 15px;
  font-weight: bold;
}

.dashboard-map {
	display: inline-block;
	width: 280px;
	text-align: center;
	margin-right: 30px;
	margin-bottom: 30px;
}

.dashboard-map-thumbnail {
	width: 280px;
	height: 161px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}

.dashboard-private-map-thumbnail {
	width: 280px;
	height: 161px;
	background-image: asset-url('lock-128.png');
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}