// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard_user_image .user_image {
	width: 75px;
	height: 75px;
	float: left;
	margin-right: 10px;
}

#dashboard_user_name {
	padding-top: 1em;
	line-height: 0.8em;
	font-size: 2em;
	font-weight: 500;
}

#dashboard_user_network {
	font-size: 0.5em;
	font-weight: normal;
	a { color: #888; }
}