@import "globals";

body {
	margin: 0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

a {
	text-decoration: none;
	color: $link_blue;

	&:hover {
		text-decoration: underline;
	}
}

#top {
	color: white;
	height: 33px;
	padding-top: 5px;
	background-color: $logo_blue;

	img {
		height: 30px;
	}
}

#top_content {
	width: $page_width;
	margin: 0 auto;
}

#logo {
	float: left;
}

#menu {
	float: left;
	padding-top: 0.2em;

	.dropdown {
		display: inline-block;
	}

	.menu_dropdown_name { 
		color: white;
		cursor: pointer;
		padding-left: 1em;
		margin-left: 0.2em;

		&:hover { text-decoration: none; }

		&.highlighted {
			color: #ffc;
		}
	}

	li a { 
		color: $link_blue; 
	}
}

#social_media_icons {
	margin-left: 2em;
	float: right;
	img {
		width: 22px;
		height: 22px;
		margin-left: 0.2em;
	}
}

#top_search {
	margin-left: 1em;
	float: right;
	width: 200px;

	input {
		height: 22px;
		font-size: 12px;
	}

	button {
		height: 22px;
		width: 25px;
		font-size: 12px;
		padding-top: 4px;
		padding-left: 6px;
	}
}

#session_info {
	padding-top: 4px;
	font-size: 0.8em;
	float: right;
	a { color: rgb(192, 192, 255); }
}

#header {
	background-color: #eee;
}

#header_content {
	width: $page_width;
	margin: 0 auto;
}

#title {
	font-size: 2em;
	font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#container {
	clear: both;
	width: $page_width;
	margin: 0 auto;
	min-height: 500px;
	margin-top: 2em;
}

.field label {
	display: block;
	margin-top: 0.5em;
	font-weight: bold;
}

.helper {
	font-size: 0.9em;
	padding: 1em;
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 1em;

	a {
		font-weight: bold;
	}
}

.centered_content {
	width: $page_width;
	margin: 0 auto;
}

.more_link {
	font-size: 1em;
	font-weight: 600;
}

.field { 
	input[type=text] {
		width: 500px;
	}

	textarea {
		width: 500px;
		height: 50px;
	}

	textarea.textarea_medium {
		width: 500px;
		height: 200px;
	}
}

.header_action {
	margin-left: 5px;
	font-size: 12px;
}

nav.pagination {
	margin: 0;

	.page.current {
		font-weight: bold;
	}
}

table.list_table {
	border-collapse: collapse;

	tr:hover td {
		background-color: #f8f8f8;
	}

	th {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.1em;
	}

	td, th {
		vertical-align: top;
		padding-left: 14px;
		padding-right: 14px;
	}
}

div.spacer {
	height: 1em;
}

#footer_clear {
	clear:both;
	margin-bottom: 2em;
}

#footer {
	width: $page_width;
	margin: 0 auto;
	clear: both;
	border-top: 1px dotted #ccc;
	padding: 0.6em;
	font-size: 0.9em;
	color: #444;
}

.section_header {
	margin-bottom: 0.5em;
	font-size: 1.5em;
	border-bottom: 1px solid #eee;	
}

.pagination {
	margin: 0;
}

.left_column {	
	width: 600px;
}