@import "globals";

body {
	margin: 0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #008;

	&:hover {
		text-decoration: underline;
	}
}

#top {
	color: white;
	height: 33px;
	padding-top: 5px;
	background-color: $logo_blue;

	img {
		height: 30px;
	}
}

#top_content {
	width: $page_width;
	margin: 0 auto;
}

#header {
	background-color: #eee;
}

#header_content {
	width: $page_width;
	margin: 0 auto;
}

#title {
	font-size: 2em;
	font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#container {
	width: $page_width;
	margin: 0 auto;
}

.field label {
	display: block;
	margin-top: 0.5em;
	font-weight: bold;
}

.helper {
	font-size: 0.9em;
	padding: 1em;
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 1em;

	a {
		font-weight: bold;
	}
}

.centered_content {
	width: $page_width;
	margin: 0 auto;
}

.more_link {
	font-size: 1em;
	font-weight: 600;
}