#netmap {
  position: relative;
  border: 1px solid #ddd;
  overflow: hidden;

  &.raw {
    height: 100%;
    width: 100%;
  }

  a:hover {
    text-decoration: none;
  }
}

svg {
  border: 0px solid #ddd;
  background-color: white;
}

svg .line {
  stroke: black;
}

svg .entity a text, svg .rel a text { 
  font-family: Helvetica, Arial, sans-serif;
}

svg .rel.selected .line {
  /* stroke: #f91409; */
}

svg .rel .line.highlight {
  stroke: #ffff80;
  opacity: 0;
}

svg .rel.selected .line.highlight {
  stroke: #ffff80;
  opacity: 0.6;
}

svg .label { 
  display: block; 
}

#netmap:hover .label { 
  display: none; 
}

#netmap svg .rel .label {
  cursor: pointer;
}

#netmap svg .rel:hover .label {
  display: block;
}

svg .rel.selected .label {
  display: block;
}

#netmap svg .rel.hovered .label {
  display: block;
}

svg .entity .image-bg {
  fill: #fff;
}

svg .entity.selected .image-bg {
  stroke: #ffff80;
  stroke-width: 5;
  opacity: 0.5;
}

svg .entity.selected .text_rect {
  /* fill: #ffff80; */
}

svg .entity .add_button text {
  fill: #000;
}

svg .entity .add_button, svg .entity .add_button_rect {
  display: none;
}

svg .entity:hover .add_button, svg .entity:hover .add_button_rect {
  display: block;
}

svg .entity .add_button:hover {
  text-decoration: none;
}

svg text {
  fill: black;
}

svg .entity text {
  font: 12px sans-serif;
}

svg .rel text {
  font: 9px sans-serif;
  fill: #888;
}

svg image {
  fill: white;
}

svg .image {
  fill: white;
  background-color: white;
}

.map-top-row {
  margin-top: 10px;

  strong a { font-weight: bold; }
  a { font-weight: 400; }
}

.map-author {
}

.map-date {
  color: #888;  
}

.map-header {
  margin-bottom: 20px;  
}

h1.map-title {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 10px;
}

#container {
  .map-header {
    margin-bottom: 0px;
  }

  .map-top-row {
    margin-bottom: 10px;
  }

  h1.map-title {
    margin-top: 0;
  }
}

#map-description {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;

  p {
    margin-bottom: 20px;
  }
}

#fullscreen-link {
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
}

#embed-link {
  display: inline-block;
  font-size: 12px;  
  margin-left: 10px;
}

#embed-code {
  display: none;
  position: absolute;
  z-index: 100;
  text-align: right;
  margin-top: 5px;

  textarea {
    width: 500px;
    height: 80px;
  }
}

.zoom-button {
  background-color: #eee;
  border: 1px solid #ddd;
  height: 20px;
  width: 20px;
  line-height: 16px;
  font-size: 12px;
  padding: 0;

  &:focus {
    outline: none;
  }
}

#zoom-in {
  position: absolute; 
  top: 10px; 
  left: 10px;  
}

#zoom-out {
  position: absolute; 
  top: 35px; 
  left: 10px;  
}

#save {
  position: absolute;
  top: 60px;
  left: 10px;
  display: none;
}

#netmap-logo {
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 100px;

  &:hover { cursor: pointer; }
}

.map-share-buttons {
  text-align: right;

  .fb-share-button {
    position: relative;
    top: -5px;

    iframe {
      margin-left: 3px;
    }
  }

  .google-share-button {
    display: inline-block;
    margin-left: 5px;
  }
}


// EDIT CONTROLS //

#netmap.netmap-editing {
  width: 880px;
  float: left;
}

#netmap_controls {
  width: 60px;
  float: right;

  input[type=button] {
    margin-top: 5px;
  }
}

#map-description {
  clear: both;
}

#netmap_cat_ids {
  padding-left: 3px;
  padding-right: 3px;
  width: 100px;
}

#netmap_add_entity, #netmap_add_related_entities {
  display: none;
  position: absolute;
  padding: 1em;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #888;
}

#netmap_add_entity_hide, #netmap_add_related_entities_hide {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 10px;  
  font-size: 12px;
}

#netmap_add_entity_results a {
  text-decoration: underline;
}