@import "globals";

.note {
	padding: 14px;	
	border-bottom: 1px dashed #ddd;
	min-height: $user_image_size + 28px;
}

.note_image {
	float: left;
}

.note_user {
	margin-top: -4px;
	margin-left: $user_image_size + 10px;
	font-size: 1em;
	font-weight: 600;
}

.note_body {
	margin-left: $user_image_size + 10px;
	line-height: 18px;

	a {
		color: $logo_blue_lighter;
	}
}