@import "bootstrap";
@import "base/globals";
@import "base/helpers";
@import "base/layout";

.oligrapher-pending-editor-notice {
  background-color: pink;
  text-align: center;
  font-size: 0.8em;
  padding: 0.5em;

  form, button {
    display: inline-block;
  }
}
