@font-face {
    font-family: 'Give You Glory';
    src: font_url('GiveYouGlory-Regular.ttf');
}

@font-face {
    font-family: 'Voltaire';
    src: font_url('Voltaire-Regular.ttf');
}

$swamped_max_width: 1400px;
$swamped_padding: 20px;
$swamped_purple: #9E8ECD;
$swamped_orange: #DAAB8F;
$swamped_green: #689A74;
$swamped_blue: #A8BEEF;

#swamped {
    max-width: $swamped_max_width;
    padding-left: $swamped_padding;
    padding-right: $swamped_padding;
    margin: 0 auto;
}

footer {
    /* max-width: $swamped_max_width; */
    padding-left: $swamped_padding;
    padding-right: $swamped_padding;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    color: black;

    p {
        background-color: #fff;
        float: right;
        padding: 2px;
        border-radius: 5px;
    }

    a {
        font-family: 'Give You Glory';
        color: black;
        font-size: 28px;

        &:hover {
            color: $swamped_green;
            text-decoration: underline dashed $swamped_blue;
        }
    }
}



.header-image {
    position: relative;
    img {
        width: 100%;
        max-height: 500px;
    }
}

.header-text {
    font-size: 52px;
    font-family: 'Give You Glory';
    position: absolute;
    top: 20px;
    left: 20px;
}

.header-subtext {
    font-family: 'Voltaire';
    font-size: 12px;
    display: none;
    max-width: 300px;
    position: absolute;
    text-align: center;
    top: 85px;
    left: 40px;
}

.header-buttons {
    position: absolute;
    right: 10px;
    bottom: 10px;

    button {
        border: 0;
        background-color: $swamped_purple;
        &:hover {
            background-color: $swamped_orange;
        }

        color: black;
    }

}


.header-spacer {
    height: 20px;
    background: linear-gradient(#fff, rgba(0, 0, 0, -1));
}

.image-row {}

.content-row {
    font-family: 'Voltaire';
}

.btn-rat {
    &:hover {
        background-color: #FFF;
        .rat-img {
             animation-name: ratspin;
             animation-duration: 1000ms;
             animation-iteration-count: infinite;
             animation-timing-function: linear;
        }
    }
}

.rat-img {
    height: 21px;
}

.rat-unknown {
    color: $swamped_orange;
    border-bottom: 1px dashed $swamped_blue;
}

.rats {
    font-size: 18px;
    text-align: center;

    p {
        line-height: 3em;
    }

    a {
        color: $swamped_purple;

        &:hover {
            color: $swamped_orange;
            text-decoration: underline dashed $swamped_blue;
        }
    }
}



@keyframes ratspin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


@media (min-width: 666px) {
    .header-text {
        font-size: 60px;
    }
}

@media (min-width: 800px) {
    .header-subtext {
        display: block;
        max-width: 175px;
    }
}

@media (min-width: 1000px) {
    .header-subtext {
        display: block;
        font-size: 14px;
        max-width: 264px;
        left: 30px;
    }
}

@media (min-width: 1200px) {
    #tip-box {
        font-size: 14px;
        bottom: 120px;
        right: 150px;
    }
}
