@import "base/globals.scss";

/* Toolkit Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Toolkit Vars  */
$page_background_color: #fffcf7;
$navbar_background_color: #fff;
$navbar_height: 97px;
$navbar_text_color: #201747;
$article_width: 822px;
$image_left_margin: 166px;
$heading_color: #201747;
$paragraph_color: #828181;
$footer_background_color: rgba(36,39,42,0.06);

/* CUSTOM BOOTSTRAP VARIABLES  */
$grid-gutter-width: 30px;
$container-desktop: 800px + $grid-gutter-width;
$container-large-desktop: 900px + $grid-gutter-width;
$navbar-height: 130px;

/* Import bootstrap */
@import "bootstrap";
@import "bootstrap-markdown.scss";
@import "base/bootstrap-migrate.scss";

body {
    font-family: 'Montserrat', sans-serif;
}


/* Table of Contents Page */

.splash-logo-img-container {
    height: 600px;
    margin: 0 auto;
}

div.toe-row {
    padding-bottom: 5em;
}

#index-menu {
    margin-bottom: 1em;

    ul {
	display: inline-table;
    }

    li {
	display: inline;
	list-style-type: none;
    }

    li:not(:first-child) {
	padding-left: 1em;
    }
    
}

/* Footer */

#toolkit-footer {
    background-color: $footer_background_color;
    margin-bottom: 0;

    li {

	display: inline;
	list-style-type: none;
	padding-right: 20px;

	a {
	    color: $navbar_text_color;
	    @include media-breakpoint-up(sm) {
		font-size: 14px;
	    }

	    @include media-breakpoint-up(md) {
		font-size: 18px;
	    }
	    
	}
    }


    .littlesis-logo {
	width: 157px;
	height: 33px;
	margin-bottom: 1em;
    }

    p {
	font-size: 12px;
	color: #555;
    }

    h3 {
	font-size: 14px;
    }

}


/* Header */

nav.navbar  {
    background-color: $navbar_background_color;
    border-bottom: 1px solid;
    border-color: #C6BCD4;
}

.navbar-image {
    @extend .h-100;

    @include media-breakpoint-up(xs) {
    	max-width: 250px;
    }

    @include media-breakpoint-up(sm) {
    	max-width: 100px;
    }

    @include media-breakpoint-up(md) {
    	max-width: 95px;
    }

    @include media-breakpoint-up(lg) {
    	max-width: 105px;
    }
    img {
	@extend .img-fluid;
    }
}

#navbar {
    li {
    	@extend .nav-item;

	a {
	    @extend .nav-link;
	}
    }

    a:hover {
	text-decoration: underline !important;
    }
}

.navbar-nav > li > a {
    color: $navbar_text_color;
    font-size: 16px;
}

/* PAGE */

h1 {
    font-size: 36px;
    line-height: 44px;
    color: $heading_color;
}

h3, h4, h5, h6 {
    font-size: 20px; 
}

p {
    font-size: 18px;
    color: $paragraph_color;
}

hr {
    max-width: 96px;
    border: none;
    margin-left:0;
    height: 2px;
    color: #D8D8D8;
    background-color: #D8D8D8;
}

.toc-link {
    font-size: 11px;
    line-height: 28px;
}

#container {
    img {
	max-width: 100%;
    }
}
