.table-editable {
  position: relative;
  
  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;
  
  &:hover {
    color: #f00;
  }
}

/* .table-up, .table-down { */
/*   color: #007; */
/*   cursor: pointer; */
  
/*   &:hover { */
/*     color: #00f; */
/*   } */
/* } */

.table-add {
  color: #070;
  cursor: pointer;
  &:hover {
    color: #0b0;
  }
}

.table-editable {
  position: relative;
  
  .glyphicon {
    font-size: 20px;
  }
}
