.topics-list-name {
  width: 200px;

  a {
    font-weight: bold;
  }
}

#add-element-search {
  width: 200px;
}

td.fracking-element-name {
  width: 300px;
}

td.fracking-element-remove {
  width: 30px;

  a {
    color: #aaa;
  }
}

#datatable-table {
  table-layout: fixed;
}

.topics-datatable-name {
  width: 500px;
}

.topics-datatable-blurb {
  color: #888;
}

.anchor::before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}

textarea.topic-rich-textarea {
  width: 700px;
  height: 200px;
}

.topic-description {
  font-size: 16px;
}