@import "globals";

.user_image {
	height: $user_image_size;
	width: $user_image_size;
  background-size: cover;
  background-position: center center;
  border-radius: 0.5em;
}

.users_image {
	width: 75px;
}

.users_username {
	font-weight: bold;
	width: 150px;
	word-wrap: break-word;
	overflow: auto;
}

.users_name_bio {
  width: 250px;
}

.users_groups {
  width: 250px;
  font-weight: 500;
}