<%#
locals: matches, match_url
%>
<div class="external-entity-search-results">
  <% if matches.count.positive? %>

    <%= render partial: 'shared/entity_matcher/potential_match',
               locals: { url: match_url },
               collection: matches,
               as: :match %>
  <% else %>
    <p><b>No potential matches found</b></p>
  <% end %>
</div>
