<%# Locals: record, model %>

<% entity_id =  record.entity_match&.id %>

<% if entity_id.present? %>

  <div class="entity-match-table-buttons">
    <%= form_tag('/nys/ny_filer_entity', remote: true, class: 'entity-match-form') do %>
      <%= hidden_field_tag(:ny_filer_id, record.id) %>
      <%= hidden_field_tag(:entity_id, entity_id) %>
      <%= submit_tag 'Match' %>
    <% end %>
  </div>

<% end %>
