<%# LOCALS => model %>

<% emt =  EntityMatchTable.new(model) %>

<table>
  <thead>
    <tr>
      <% emt.headers.each do |col_name| %>
	<th><%= col_name %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>

    
  </tbody>
</table>
  
