<div class="row">
  <h3 class="w-100">Profile Picture</h3>
  <div class="entity-profile-image">
    <%= user_profile_image %>
    <p><%= button_to "Edit profile picture", image_user_path(@user) %></p>
  </div>
</div>
