<%= form_with(url: '/users/settings', method: :put) do %>
  <% if current_user.admin? %>
    <div class="form-group mb-2">
      <label class="mr-2 font-weight-bold">Show Stars</label>

      <label class="user-settings-toggle">
        <input name="settings[show_stars]" type="hidden" value="0" />
        <input type="checkbox"
               id="settings_show_stars"
               name="settings[show_stars]" value="1"
               onchange="this.closest('form').submit()"
               <%= @user.settings.show_stars ? 'checked="checked"' : nil %> />
        <span></span>
      </label>
    </div>
  <% end %>
<% end %>
